<template>
  <b-card>
    <b-card-title class="mb-1">
      Nombre des évaluations effectueés par activté
    </b-card-title>
    <vue-apex-charts
      type="bar"
      height="285"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</template>

<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          height: 350,
          type: 'bar',
          events: {},
        },
        // colors: ['#ea5455', '#00cfe8'],
        plotOptions: {
          bar: {
            borderRadius: 2,
            columnWidth: '40%',
            distributed: true,
          },
        },
        dataLabels: {
          enabled: true,
        },
        legend: {
          show: false,
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              colors: ['#000'],
              fontSize: '12px',
            },
          },
        },
        yaxis: {
          labels: {
            formatter: val => val.toFixed(0),
          },
        },
      },
    }
  },
  created() {
    const colors = Object.values($themeColors)
    this.chartOptions.colors = colors
    this.chartOptions.xaxis.categories = this.data.data.map(x => x.split(/(\s+)/).filter(e => e.trim().length > 0))
  },
  methods: {},
}
</script>
