<template>
  <b-card>
    <b-card-title>
      Rapport des constats effectueés par activité
    </b-card-title>
    <vue-apex-charts
      type="donut"
      height="395"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</template>

<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartOptions: {
        legend: {
          show: true,
          position: 'bottom',
          fontSize: '12px',
        },
        colors: ['#66cc66', '#93b75f', '#E7E658', '#ffffff'], // [this.colors],
        dataLabels: {
          enabled: true,
          formatter(val) {
            // eslint-disable-next-line radix
            return `${val.toFixed(2)}%`
          },
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {},
                value: {
                  fontSize: '1rem',
                  formatter(val) {
                    // eslint-disable-next-line radix
                    return val
                  },
                },
              },
            },
          },
        },
        labels: [],
        responsive: [
          {
            breakpoint: 992,
            options: {
              chart: {
                height: 380,
              },
              legend: {
                position: 'bottom',
              },
            },
          },
          {
            breakpoint: 576,
            options: {
              chart: {
                height: 320,
              },
              plotOptions: {
                pie: {
                  donut: {
                    labels: {
                      show: true,
                      name: {
                        fontSize: '1.5rem',
                      },
                      value: {
                        fontSize: '1rem',
                      },
                      total: {
                        fontSize: '1.5rem',
                      },
                    },
                  },
                },
              },
              legend: {
                show: true,
              },
            },
          },
        ],
      },
    }
  },
  created() {
    const colors = Object.values($themeColors)
    this.chartOptions.colors = colors
    this.chartOptions.labels = this.data.data
  },
  methods: {},
}
</script>
