<template>
  <b-card no-body>
    <b-card-header>
      <h4>
        Moyenne Globale
      </h4>
      <b-card-text class="font-medium-5 mb-0"> </b-card-text>
    </b-card-header>
    <vue-apex-charts
      type="radialBar"
      :height="goalOverviewRadialBar.chart.height"
      :options="goalOverviewRadialBar"
      :series="data.series"
    />
    <b-row class="text-center py-1 ">
      <b-col
        cols="6"
        class="border-top border-right d-flex align-items-between flex-column py-1"
      >
        <b-card-text class="text-muted mb-0" style="color: #51e5a8">
          Évaluations effectuées
        </b-card-text>
        <h3 class="font-weight-bolder mb-0">
          {{ data.ef + data.sim }}
        </h3>
      </b-col>

      <b-col
        cols="6"
        class="border-top d-flex align-items-between flex-column py-1"
      >
        <b-card-text class="text-muted mb-0">
          Évaluations avec SIM
        </b-card-text>
        <h3 class="font-weight-bolder mb-0" style="color: #ff928a">
          {{ data.sim }}
        </h3>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import {
  BCard, BCardText, BCardHeader, BRow, BCol,
} from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'

const $strokeColor = '#ebe9f1'
const $textHeadingColor = '#5e5873'
export default {
  components: {
    BCard,
    BCardText,
    BCardHeader,
    VueApexCharts,
    BRow,
    BCol,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      goalOverviewRadialBar: {
        chart: {
          height: 245,
          type: 'radialBar',
          sparkline: {
            enabled: true,
          },
          dropShadow: {
            enabled: true,
            blur: 3,
            left: 1,
            top: 1,
            opacity: 0.1,
          },
        },
        colors: [
          ({ value }) => {
            if (value < 85) {
              return '#e65e72'
            }
            return '#51e5a8'
          },
        ],
        plotOptions: {
          radialBar: {
            offsetY: -10,
            startAngle: -150,
            endAngle: 150,
            hollow: {
              size: '77%',
            },
            track: {
              background: $strokeColor,
              strokeWidth: '50%',
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                color: $textHeadingColor,
                fontSize: '2.86rem',
                fontWeight: '600',
              },
            },
          },
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: [''],
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100],
          },
        },
        stroke: {
          lineCap: 'round',
        },
        grid: {
          padding: {
            bottom: 30,
          },
        },
      },
    }
  },
  created() {
    if (typeof this.data.height !== 'undefined') {
      this.chartOptions.chart.height = this.data.height
    }
  },
}
</script>
