<template>
  <b-card>
    <b-card-title>
      Moyenne Par Activité
    </b-card-title>
    <vue-apex-charts
      type="bar"
      :height="hieght"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</template>

<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          toolbar: {
            show: true,
            offsetX: 10,
            offsetY: -50,
          },
        },
        annotations: {
          xaxis: [
            {
              x: 85,
              borderColor: '#f70019',
              strokeDashArray: 0,
            },
          ],
        },
        colors: [
          ({ value }) => {
            if (value < 85) {
              return '#a83145'
            }
            return '#31a851'
          },
        ],
        plotOptions: {
          bar: {
            horizontal: true,
            barHeight: '80%',
            endingShape: 'rounded',
          },
        },
        grid: {
          xaxis: {
            lines: {
              show: true,
            },
          },
          yaxis: {
            lines: {
              show: false,
            },
          },
        },
        dataLabels: {
          enabled: true,
          offsetX: -6,
          formatter: val => `${val}%`,
          style: {
            fontSize: '12px',
            colors: ['#fff'],
          },
        },
        stroke: {
          show: true,
          colors: ['#fff'],
        },
        xaxis: {
          categories: [
            ['CDISCOUNT', 'ENERGIE'],
            ['GREEN YELLOW', 'ENERGIE'],
            'CDISCOUNT VAD',
            ['MISTER ', 'MENUISSERIE (TA)'],
            'ENGIE',
          ],
          labels: {
            show: true,
            trim: false,
          },
        },
        yaxis: {
          labels: {
            show: true,
            trim: false,
          },
        },
        tooltip: {
          enabled: false,
          onDatasetHover: {
            highlightDataSeries: true,
          },
        },
      },
      hieght: 350,
      rangePicker: ['2019-05-01', '2019-05-10'],
    }
  },
  created() {
    this.chartOptions.xaxis.categories = this.data.data.map(x =>
      x.split(/(\s+)/).filter(e => e.trim().length > 0)
    )
    this.hieght = this.chartOptions.xaxis.categories.length*50
  },
}
</script>
