<template>
  <div>
    <b-card
      v-if="waitingliste == true"
      class="text-center d-flex justify-content-between"
    >
      <b-spinner
        variant="primary"
        style="width: 6rem; height: 6rem;"
        class="m-auto"
      />
    </b-card>
    <b-card
      v-else
      class="m-auto p-0"
      style="width:100%"
      :title="
        'Modification du grille d\'evaluation pour le service \'' +
          service +
          '\'' +
          ' activité ' +
          activite
      "
    >
      <b-card-body class="p-0">
        <inputrepeater
          v-if="data !== null"
          :itemsdata="data"
          @send-items="sendData"
        />
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import {
  BRow,
  BCol,
  BFormGroup,
  BFormSelect,
  BCard,
  BCardBody,
  BButton,
  BSpinner,
} from 'bootstrap-vue'
import inputrepeater from './InputItems.vue'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BCard,
    BCardBody,
    BButton,
    BSpinner,
    inputrepeater,
  },
  data() {
    return {
      service: '',
      activite: '',
      data: null,
      databackup: null,
      waitingliste: true,
      sending: false,
      userToken: useJwt.getToken(),
    }
  },
  created() {
    axios
      .get(`/api/grille/edit/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.service = response.data['title'].service
        this.activite = response.data['title'].activite
        this.data = response.data['items']
        this.databackup = this.data.map(a => ({ ...a }))
        this.waitingliste = false
      })
  },
  methods: {
    compareArrays() {
      // develop a more adavance function to check if the user will submited an unmodified grid
    },
    sendData(items) {
      var totalNote = items
        .map(item => item.bareme)
        .reduce((prev, next) => parseFloat(prev) + parseFloat(next))
      if (JSON.stringify(items) === JSON.stringify(this.databackup)) {
        this.$swal({
          title: 'Attention',
          text:
            "Aucune modification n'a été effectuée! la grille est encore la même. ",
          customClass: {
            confirmButton: 'btn btn-warning',
          },
          buttonsStyling: false,
        })
      } else {
        axios
          .post(
            '/api/grille/update',
            {
              items,
              grille: this.$route.params.id,
              totalNote,
            },
            {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${this.userToken}`,
              },
            },
          )
          .then(
            response => {
              if (response.data === 1) {
                this.$swal({
                  text: 'la grille a été modifiée avec succès',
                  icon: 'success',
                  customClass: {
                    confirmButton: 'btn btn-primary',
                  },
                  buttonsStyling: false,
                }).then(() => {
                  this.$router.push({name: 'grille-listes'})
                })
              }
              if (response.data === -1) {
                alert('erreur!')
                // redirect
              }
            },
            error => {
              console.log(error)
            },
          )
      }
    },
  },
}
</script>
