<template v-else>
  <div>
    <b-card>
      <b-row class="mb-1">
        <b-col md="5" class="m-auto">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <v-select
              id="i-activite"
              v-model="activity"
              item-text="nom"
              label="nom"
              :options="activities"
              style="width: 70%"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </div>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox>
            <b-button size="sm" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="5" style="border-left: 1px solid #ccc">
     
          <div class="d-flex align-items-center ">
                 <div style="cursor: pointer" class="mr-1" @click="switchQuality = !switchQuality"
              >Pôle qualité : </div>
              <b-form-checkbox v-model="switchQuality" id="switch-quality" name="check-button" switch>
              </b-form-checkbox>
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="selectedSites"
              label="title"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="selectedSites = []">
              Effacer
            </b-button>
          </div>
        </b-col>
        <b-col md="1">
          <b-button variant="warning" @click="resetInput">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="activity === null || rangePicker.length === 0"
            @click="sendReportingRequest"
            variant="success"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-row  class="my-1">
      <b-col >
      <b-button v-if="!waiting" variant="outline-info" size="sm" class="float-right" @click="generateReport">Télécharger en PDF</b-button>
      </b-col>
    </b-row>
    <b-card v-if="ready" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>
    <b-row v-else>
      <b-col md="2">
        <b-row>
          <b-col cols="12">
            <b-card
              v-if="waiting"
              style="height:380px;width:100%;"
              class="text-center"
            >
              <b-spinner
                style="margin-top:75%;width: 3rem; height: 3rem;"
                type="grow"
                variant="success"
              />
            </b-card>
            <b-card v-else body-class="py-1" class="">
              <h6>Évaluations effectuées</h6>
              <br />
              <h2 class="font-weight-bolder mb-1" style="color: #51e5a8">
                {{ charts.mg.ef + charts.mg.sim }}
              </h2>
            </b-card>
          </b-col>
          <b-col cols="12">
            <b-card v-if="!waiting" body-class="py-1 " class="">
              <h6>Évaluations avec SIM</h6>
              <br />
              <h2 class="font-weight-bolder mb-1" style="color: #ff928a">
                {{ charts.mg.sim }}
              </h2>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="3">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:45%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-general-local v-else :data="charts.mg" />
      </b-col>
      <b-col md="7">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="warning"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mps" />
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="7">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="dark"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpsem" />
      </b-col>
      <b-col md="5">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="danger"
          />
        </b-card>
        <span v-else>
            <span v-if="userData.role === 'admin'">
                <eval-per-qualiticien :data="charts.epq" />
            </span>
            <span v-else>
                <radial-bar-chart :data="charts.nps" />
            </span>
        </span>
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="7">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpm" />
      </b-col>
      <b-col md="5">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="success"
          />
        </b-card>

        <span v-else>
            <span v-if="userData.role === 'admin'">
                <radial-bar-chart :data="charts.nps" />
            </span>
        </span>

      </b-col>
    </b-row>
    <div>
     <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"
        :filename="`Rapport_${activity.nom}_${today}`"
        :pdf-quality="2"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
    >
        <section slot="pdf-content">
          <b-card class="mb-0" >
            <b-row>
              <b-col xl="4" class="my-0">
                  <b-img height="30" width="30" :src="appLogoImage" class="d-inline"/>
                  <h4 class="brand-text text-primary ml-1 d-inline">
                    MyQual
                  </h4>
              </b-col>
              <b-col xl="5">
                <h2 class="font-weight-bold d-inline">
                Rapport d'activité {{ activity.nom }}
                </h2>
              </b-col>
              <b-col xl="3" >
                <p class="font-weight-bold d-inline">
                Crée le : {{today}}
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <p class="font-weight-bold d-inline">
                <feather-icon size="15" icon="CalendarIcon"/> Période :  de {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[0] : rangePicker[0] }} au  {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[1] : rangePicker[1] }}</p>
              </b-col>
              <b-col xl="12" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="MapPinIcon" /> Sites :
                  <span v-for="(s,index) in selectedSites" :key="index">
                   - {{s.title}}
                  </span>
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <b-row>
                    <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="BarChart2Icon" class="mr-1"/>Moyenne Globale : {{ charts.mg.series[0]}} %
                </p>
              </b-col>
              <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="CheckCircleIcon" class="mr-1"/>Évaluations effectuées : {{ charts.mg.ef + charts.mg.sim}}
                </p>
              </b-col>
              <b-col md="4">
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="AlertCircleIcon" class="mr-1"/>Évaluations avec SIM : {{ charts.mg.sim}}
                </p>
              </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
          <moyenne-chart v-if="!waiting" :data="charts.mpsem" :toPDF="true" />
          <moyenne-chart v-if="!waiting" :data="charts.mpm" :toPDF="true"/>
          <div class="html2pdf__page-break"/>
          <radial-bar-chart v-if="!waiting" :data="charts.nps" />
        </section>
    </vue-html2pdf>
    <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress
            animated
            :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
   </div>
  </div>
</template>
<script>
/* eslint-disable object-curly-newline */
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BSpinner,
  BProgress, BModal, BImg, BFormCheckbox
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import VueHtml2pdf from 'vue-html2pdf'
import French from './flatPickerFrench'
import MoyenneGeneralLocal from './charts/MoyenneGeneralLocal.vue'
import MoyenneChart from './charts/MoyenneChart.vue'
import EvalPerQualiticien from './charts/EvalPerQualiticien.vue'
import RadialBarChart from './charts/RadialBarChart.vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    flatPickr,
    vSelect,
    BProgress,
    BModal,
    BImg,
    VueHtml2pdf,
    MoyenneGeneralLocal,
    MoyenneChart,
    EvalPerQualiticien,
    RadialBarChart,
    BSpinner,
    BFormCheckbox
  },
  data() {
    return {
      switchQuality : false,
      rangePicker: [],
      yr: null,
      progress: 0,
      activity: {
        nom: null,
      },
      activities: [],
      ready: true,
      waiting: true,
      onprogressbol: false,
      today: null,
      switchDate: false,
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      selectedSites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },

        {
         title:'BDX',
         id:4
         },
                {
    site:'NSL',
id:4,

        }
      ],
      sites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
        {
         title:'BDX',
         id:4
        },
           {
         title:'NSL',
         id:5
        },
      ],
      years: [],
      charts: {
        mg: {
          series: [],
          ef: null,
          sim: null,
        },
        mps: {
          title: 'Moyenne des évaluations par service',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
        },
        mpsem: {
          title: 'Moyenne des évaluations par semaine',
          data: [
          ],
          series: [
            {
              name: '',
              data: [
              ],
            },
          ],
          height: '350',
        },
        mpm: {
          title: 'Moyenne des évaluations par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '350',
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
          height: '335',
        },
        nps: {
          title: 'Nombre des évaluations par site',
          series: [],
          data: [],
          height: '390',
        },
      },
      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      userToken: useJwt.getToken(),
      userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {
    valider() {
      /* eslint-disable operator-linebreak */
      return false
      /* eslint-enable operator-linebreak */
    },
  },
  created() {
    var i
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
    const currentyear = new Date().getFullYear()
    const year2014 = new Date('2019-01-01').getFullYear()
    for (i = year2014; i <= currentyear; i += 1) {
      this.years.unshift(i)
    }
    // get activities
    axios
      .get('/api/activite/all', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
  methods: {
    resetInput() {
      this.activity = []
      this.yr = []
      this.rangePicker = []
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = false
      this.waiting = true
      const sitestosend = this.selectedSites.map(element => element.title)
      axios
        .get('/api/reporting/activity', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            dateRange: rangetosend,
            selectedSites: sitestosend,
            year: this.yr,
            activityId: this.activity.id,
            switchDate: this.switchDate,
            switchQuality : this.switchQuality,
          },
        })
        .then(response => {
          this.charts.mg.series = [response.data.moyenne]
          this.charts.mg.ef = response.data.eval_ef
          this.charts.mg.sim = response.data.eval_sim
          this.charts.mps.data = Object.keys(response.data.moyenne_par_service)
          this.charts.mps.series[0].data = Object.values(response.data.moyenne_par_service)
          this.charts.mpsem.data = Object.keys(response.data.moyenne_par_semaine)
          this.charts.mpsem.series[0].data = Object.values(response.data.moyenne_par_semaine)
          this.charts.mpm.data = Object.keys(response.data.moyenne_par_mois)
          this.charts.mpm.series[0].data = Object.values(response.data.moyenne_par_mois)
          this.charts.nps.data = Object.keys(response.data.eval_par_site)
          this.charts.nps.series = Object.values(response.data.eval_par_site)
          // this.charts.ratio.data = Object.keys(response.data.eval_par_activite)
          // this.charts.ratio.series = Object.values(response.data.eval_par_activite)
          this.charts.epq.data = Object.keys(response.data.eval_par_qualiticien)
          this.charts.epq.series[0].data = Object.values(response.data.eval_par_qualiticien)
          this.waiting = false
        })
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
