<template>
  <div>
    <b-card class="rounded-0">
      <b-row
        class=" border-bottom mb-1"
        v-for="(item, index) in elements"
        :key="index"
      >
        <b-col md="3">
          <p class="font-weight-bold" style="margin-top:3%">
            {{ item.nom }}
          </p>
        </b-col>
        <b-col md="7">
          <b-form-group v-slot="{ ariaDescribedby }">
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="AQ"
              size="sm"
              button-variant="outline-success"
              >ACQUIS</b-form-radio
            >
               <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="PA"
              size="sm"
              button-variant="outline-info"
              >PARTIEL</b-form-radio
            >
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="NAQ"
              size="sm"
              button-variant="outline-warning"
              >NON ACQUIS</b-form-radio
            >
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              variant="outline-success"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="NA"
              size="sm"
              button-variant="outline-secondary"
              >N/A</b-form-radio
            >
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="SI"
              size="sm"
              button-variant="outline-danger"
              >SI</b-form-radio
            >
          </b-form-group>
        </b-col>
        <b-col class="mt-2">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            @click="Reporting(item)"
          >
            <feather-icon icon="BarChart2Icon" size="23" />
            Reporting du item 
          </b-button>
        </b-col>
      </b-row>
    </b-card>
      <b-modal
    v-model="loginwait"
    hide-footer
    hide-header
    hide-header-close
    no-close-on-backdrop
    size="sm"
    centered
  ><div class="d-flex justify-content-center my-2 ">
    <b-spinner
      class="mx-1"
      variant="primary"
      style="width: 6rem; height: 6rem;"
    />
  </div>
  </b-modal>
  <b-modal
     v-model="reponse2"
    centered
    modal-class="modal-info"
    size="lg"
     ok-variant="outline-info"
     cancel-variant="outline-danger"
      cancel-title="Annuler"
    >

         <b-col cols="12">
          <h2 class="mt-2  mb-2 brand-text ">
          Liste des agents :
        </h2>
          <b-table
            hover
            responsive
              :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
          >
         
          </b-table>
        </b-col>
        <b-col cols="12">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>


  </b-modal>
  </div>
</template>
<script>
import {
  BRow,
  BModal,
  BSpinner,
  BCol,
  BFormGroup,
  BCard,
  BButton,
  BFormRadio,
  BSidebar,
  VBToggle,
  BFormInput,
  BPagination,
  BTable,
} from 'bootstrap-vue'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import FeatherIcon from '@/@core/components/feather-icon/FeatherIcon.vue'

export default {
  components: {
    BModal,
  BSpinner,
    BRow,
    BCol,
    BFormGroup,
    BCard,
    BButton,
    FeatherIcon,
    BFormRadio,
    BSidebar,
    BFormInput,
    BPagination,
    BTable,
  },
  directives: {
    Ripple,
    'b-toggle': VBToggle,
  },
  props: {
    elements: {
    type:Array
    },
    rangePicker : {
      type:[String, Array]
    }, 
    activity :{
      type : Number
    },
    serviceId : {
      type : Number
    }
    },
  data() {
    return {
      reponse2 : false,
           perPage: 5,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      fields: [
        {
          key: 'matricule',
          label: 'matricule',
          sortable : true,
        },
        {
          key: 'nom',
          label: 'Nom',
          sortable: true,
        },
        {
          key: 'prenom',
          label: "prenom",
          sortable: true,
        },
      ],
      items : [],
      loginwait : false,
      activites: [],
      agents: [],
      selected: null,
      selected2: 1,
      selected3: 1,
      items: [
        { id: 1, note: null },
        { id: 2, note: null },
        { id: 3, note: null },
        { id: 4, note: null },
      ],
      temp_item: {
        g_ko: null,
        g_ok: null,
        g_si: null,
        g_na: null,
      },
      sidebarvisible: false,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
  },
  created() {
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
    handeaconchange() {
      this.serviceId = null
    },
    triggersidebar(item) {
      this.temp_item = null
      this.temp_item = item
      this.sidebarvisible = true
    },
    Reporting(item) {
      if(this.rangePicker.length === 0){
             this.$swal({
                  icon: 'danger',
                  title: "Vous n'avez pas encore sélectionné une période !",
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                })
      }
  else {
  console.log(JSON.stringify(item.element_id))
      this.loginwait = true
         var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
     axios
      .get('/api/reporting/item2', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
     params: {
            dateRange: rangetosend,
            note: JSON.stringify(item.note),
            activity : this.activity,
            serviceId : this.serviceId,
            element_id : JSON.stringify(item.id)
          },
      })
      .then(response => {
        if(response.data == 'no data found') {
          this.loginwait = false
            this.$swal({
                  icon: 'success',
                  title: "Aucun agent trouvé !",
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
        }
        else {
        this.loginwait = false
        this.item = []
        this.items = []
        this.items = response.data
        this.reponse2 = true
        this.totalRows = this.items.length
        }
        
      })
    }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
