<template>
  <div>
    <b-card class="m-auto w-8">
      <b-row
        ><b-col md="">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="activite"
              :options="activites"
              @input="handeaconchange"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service :" label-for="i-service">
            <v-select
              v-model="serviceId"
              id="i-service"
              :options="serviceoptions"
              label="nom"
              @input="handleServiceChange"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
       
             <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
         </div>
        </b-col>
      </b-row>
     
    </b-card>
    <br /><br />
    <span v-if="serviceId !== null && checkServiceGrid === true">
      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <eval-form :elements="item.elements"  :rangePicker="rangePicker" :activity="activiteId.id" :serviceId="serviceId.id"  />
      </span>
      <br />
    </span>
    <span v-else>
      <b-card class="justify-content-center font-weight-bold">
        <h4 v-if="serviceId === null" class="text-center">
          Veuillez choisir l'activité et le service désiré!
        </h4>
        <h4
          v-if="serviceId !== null && checkServiceGrid === false"
          class="text-center"
          style="color:#f57179"
        >
          Le service n'a pas encore une grille d'evaluation !
        </h4>
      </b-card>
    </span>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormCheckbox,
  VBPopover,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import EvalForm from './EvalForm.vue'
import {TheMask} from 'vue-the-mask'
import Cleave from 'vue-cleave-component'
// eslint-disable-next-line import/no-extraneous-dependencies
import 'cleave.js/dist/addons/cleave-phone.us'
import flatPickr from 'vue-flatpickr-component'
import French from './flatPickerFrench'
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    EvalForm,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    TheMask,
    Cleave,
    flatPickr,
  },
  directives: {
    'b-popover': VBPopover,
    Ripple,
  },
  data() {
    return {
     config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      rangePicker: [],
      dap: '',
       time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
      
        SousmotifsPoint : '',
      qualifCyc : '',
      qualifsCyclo : [
              {
                nom :'Vélo en cours de location',
                id:1
              },
               {
                nom :'Facturation ( Trajet/Caution/Divers)',
                id:2
              },
               {
                nom :'Mon compte LD',
                id:3
              },
               {
                nom :'Mon compte CD',
                id:4
              },
                  {
                nom :'Informations et signalements',
                id:5
              },
                  {
                nom :'Appel parasite',
                id:6
              },
                  {
                nom :'Location Longue Durée(VLD)',
                id:7
              },
                   {
                nom :"Option e-velo'v",
                id:8
              },
                   {
                nom :"Application Vélo'v officiel",
                id:9
              },
                    {
                nom :"Mon compte",
                id:10
              },
      ],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      motifsPoint : '',
      motifsPoints : [
    



      
      ],
      qualifs: [
              {
                nom :'vant Vente - Approvisionnement ',
                id:1
              },
               {
                nom :'Commande validée',
                id:2
              },
                {
                nom :'Conseil autre produit ',
                id:3
              },
                {
                nom :'Conseils café ',
                id:4
              },
               {
                nom :'Conseils Machine à café en grain ',
                id:5
              },
                {
                nom :'Conseils Machine expresso manuelle ou moulin ',
                id:6
              },
                {
                nom :'Geste co ( BOA, ODR, Devis, Remise)  ',
                id:7
              },
                {
                nom :'Incident ( Mot de passe, panier, Commande…) ',
                id:8
              },
                  {
                nom :'Infos service ( Livraison, Paiement, Abonnement…)  ',
                id:9
              },
                {
                nom :'Colis endommagé ',
                id:10
              },
                 {
                nom :'Colis Perdu ',
                id:11
              },
                 {
                nom :'Contestation de Livraison ',
                id:12
              },
                {
                nom :'Retard Transporteur ',
                id:13
              },
              {
                nom :'Retour de colis  ',
                id:14
              },
                {
                nom :'Suivi de colis  ',
                id:15
              },
                 {
                nom :'Approvisionnement ',
                id:16
              },
               {
                nom :"Conseils d'utilisation  ",
                id:17
              },
              {
                nom :"Facture ",
                id:18
              },
                {
                nom :"Modification/annulation de commande ou d'abonnement",
                id:19
              },
               {
                nom :"Problème qualité (capsules, cafés, machine, conditionnement))",
                id:19
              },
               {
                nom :"Avis (client, produit, site, Q/R)",
                id:20
              },
               {
                nom :"BOA non utilisé",
                id:21
              },
               {
                nom :"Erreur prépa (Colis manquant, DLC-DLUO)",
                id:22
              },
                {
                nom :"Offre de remboursement",
                id:23
              },
                {
                nom :"Rétractation",
                id:24
              },
                 {
                nom :"Demande d'accord commercial",
                id:25
              },
                {
                nom :"Demande pièces détachées",
                id:26
              },
                      {
                nom :"Hors garantie Fabricant ",
                id:27
              },
                    {
                nom :"Hors garantie MAXICOFFEE",
                id:28
              },
                 {
                nom :"PAD ( Panne au déballage )",
                id:29
              },
              {
                nom :"Q / R Fournisseur ",
                id:30
              },
               {
                nom :"Sous garantie Fabricant",
                id:31
              },
               {
                nom :"Sous Garantie Maxicoffee ",
                id:32
              },
                  {
                nom :"Divers - Autres ( à préciser)",
                id:33
              },
                {
                nom :"Divers - Demande pour autre service  ( Hors service client et SAV )",
                id:34
              },
               {
                nom :"Divers - Ecole café ( Formations, Renseignements … )",
                id:35
              },
                {
                nom :"Sortant - New lead ",
                id:36
              },
                {
                nom :"Sortant - Relance lead ",
                id:37
              },
               {
                nom :"Sortant - Répondeur ",
                id:38
              },
               {
                nom :"Sortant - Suivi installation ",
                id:39
              },
      ],
      qualif : null,
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    SousmotifsPoints(){
 if (this.motifsPoint) {
        
        const ac = this.motifsPoints.find(x => x.id === this.motifsPoint.id)
      
      return ac.sousmotifs
      }
      return []
    },
    serviceoptions() {
      if (this.activiteId) {
        console.log(this.activiteId.id)
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
    cnoteg() {
      if(this.activiteId.id ===4){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
        
            if (y.note === 'AQ' || y.note === 'NA') {
            
               re += y.bareme
            }
            if (y.note === 'PA') {
          
              re += (y.bareme/2)
            }
          }
        })

      })

      }
else{
        var re = null
      let notes = []
     this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined' && y.note !== 'NA') {
            
            notes.push(y.note)
          }
        })

      })
       let notes_cal = 100 /notes.length
      notes.forEach(element =>{
        if(element=== 'AQ') {
          re +=  notes_cal
        }
        if(element=== 'PA') {
          re += notes_cal/2
        }
      })
}
      


      if (re){
       if(this.malus){
        re = re - this.malus*(100/600)
       }
       re = re.toFixed(2)
      }

      return re
    },
    resuvar() {
      if (this.cnoteg > 85) {
        return 'outline-success'
      }
       if (this.cnoteg == 50.00) {
        return 'outline-info'
      }
      if (this.cnoteg > 50 && this.cnoteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },
    serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
               if (this.serviceId.id==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
              if (this.serviceId.id==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
             if (this.serviceId.id==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
             if (this.serviceId.id==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
              if (this.serviceId.id==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
          if (this.serviceId.id==63) {
          const agents = this.agents.filter(agent => agent.service === 62) // mm reclamation
          return agents
        }
           if (this.serviceId.id==68) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==71) {
          const agents = this.agents.filter(agent => agent.service === 69) // mm reclamation
          return agents
        }
          if (this.serviceId.id==74) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
    console: () => console,
  },
  created() {
     axios
      .get('/api/motifs/allmotifs', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
       this.motifsPoints = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
    handeaconchange() {
      this.serviceId = null
    },
    sendData() {
      
      // verification que tous les elements ont une note
      var notetest = false
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note === 'undefined') {
            notetest = true
          }
        })
      })
      // verification des données
      if (!this.agentId || !this.indice || !this.clientId || notetest || !this.date || (this.activiteId.id===20 && !this.qualif) || !this.dap) {
        if(this.activiteId.id===20 && !this.qualif){
           this.$swal({
            text: "vous n'avez pas encore sélectionné la qualification d'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.agentId) {
          this.$swal({
            text: "vous n'avez pas encore sélectionné l'agent !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (notetest) {
          this.$swal({
            title: 'Attention !',
            text: 'vous devez evaluer tous les éléments!',
            icon: 'warning',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          })
        }
        if (!this.dap) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi la durée d'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
      } else if (this.sim) {
        this.$swal({
          title: 'Êtes-vous sûr?',
          text:
            "vous avez marqué que cette evaluation à une situation inacceptable majeure ! le téléconseiller aura automatiquement '0'",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'continuer',
          cancelButtonText: 'annuler',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.sendRequest()
          }
        })
      } else {
        this.sendRequest()
      }
    },
    handleServiceChange() {
      // check if this.serviceId is not null
      this.items = null
      this.checkServiceGrid = null
      if (this.serviceId) {
        // if true check if the service has a grid
        axios
          .get(`/api/grille/hasnotgrid/${this.serviceId.id}`, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            if (!response.data) {
              axios
                .get(`/api/eval/grid/${this.serviceId.id}`, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                })

              this.checkServiceGrid = true
            } else {
              this.checkServiceGrid = false
            }
          })
        // if true load grid elements
      }
    },
    sendRequest() {
      this.sending = true
      // to reduce request time i removed these
      /* const itemsToSend = Object.assign(...this.items)
        itemsToSend.forEach(x => {
          x.elements.forEach(y => {
            delete y.g_ok
            delete y.g_ko
            delete y.g_si
            delete y.nom
          })
        }) */

      axios
        .post(
          '/api/eval/save',
          {
            activiteId: this.activiteId.id,
            serviceId: this.serviceId.id,
            indice: this.indice,
            clientId: this.clientId,
            date: this.date,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items: this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualif : this.qualif,
            qualiticien: this.userData.userId,
            role: this.userData.role,
            dap : this.dap
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
               this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>

