<template>
  <div>
    <b-row>
      <b-col md="12" sm="12" lg="12">
          <b-card>
           <template #header>
              <h4 class="mb-0 text-primary mx-auto">Obtenir le reporting par bloc :</h4>
            </template>
            <b-card-text>
              <b-row>
                <b-col md="4" sm="4" lg="4">
                  <b-form-group label="Activité :" label-for="i-activite">
                    <v-select
                      id="i-activite"
                      v-model="activiteId"
                      item-text="activite"
                      item-value="id"
                      label="activite"
                      :options="activites"
                    >
                      <span slot="no-options">
                        aucune activité
                      </span>
                    </v-select>
                  </b-form-group>
                </b-col>
                <b-col md="4" sm="4" lg="4">
                  <b-form-group label="Service :" label-for="i-service">
                    <v-select
                      v-model="serviceId"
                      id="i-service"
                      :options="serviceoptions"
                      label="nom"
                    >
                      <span slot="no-options">
                        aucun service
                      </span>
                    </v-select>
                  </b-form-group>
                </b-col>
                <b-col  md="4" sm="4" lg="4">
                  <b-form-group label="Période :" >
                     <flat-pickr
                      id="periode"
                      v-model="rangePicker"
                      :config="config"
                      class="form-control flat-picker bg-transparent border-0 shadow-none"
                      placeholder="Choisissez une periode ..."
                      style="width: 100%"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row class="mt-2">
                <b-col md="9" sm="9" lg="9"/>
                <b-col md="3" sm="3" lg="3">
                  <b-button variant="outline-warning" @click="reset()">Effacer</b-button>
                  <b-button variant="outline-primary" @click="handlRequest()">valider</b-button>
                </b-col>
              </b-row>
            </b-card-text>
          </b-card>
      </b-col>
    </b-row>
    <b-row v-if="nodata">
      <b-col md="2" sm="2" lg="2"/>
      <b-col md="8" sm="8" lg="8">
        <b-card>
          <h4 class="text-center">
            Veuillez choisir l'activité et la période ou l'année.<br />
            puis valider les données.
          </h4>
        </b-card>
      </b-col>
      <b-col md="2" sm="2" lg="2"/>
    </b-row>
    <b-modal v-model="loading" hide-footer hide-header hide-header-close no-close-on-backdrop centered>
      <div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
    <div v-if="nodata===false">
        <b-row class="mb-2">
          <b-col cols="10"></b-col>
          <b-col cols="2">
            <b-button variant="outline-info" @click="generateReport"  size="sm" >
                Exporter en PDF
            </b-button>
          </b-col>
        </b-row>
        <b-row v-for="(agent_bloc,index) in agents_blocs" :key="index">
            <b-col md="12"  sm="12" lg="12">
                <b-card>
                 <template #header>
                    <h4 class="mb-0 text-primary mx-auto">{{index}}</h4>
                  </template>   
                  <b-card-text>
                    <by-bloc-new-laredoute :data="agent_bloc" v-if="activiteId.id ===11"> </by-bloc-new-laredoute>
                      <by-bloc-new :data="agent_bloc" v-else ></by-bloc-new>
                  </b-card-text> 
                </b-card>
            </b-col>
        </b-row>
        <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"
        :pdf-quality="2"
         filename="Rapporting_by_bloc"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
        >
        <section slot="pdf-content">
          <b-row v-for="(agent_bloc,index) in agents_blocs" :key="index">
              <b-col md="12"  sm="12" lg="12">
                  <b-card>
                  <template #header>
                      <h4 class="mb-0 text-primary mx-auto">{{index}}</h4>
                    </template>   
                    <b-card-text>
                        <by-bloc-new :toPDF="true" :data="agent_bloc"></by-bloc-new>
                    </b-card-text> 
                  </b-card>
              </b-col>
          </b-row>
        </section>
        </vue-html2pdf>
    </div>
      <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        >
        <div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress animated :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import French from './flatPickerFrench'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import ByBlocNew from './charts/ByBlocNew.vue'
import ByBlocNewLaredoute from './charts/ByBlocNewLaredoute.vue'
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BCardText,
  BButton,
  BSpinner,
  BModal,
  BProgress
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import VueHtml2pdf from 'vue-html2pdf'
import { $themeColors } from '@themeConfig'
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    BCardText,
    BButton,
    vSelect,
    flatPickr,
    BSpinner,
    BModal,
    ByBlocNew,
    VueHtml2pdf,
    BProgress,
    ByBlocNewLaredoute,
  },
  data(){
    return {
      activiteId : null,
      activites : [],
      serviceId : null,
      rangePicker : [],
      progress: 0,
      onprogressbol: false,
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      loading :false,
      userToken: '',
      agents_blocs : [],
      nodata : true,
            series: [
                    {
                    name: 'ACQUIS',
                    data: [],
                    },
                    {
                    name: 'Partiel',
                    data: [],
                    },
                    {
                    name: 'Non ACQUIS',
                    data: [],
                    },
                    {
                    name: 'N/A',
                    data: [],
                    },
                    {
                    name: 'SI',
                    data: [],
                    },
                ],
             chartOptions: {
                chart: {
                type: 'bar',
                height: 350,
                toolbar: {
                    show: true,
                    offsetX: -15,
                    offsetY: -30,
                    export: {
                    csv: {
                        filename: 'moyenne_par_element',
                    },
                    svg: {
                        filename: 'moyenne_par_element',
                    },
                    png: {
                        filename: 'moyenne_par_element',
                    },
                    },
                },
                },
                plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '65%',
                    endingShape: 'rounded',
                },
                },

                annotations: {
                yaxis: [
                    {
                    y: 85,
                    borderColor: '#f70019',
                    strokeDashArray: 0,
                    label: {
                        text: '85%',
                        style: {
                        fontSize: '15px',
                        color: '#fff',
                        background: '#f70019',
                        },
                    },
                    },
                ],
                },
                colors: [
                $themeColors.success,
                $themeColors.info,
                $themeColors.warning,
                $themeColors.secondary,
                $themeColors.danger,
                ],
                dataLabels: {
                position: 'top',
                enabled: false,
                formatter: val => `${val}%`,
                style: {
                    fontSize: '15px',
                    colors: ['black'],
                },
                offsetY: 100
                },
                stroke: {
                show: true,
                width: 2,
                colors: ['transparent'],
                },
                xaxis: {
                categories: [],
                labels: {
                    style: {
                    fontSize: '11px',
                    fontWeight: 600,
                    },
                },
                },
                yaxis: {},
                fill: {
                opacity: 1,
                },
                tooltip: {
                y: {
                    formatter: val => `${val} %`,
                },
                },
            },
    }
  },
  computed: {
    serviceoptions(){
     if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    }
  },
  methods : {
    getActvities(){
       axios.get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    },
    reset(){
      this.activiteId = null
      this.serviceId = null 
      this.rangePicker = []
    },
    handlRequest(){
      if(!this.activiteId || !this.serviceId || this.rangePicker.length==0){
        if(!this.activiteId){
            this.$swal({
            text: "vous n'avez pas encore choisi l'activité !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        else if(!this.serviceId){
             this.$swal({
            text: "vous n'avez pas encore choisi service !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        else if(this.rangePicker.length==0) {
          this.$swal({
                  text: "vous n'avez pas encore choisi la période !",
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  buttonsStyling: false,
                })
        }
      }
      else {
        this.sendRequest()
      }
    },
    sendRequest(){
        this.loading = true
        var rangetosend = this.rangePicker
          if (typeof this.rangePicker === 'string') {
            rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
          }
         axios.get('/api/reporting/bloc/new',
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
            params: {
            dateRange: rangetosend,
            activity : this.activiteId.id,
            serviceId : this.serviceId.id,
          },
          })
          .then(response=>{
            this.agents_blocs = response.data
            console.log(response.data)
            // this.chartOptions.xaxis.categories = response.data[1] 
            // this.series[0].data = response.data[0].aq
            // this.series[1].data = response.dataa[0].pa
            // this.series[2].data = response.data[0].naq
            // this.series[3].data = response.data[0].na
            // this.series[4].data = response.data[0].si
          })
          .then(()=>{
            this.loading = false
            this.nodata = false 
          })
          .catch((error)=>{
            console.log(error)
          })
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
  mounted(){
    this.getActvities()
  },
  created(){
    this.userToken = useJwt.getToken()

  }
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>