<template>
  <div>
    <b-card>
      <b-row class="mb-1">
        <b-col md="4" style="margin-left:20%">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <b-form-select
              id="i-activite"
              :options="activities"
              text-field="activite"
              value-field="id"
              v-model="activity"
              style="width: 70%"
            />
          </div>
        </b-col>
        <b-col md="4">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Service :</div>
            <b-form-select
              id="i-service"
              :options="serviceoptions"
              v-model="service"
              text-field="nom"
              value-field="id"
              style="width: 70%"
            />
          </div>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col  style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox>
            <b-button size="sm" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="5" style="border-left: 1px solid #ccc">
          <div class="d-flex align-items-center ">
              <div style="cursor: pointer" class="mr-1" @click="switchQuality = !switchQuality"
              >Pole qualité : </div>
              <b-form-checkbox v-model="switchQuality" id="switch-quality" name="check-button" switch>
              </b-form-checkbox>
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="selectedSites"
              label="title"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="selectedSites = []">
              Effacer
            </b-button>
          </div>
        </b-col>
        <b-col md="1">
          <b-button variant="warning" @click="resetInput">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="service === null || rangePicker.length === 0"
            @click="sendReportingRequest"
            variant="success"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-row  class="my-1">
      <b-col >
      <b-button v-if="!waiting" variant="outline-info" size="sm" class="float-right" @click="generateReport">Télécharger en PDF</b-button>
      </b-col>
    </b-row>
    <b-card v-if="ready" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité, le service et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>
    <b-row v-else>
    <b-col md="12">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
    <b-row v-else  >
      <b-col md="4" sm="4">
          <moyenne-globale-chart :data="charts.mg" />
      </b-col>
             

 <b-col md="8" sm="8">
   <element-partie-moyenne-laredoute   v-if="activity==11" :data="charts2.mpeLaredoute" />
  <element-partie-moyenne-escda v-else-if="escda===true" :data="charts3.mpe"></element-partie-moyenne-escda> 
  <element-partie-moyenne   v-else :data="charts2.mpe" />
</b-col> 
        </b-row>
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col>
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <div v-else>
 <b-row>
   <b-col md="12">
    <ElementMoyenneLredoute v-if="activity==11" :data="charts.mpeLaredoute" :toPDF="true" />
   <element-partie-moyenne-escda  v-else-if="escda===true" :data="charts3.mpe" ></element-partie-moyenne-escda>
      <element-moyenne v-else :data="charts.mpe" :toPDF="true" />
   </b-col>

 </b-row>
        </div>
  


        
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="2"></b-col>
      <b-col md="8">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-chart2 v-else :data="charts.mpsem" />
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="2"></b-col>
      <b-col md="8">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpm" />
      </b-col>
    </b-row>
    <b-row v-if="!ready && userData.role === 'admin'">
      <b-col md="6">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <my-table v-else :data="data.teleconseillers" />
      </b-col>
      <b-col md="6">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <my-table v-else :data="data.qualiticiens" />
      </b-col>
    </b-row>
    <b-row v-else-if="!ready && userData.role !== 'admin'">
      <b-col md="2"></b-col>
      <b-col md="8">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <my-table v-else :data="data.teleconseillers" />
      </b-col>
    </b-row>
    <div v-if="!waiting">
    <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"
        :filename="`Rapport_${serviceName}_${activityName}_${today}`"
        :pdf-quality="2"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
    >
        <section slot="pdf-content">
          <b-card class="mb-0">
            <b-row>
              <b-col xl="4" class="my-0">
                  <b-img height="30" width="30" :src="appLogoImage" class="d-inline"/>
                  <h4 class="brand-text text-primary ml-1 d-inline">
                    MyQual
                  </h4>
              </b-col>
              <b-col xl="5">
                <h4 class="font-weight-bold d-inline"  >
                Rapport du service {{ serviceName }} - {{ activityName }}
                </h4>
              </b-col>
              <b-col xl="3" >
                <p class="font-weight-bold d-inline">
                Crée le : {{today}}
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <p class="font-weight-bold d-inline">
                <feather-icon size="15" icon="CalendarIcon"/> Période :  de {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[0] : rangePicker[0] }} au  {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[1] : rangePicker[1] }}</p>
              </b-col>
              <b-col xl="12" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="MapPinIcon" /> Sites :
                  <span v-for="(s,index) in selectedSites" :key="index">
                   - {{s.title}}
                  </span>
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <b-row>
                    <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="BarChart2Icon" class="mr-1"/>Moyenne Globale : {{ charts.mg.series[0]}} %
                </p>
              </b-col>
              <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="CheckCircleIcon" class="mr-1"/>Évaluations effectuées : {{ charts.mg.ef + charts.mg.sim}}
                </p>
              </b-col>
              <b-col md="4">
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="AlertCircleIcon" class="mr-1"/>Évaluations avec SIM : {{ charts.mg.sim}}
                </p>
              </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
         <b-row v-if="!waiting">
<b-col md="4" sm="8">
  <element-partie-moyenne-escda v-if="escda=== true" :data="charts3.mpe" ></element-partie-moyenne-escda>
            <element-moyenne v-else  :data="charts.mpe" :toPDF="true" />
            
</b-col>
<b-col md="8" sm="8">
   <element-partie-moyenne-escda v-if="escda===true" :data="charts3.mpe"></element-partie-moyenne-escda> 
  <element-partie-moyenne v-else :data="charts2.mpe" />
</b-col>
         </b-row>
          <moyenne-chart v-if="!waiting" :data="charts.mpsem" :toPDF="true" />
          <div class="html2pdf__page-break"/>
          <section class="pdf-item">
          <moyenne-chart v-if="!waiting" :data="charts.mpm" :toPDF="true"/>
          </section>
          <my-table :data="data.teleconseillers" :toPDF="true"/>
        </section>
    </vue-html2pdf> 
    <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress
            animated
            :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
   </div>
  </div>
</template>
<script>
/* eslint-disable object-curly-newline */
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress,
  BModal,
  BImg,
  BTable,
  BFormCheckbox
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import flatPickr from 'vue-flatpickr-component'
import VueHtml2pdf from 'vue-html2pdf'
import ElementMoyenne from './charts/ElementMoyenne.vue'
import ElementMoyenneEscda  from './charts/ElementMoyenneEscda.vue'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import MoyenneChart from './charts/MoyenneChart.vue'
import MoyenneChart2 from './charts/MoyenneChart2.vue'
import MyTable from './charts/MyTable.vue'
import French from './flatPickerFrench'
import ElementPartieMoyenne from './charts/ElementPartieMoyenne.vue'
import ElementPartieMoyenneEscda from './charts/ElementPartieMoyenneEscda.vue'
import ElementPartieMoyenneLaredoute  from './charts/ElementPartieMoyenneLaredoute.vue'
import ElementMoyenneLredoute from './charts/ElementMoyenneLredoute.vue'


export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    vSelect,
    BFormSelect,
    BSpinner,
    flatPickr,
    BProgress,
    BModal,
    BImg,
    BTable,
    VueHtml2pdf,
    ElementMoyenne,
    MoyenneGlobaleChart,
    MoyenneChart,
    MyTable,
    BFormCheckbox,
    ElementPartieMoyenne,
    MoyenneChart2,
    ElementPartieMoyenneEscda,
    ElementMoyenneEscda,
    ElementPartieMoyenneLaredoute,
    ElementMoyenneLredoute,
    
  },
  data() {
    return {
      escda : false,
      switchQuality: false,
      activities: null,
      activity: null,
      service: null,
      rangePicker: [],
      yr: null,
      ready: true,
      waiting: true,
      today: null,
      progress: 0,
      onprogressbol: false,
      switchDate: false,
      userData: JSON.parse(localStorage.getItem('userData')),
      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      selectedSites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
        {
         title: 'BDX',
         id:4,
         },
        {
          title:'NSL',
          id:5,
        }
      ],
      sites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
          {
          title:'BDX',
           id:4,
        },
          {
          title:'NSL',
           id:5,
        },
      ],
      years: [],
      data: {
        qualiticiens: {
          title: 'Liste des Qualiticiens',
          items: [],
        },
        teleconseillers: {
          title: 'Liste des Téléconseillers évalués',
          items: [],
        },
      },
      //
       charts2: {
          mg: {
            series: null,
            ef: null,
            sim: null,
            height: 50,
          },
          mpeLaredoute :{
            series: [
            {
              name: 'Excellent',
              data: [],
            },
            {
              name: 'Bon',
              data: [],
            },
                        {
              name: 'Moyen',
              data: [],
            },
            {
              name: 'Mauvais',
              data: [],
            },

          ],
          data: {
          },
        },
          mpe: {
            series: [
              {
                name: 'ACQUIS',
                data: [],
              },
                {
                name: 'Partiel',
                data: [],
              },
              {
                name: 'Non ACQUIS',
                data: [],
              },
              {
                name: 'N/A',
                data: [],
              },
              {
                name: 'SI',
                data: [],
              },
            ],
            data: {
            },
          },

      },
      charts3: {
        mg: {
          series: null,
          ef: null,
          sim: null,
          height: 50,
        },
        mpe: {
          series: [
            {
              name: 'OK',
              data: [],
            },
            {
              name: 'KO',
              data: [],
            },


          ],
          data: {
          },
        },
                mpeLaredoute :{
            series: [
            {
              name: 'Excellent',
              data: [],
            },
            {
              name: 'Bon',
              data: [],
            },
                        {
              name: 'Moyen',
              data: [],
            },
            {
              name: 'Mauvais',
              data: [],
            },

          ],
          data: {
          },
        },

      },
      //
      charts: {
        mg: {
          series: null,
          ef: null,
          sim: null,
          height: 50,
        },
        mpeLaredoute :{
            series: [
            {
              name: 'Excellent',
              data: [],
            },
            {
              name: 'Bon',
              data: [],
            },
                        {
              name: 'Moyen',
              data: [],
            },
            {
              name: 'Mauvais',
              data: [],
            },

          ],
          data: {
          },
        },
        mpe: {
          series: [
            {
              name: 'ACQUIS',
              data: [],
            },
             {
              name: 'Partiel',
              data: [],
            },
            {
              name: 'Non ACQUIS',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
          ],
          data: {
          },
        },
        mpm: {
          title: 'Moyenne des évaluations par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '250',
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
          height: '335',
        },
        mpsem: {
          title: 'Moyenne des évaluations par semaine',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '350',
        },
      },
      userToken: useJwt.getToken(),
      pdfTablefields: [
        {
          key: 'agent',
          label: 'Agent',
        },
        {
          key: 'nbr_eval',
          label: "nbr d'evaluations",
        },
        {
          key: 'moyenne',
          label: 'Moyenne',
        },
      ],
    }
  },
  computed: {
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
    valider() {
      // gitld:x;
      /* eslint-disable operator-linebreak */
      return false
      /* eslint-enable operator-linebreak */
    },
  },
  created() {
    var i
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
    const currentyear = new Date().getFullYear()
    const year2014 = new Date('2019-01-01').getFullYear()
    for (i = year2014; i <= currentyear; i += 1) {
      this.years.unshift(i)
    }
  },
  methods: {
    resetInput() {
      this.activity = null
      this.yr = []
      this.rangePicker = []
      this.service = null
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = false
      this.waiting = true
      if(this.service ==56){
        this.escda= true
      }
      const sitestosend = this.selectedSites.map(element => element.title)
      axios
        .get('/api/reporting/service', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            activity : this.activity,
            service: this.service,
            dateRange: rangetosend,
            selectedSites: sitestosend,
            switchDate: this.switchDate,
            switchQuality: this.switchQuality,
          },
        })
        .then(response => {
          if (response.data === 'does not exist') {
            alert('le service n\'a pas une grille d\'évaluation')
            this.ready = true
            return
          }
          this.charts.mg.series = [response.data.moyenne]
          this.charts.mg.ef = response.data.eval_ef
          this.charts.mg.sim = response.data.eval_sim
          this.charts.mpsem.data = Object.keys(response.data.moyenne_par_semaine)
          this.charts.mpsem.series[0].data = Object.values(response.data.moyenne_par_semaine)
          this.charts.mpm.data = Object.keys(response.data.moyenne_par_mois)
          this.charts.mpm.series[0].data = Object.values(response.data.moyenne_par_mois)
          if(this.activity ==11){
          this.charts.mpeLaredoute.series[0].data = response.data.noteNoteArray.EX
          this.charts.mpeLaredoute.series[1].data = response.data.noteNoteArray.BON
          this.charts.mpeLaredoute.series[2].data = response.data.noteNoteArray.MOY
          this.charts.mpeLaredoute.series[3].data = response.data.noteNoteArray.MAU
          this.charts.mpeLaredoute.data = response.data.itemsNames
          }
          else if(response.data.escda === 'true'){
          this.charts3.mpe.series[0].data = response.data.noteNoteArray.OK
          this.charts3.mpe.series[1].data = response.data.noteNoteArray.KO
          this.charts3.mpe.data = response.data.itemsNames
          }
         else {
          this.charts.mpe.series[0].data = response.data.noteNoteArray.aq
          this.charts.mpe.series[1].data = response.data.noteNoteArray.pa
          this.charts.mpe.series[2].data = response.data.noteNoteArray.naq
          this.charts.mpe.series[3].data = response.data.noteNoteArray.na
          this.charts.mpe.series[4].data = response.data.noteNoteArray.si
          this.charts.mpe.data = response.data.itemsNames
           }
          if(this.activity ==11){
          this.charts2.mpeLaredoute.series[0].data = response.data.noteNoteArray2N.EX
          this.charts2.mpeLaredoute.series[1].data = response.data.noteNoteArray2N.BON
          this.charts2.mpeLaredoute.series[2].data = response.data.noteNoteArray2N.MOY
          this.charts2.mpeLaredoute.series[3].data = response.data.noteNoteArray2N.MAU
          this.charts2.mpeLaredoute.data = response.data.itemsNames2N
           }
          else if(response.data.escda === 'true'){           
          this.charts3.mpe.series[0].data = response.data.noteNoteArray2.OK
          this.charts3.mpe.series[1].data = response.data.noteNoteArray2.KO
          this.charts3.mpe.data = response.data.itemsNames2
          }
          else {
          this.charts2.mpe.series[0].data = response.data.noteNoteArray2N.aq
          this.charts2.mpe.series[1].data = response.data.noteNoteArray2N.pa
          this.charts2.mpe.series[2].data = response.data.noteNoteArray2N.naq
          this.charts2.mpe.series[3].data = response.data.noteNoteArray2N.na
          this.charts2.mpe.series[4].data = response.data.noteNoteArray2N.si
          this.charts2.mpe.data = response.data.itemsNames2N 
          }
          this.data.teleconseillers.items = response.data.agents
          this.data.qualiticiens.items = response.data.qualiticiens
          this.waiting = false
        })
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
