<template>
  <div>
    <b-row>
      <b-col cols="8" md="8" sm="8" lg="8">
        <b-card>
          <b-row class="m-4">
            <b-col cols="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Activité :</div>
                <b-form-select id="i-activite" :options="activities" text-field="activite" value-field="id" v-model="activity" style="width: 70%"/>
              </div>
            </b-col>
            <b-col cols="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Service :</div>
                <b-form-select id="i-service" :options="serviceoptions" v-model="service" text-field="nom" value-field="id" style="width: 80%"/>
              </div>
            </b-col>
          </b-row>
          <b-row class="m-4">
            <b-col cols="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Péroide :</div>
                <flat-pickr id="periode" v-model="rangePicker" :config="config" class="form-control flat-picker bg-transparent border-0 shadow-none" placeholder="Choisissez une periode ..." style="width: 52%"
                />
              </div>
            </b-col>
            <b-col cols="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Téléconseiller :</div>
                 <v-select :options="serviceAgents" id="i-agent" label="nom" v-model="agent" style="width: 100%" ><span slot="no-options">
                    aucun agent
                  </span>
                </v-select>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-row class="d-flex flex-row-reverse">
                <b-button :disabled=" rangePicker.length === 0 || service === null || agent === null"
                  @click="sendReportingRequest"
                  variant="success"
                  outlined 
                  class="ml-4 mr-1"
                >
                  Valider
                </b-button>
                <b-button variant="warning" @click="resetInput" outlined>
                  Reset
                </b-button>
              </b-row>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card v-if="!ready" class="border-danger" style="height: 87%">
          <h4 class="text-center mt-4">
            Veuillez choisir l'activité, le service , la période et le
            téléconseiller.<br />
            puis valider les données.
          </h4>
        </b-card>
        <span v-else>
          <b-card class="border-primary">
            <b-row>
              <b-col xl="12">
                <feather-icon size="30" icon="UserIcon" class="mr-75  mb-2" />
                <h3 class="font-weight-bold d-inline">
                  {{ (agent !== null) ? agent.nom.replace(/[0-9]/g, "") : '' }}
                </h3>
              </b-col>
              <b-col xl="12" class="mt-1">
                <feather-icon size="15" icon="HashIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ? agent.matricule : '' }}</h6>
              </b-col>
              <b-col xl="12" class="mt-1">
                <feather-icon size="15" icon="MailIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ? agent.email : '' }}</h6>
              </b-col>
              <b-col xl="12" class="mt-1 mb-1">
                <feather-icon size="15" icon="PhoneIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ?  agent.phone : '' }}</h6>
              </b-col>
            </b-row>
          </b-card>
        </span>
      </b-col>
    </b-row>
        <b-row  class="my-1">
      <b-col >
      <b-button v-if="ready" variant="outline-info" size="sm" class="float-right" @click="generateReport">Télécharger en PDF</b-button>
      </b-col>
    </b-row>
    <b-row v-if="ready">
      <b-col md="3">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:30%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-globale-chart v-else :data="charts.mg" />
      </b-col>
      <b-col>
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:15%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpsem"
      /></b-col>
      <b-col>
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:15%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpm"
      /></b-col>
    </b-row>
    <b-row v-if="ready">
      <b-col>
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:10%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
     <div v-else>
          <element-moyenne  :data="charts.mpe"
      />
     
     </div>
      
      </b-col>
      
    </b-row>
        <div v-if="ready">
     <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"
        :filename="`Rapport_${ (agent !== null) ? agent.nom : ''}_${today}`"
        :pdf-quality="2"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
    >
        <section slot="pdf-content">
          <b-card class="mb-0">
            <b-row>
              <b-col xl="4" class="my-0">
                  <b-img height="30" width="30" :src="appLogoImage" class="d-inline"/>
                  <h4 class="brand-text text-primary ml-1 d-inline">
                    MyQual
                  </h4>
              </b-col>
              <b-col xl="5">
                <h4 class="font-weight-bold d-inline"  >
                Rapport sur {{ (agent !== null) ? agent.nom.replace(/[0-9]/g, "") : '' }}
                </h4>
              </b-col>
              <b-col xl="3" >
                <p class="font-weight-bold d-inline">
                Crée le : {{today}}
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <p class="font-weight-bold d-inline">
                <feather-icon size="15" icon="CalendarIcon"/> Période :  de {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[0] : rangePicker[0] }} au  {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[1] : rangePicker[1] }}</p>
              </b-col>
              <b-col xl="12" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="BriefcaseIcon" /> Service - activité : {{ serviceName }} - {{ activityName }}
                </p>
              </b-col>
              <b-col xl="12" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="HashIcon" /> Matricule : {{ agent.matricule }}
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <b-row>
                    <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="BarChart2Icon" class="mr-1"/>Moyenne Globale : {{ charts.mg.series[0]}} %
                </p>
              </b-col>
              <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="CheckCircleIcon" class="mr-1"/>Évaluations effectuées : {{ charts.mg.ef + charts.mg.sim}}
                </p>
              </b-col>
              <b-col md="4">
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="AlertCircleIcon" class="mr-1"/>Évaluations avec SIM : {{ charts.mg.sim}}
                </p>
              </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
          <element-moyenne v-if="!waiting" :data="charts.mpe" :toPDF="true" />
          <moyenne-chart v-if="!waiting" :data="charts.mpsem" :toPDF="true" />
          <div class="html2pdf__page-break"/>
          <section class="pdf-item">
          <moyenne-chart v-if="!waiting" :data="charts.mpm" :toPDF="true"/>
          </section>
        </section>
    </vue-html2pdf>
    <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress
            animated
            :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
   </div>
  </div>
</template>
<script>
import {
  BCard,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import flatPickr from 'vue-flatpickr-component'
import VueHtml2pdf from 'vue-html2pdf'
import French from './flatPickerFrench'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import ElementMoyenne from './charts/ElementMoyenne.vue'
import MoyenneChart from './charts/MoyenneChart.vue'
import ElementMoyenne2 from './charts/ElementMoyenne2.vue'
export default {
    components: {
    BCard,
    BRow,
    BCol,
    vSelect,
    BButton,
    BFormSelect,
    BSpinner,
    flatPickr,
    BProgress,
    BModal,
    BImg,
    VueHtml2pdf,
    MoyenneGlobaleChart,
    ElementMoyenne,
    MoyenneChart,
    ElementMoyenne2,
  },
  data () {
    return {
      activities: null,
      activity: null,
      today : '',
      service: null,
      agent: null,
      agents: [],
      rangePicker: [],
      ready: false,
      waiting: true,
      progress: 0,
      onprogressbol: false,
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, 
      },
      charts: {
        mg: {
          series: null,
          ef: null,
          sim: null,
        },
        mpe2 : {
       series: [
            {
              name: 'item1',
              data: [10],
            },
            {
              name: 'item2',
              data: [12],
            },
               {
              name: 'item3',
              data: [13],
            },
          ],
        },
        mpe: {
          series: [
            {
              name: 'acquis',
              data: [],
            },
               {
              name: 'Partiel',
              data: [],
            },
            {
              name: 'Non acquis',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
          ],
          data: [
            'item1',
            'item2',
            'item3',
            'item4',
            'item5',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
          ],
        },
        mpsem: {
          title: 'Moyenne des évaluations par semaine',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '290',
        },
        mpm: {
          title: 'Moyenne des évaluations par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '290',
        },
      },
      userToken: useJwt.getToken(),
    }
  },
  methods: {
  },
  created () {
        axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
        axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
       this.userToken= useJwt.getToken()
           const today = new Date()
            const dd = String(today.getDate()).padStart(2, '0')
            const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
            const yyyy = today.getFullYear()
            this.today = `${dd}/${mm}/${yyyy}`
  },
    computed: {
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
    serviceAgents() {
      if (this.service) {
        if (this.service==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
        if (this.service==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
        if (this.service==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
        if (this.service==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
        if (this.service==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
        if (this.service==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
        if (this.service==45) {
          const agents = this.agents.filter(agent => agent.service === 20)
        }
        if (this.service==44) {
          const agents = this.agents.filter(agent => agent.service === 21) 
          return agents
        }
        if (this.service==43) {
          const agents = this.agents.filter(agent => agent.service === 22) 
          return agents
        }
        if (this.service==40) {
          const agents = this.agents.filter(agent => agent.service === 36)
          return agents
        }
        if (this.service==63) {
          const agents = this.agents.filter(agent => agent.service === 62) 
          return agents
        }
        if (this.service==68) {
          const agents = this.agents.filter(agent => agent.service === 22)
          return agents
        }
        if (this.service==71) {
          const agents = this.agents.filter(agent => agent.service === 69) 
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.service)
          return agents
         }
        }
        return []
    },
  },
    methods: {
    resetInput() {
      this.ready = !this.ready
      // this.waiting = false
      this.activity = null
      this.agent = null
      this.rangePicker = []
      this.service = null
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = true
      this.waiting = true
      axios
        .get('/api/reporting/agent', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            service: this.service,
            dateRange: rangetosend,
            sites: this.selectedSites,
            agent: this.agent.id,
          },
        })
        .then(response => {
          if (response.data === 'does not exist') {
            alert('le service n\'a pas une grille d\'évaluation')
            this.ready = false
            return
          }
          this.charts.mg.series = [response.data.moyenne]
          this.charts.mg.ef = response.data.eval_ef
          this.charts.mg.sim = response.data.eval_sim
          this.charts.mpsem.data = Object.keys(response.data.moyenne_par_semaine)
          this.charts.mpsem.series[0].data = Object.values(response.data.moyenne_par_semaine)
          this.charts.mpm.data = Object.keys(response.data.moyenne_par_mois)
          this.charts.mpm.series[0].data = Object.values(response.data.moyenne_par_mois)
          this.charts.mpe.series[0].data = response.data.noteNoteArray.aq
          this.charts.mpe.series[1].data = response.data.noteNoteArray.pa
          this.charts.mpe.series[2].data = response.data.noteNoteArray.naq
           this.charts.mpe.series[3].data = response.data.noteNoteArray.na
          this.charts.mpe.series[4].data = response.data.noteNoteArray.si
          this.charts.mpe.data = response.data.itemsNames
          this.waiting = false
        })
    },
    validInput() {},
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
  
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>