<template>
  <b-row>
      <b-col md="12" sm="12" >
          <b-card>
                 <b-row>
                             <b-col md="3" sm="3" >
          <div class=" d-flex align-items-center ">
            <div class="mr-1">
Actvité  :</div>
              <b-form-select
              id="i-activite"
              :options="activities"
              text-field="activite"
              value-field="id"
              v-model="activity"
              style="width: 70%"
            />
          </div>
        </b-col>
                     <b-col md="3" sm="3" >
          <div class=" d-flex align-items-center ">
            <div class="mr-1">
Catégorie  :</div>
            <b-form-select
              
              :options="tasks"
              text-field="nom"
              value-field="id"
              v-model="task"
              style="width: 70%"
            />
          </div>
        </b-col>
          <b-col md="3" sm="3">
          <div class=" d-flex align-items-center " style="margin-left:0%">
            <div class="mr-1"> Tache  :</div>
            <b-form-select
              :options="taskstypeoptions"
              v-model="task_type"
              text-field="nom"
              value-field="id"
              style="width: 60%"
            />
          </div>
        </b-col>
        <b-col md="3" sm="3">
         <b-row>
             
   <!-- <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
              style="width:80%"
            >
            </b-form-datepicker> -->
                 <div class=" d-flex align-items-center ">
                      <div class="mr-1">Péroide :</div>
                      <label for="periode" style="cursor: pointer"
                      ><feather-icon icon="CalendarIcon" size="24"
                      /></label>
                      <flat-pickr
                          id="periode"
                          v-model="rangePicker"
                          :config="config"
                          class="form-control flat-picker bg-transparent border-0 shadow-none"
                          placeholder="Choisissez une date ..."
                          style="width: 100%"
                      />
               
                  </div>
         </b-row>
 
        </b-col>
                 </b-row>
                 
                 <b-row class="mt-2">
                     <b-col md="12" sm="12">
                          
         <b-row class=" ">
            <b-col md="6" sm="6">
                    <div class="mr-1 mb-2">Commentaire  :</div> 
            </b-col>
                <b-col md="6"  >
                     <b-input-group size="sm">
                <b-form-input
                  id="nom"
                  v-model="nom"
                  type="search"
                  placeholder="Tapez le nom"
                  style="display:none"
                />
              
                   <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="secondary"
    size="sm"
    @click="addnom"
    id="btn"
    style="margin-left:69%; margin-bottom:10%"
      

    >
      <feather-icon icon="PlusIcon" class="mr-25" />
      <span>Ajouter un nom supplémentaire</span>
    </b-button>
              
              </b-input-group>
                     
     
                </b-col>
    
         </b-row>
  <!-- <VueEditor @change="contentChange(e)"  :filebrowserUploadMethod="filebrowserUploadMethod"   :config="editorConfig" /> -->
    <quill-editor 
              @change="onEditorChange($event)"  v-model="comment"   >
  </quill-editor>
   <!-- <b-form-textarea
      id="textarea"
      v-model="comment"
      placeholder="Enter something..."
      rows="3"
      max-rows="6"
    ></b-form-textarea>
                            -->
                     </b-col>
                   
                 </b-row>
                     <b-row class="mb-1 d-flex justify-content-center">
        <b-col class="mt-4" md="5">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="update"
            style="width:100%"
          >
        
            <span >
                Modifier
            </span>
          </b-button>
        </b-col>
      </b-row>
          </b-card>
      </b-col>
  </b-row>
</template>
<script>
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import {
  BCard,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
BFormDatepicker,
BInputGroup,
BFormInput,
BFormTextarea,
} 
from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import flatPickr from 'vue-flatpickr-component'
import French from './flatPickerFrench'
import CKEditor from 'ckeditor4-vue'
import { quillEditor } from 'vue-quill-editor'
export default {
    data(){
return {
    rangePicker: [],
  activities : [],
  activity : '',
    tasks: [],
    task : '',
    tasks_type: [],
    task_type: '',
    editorData : '',
    date : '',
             config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
     maxDate: new Date(),
     comment: '',
    userToken: useJwt.getToken(),
    userData : {},
    nom: '',
    filebrowserUploadMethod: 'form',
  
    editorConfig : {
extraPlugins: [this.uploader],
    }
    
}
},
 directives: {
    Ripple,
  },
    components: {
          BCard,
          flatPickr,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
  CKEditor,
BFormTextarea,
 BFormDatepicker,
 BInputGroup,
BFormInput,
quillEditor,
    }, 
    computed: {
 taskstypeoptions() {
      if (this.task) {
       
          const ac = this.tasks_type.filter(x=> x.task_id === this.task)
         
         
  
        return ac
      
      }
 
    },
    },
    created(){
        console.log(this.$route.params.id)
        axios.get(`/api/tache/get_task/${this.$route.params.id}`,{
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      }).then(
            response=>{
                this.activity =response.data.actvite
                this.task =response.data.catgorie
                this.task_type =response.data.tache
                this.comment = response.data.comment
                this.rangePicker[1] = response.data.date
                this.rangePicker[0] = response.data.endDate
               
            }
        )
      this.userToken =  useJwt.getToken()
       console.log(this.rangePicker)
       
   axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
        axios.get('/api/get_tasks',
         {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }
        )
        .then( response=> {
this.tasks = response.data
        }
            
        )



               axios.get('/api/tache/get_tasks_type',
         {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }
        )
        .then( response=> {
this.tasks_type = response.data
        }
            
        )
    },
    methods: {
      contentChange(e) {
    
      },
         onEditorChange({ quill, html, text }) {
      
        this.comment = html
      },

        addnom(){
const el = document.getElementById('nom')
const el2 = document.getElementById('btn')
  if (el.style.display === 'none') {
        el.style.display = 'block'
        el2.style.display = 'none'

      } else {
    
        el.style.display = 'none'
        el2.style.display = 'block'
      }
      

        },
        update(){

          var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }



 let formData=new FormData();
            formData.append("task",this.task)
            formData.append("task_type",this.task_type)
             formData.append("comment",this.comment)
             formData.append("date",rangetosend)
             formData.append("nom",this.nom)
             formData.append("activity",this.activity)
     


 
     
       axios.post(`/api/tache/update/ ${this.$route.params.id}`,
      
         formData,
       
          {
          headers: {
            'Content-Type': `Content-type","multipart/form-data; charset=utf-8; boundary ${Math.random().toString().substr(2)}`  ,
            Authorization: `Bearer ${this.userToken}`,
          }
          }
       
        
        ).then(
            response =>{
                      this.$swal({
              text: 'Tache ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
             this.$router.go(0)
            })
            }
        )
        }
    }
}

</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>