<template>
<div>

<b-card v-if="items.length ===0" class="justify-content-center font-weight-bold">
      <h2 class="text-center">
     Aucune tâche n'a été effectué
      </h2>
</b-card>      
    <b-row v-else >
 <b-col md="12" sm="12">
         <b-card class="text-center d-flex justify-content-between">
          <b-row >
              <b-col md="4" style="border-right: 1px solid #ccc" >
                  <!-- datepicker -->
                  <div class=" d-flex align-items-center ">
                      <div class="mr-1">Péroide :</div>
                      <label for="periode" style="cursor: pointer"
                      ><feather-icon icon="CalendarIcon" size="24"
                      /></label>
                      <flat-pickr
                          id="periode"
                          v-model="rangePicker"
                          :config="config"
                          class="form-control flat-picker bg-transparent border-0 shadow-none"
                          placeholder="Choisissez une periode ..."
                          style="width: 40%"
                      />
               
                  </div>
                  <!-- datepicker -->
              </b-col>
              <b-col md="8" style="border-left: 1px solid #ccc">
                  <div class="d-flex align-items-center ">
                      
            <div class="mr-1 ml-4">
Actvité  :</div>
              <v-select
              id="i-activite"
            

               class="w-50 mx-1"
   
              v-model="activity"
              label="activite"
    
              :options="activities"
            />
       
             
                      <b-button

                          variant="outline-success"
                      v-ripple.400="'rgba(40, 199, 111, 0.15)'"
                          class="ml-2"
                          @click="send()"
                      >
                          Valider
                      </b-button>
                  </div>
              </b-col>
          </b-row>
      </b-card>
         
      <div v-if="nodata &&!spinner">
<b-card  class="justify-content-center font-weight-bold">
      <h2 class="text-center">
     Aucune tâche n'a été effectué durant cette périod pour cette actvité 
      </h2>
</b-card>
      </div>
   <div >
      <b-card>
          <div v-if="spinner">
      <b-card class="text-center mb-3 d-flex justify-content-between">
        <b-spinner
          v-for="variant in variants"
          :key="variant"
          style="width: 7rem; height: 7rem;"
          label="Large Spinner"
          :variant="variant"
        />
      </b-card>
    </div>
      <b-row v-if="!spinner">
             <b-col md="2" sm="4" class="my-1">
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                :options="pageOptions"
                class="w-50"
              />
              / {{ items.length }}
            </b-form-group>
          </b-col>
 
          <b-col md="6" offset="4"  class="my-1">
            <b-form-group
              label="filter"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
      </b-row>
 

        <b-table
        v-if="!spinner"
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :fields="fields"
              :filter="filter"
    :items="items"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
              small
            >
                  <template #cell(actions)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
                  <b-dropdown-item v-b-modal.view_task  @click="getTache(row.item.id)">
                    <feather-icon icon="ChevronsRightIcon" class="mr-50" />
                    <span>Consulter</span>
                  </b-dropdown-item>
                       <b-dropdown-item   @click="update_task(row.item.id)">
                    <feather-icon icon="EditIcon" class="mr-50" />
                    <span>Modifier</span>
                  </b-dropdown-item>
                    <b-dropdown-item   @click="delete_task(row.item.id)">
                    <feather-icon icon="TrashIcon" class="mr-50" />
                    <span>Suprimer</span>
                  </b-dropdown-item>
                </b-dropdown>
              </template>

            </b-table>
               
          <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>

  </b-card>
   </div>
  
 </b-col>
       

  </b-row>
  <b-modal id="view_task" size="lg" ok-title="ok" cancel-title="annuler" button-size="sm" cancel-variant="outline-dark" ok-variant="outline-primary" >
     <div class="modal-body">
         <form action="" method="post">
                                                            <div class="form-row">
                                                              <div class="col">
                                                                <label for="name">Categorie : </label>
                                                                                                                 <b-form-select
              
              :options="tasks"
              text-field="nom"
              value-field="id"
              v-model="tache.catgorie"
              style="width: 100%"
              disabled
            />
                                                                </div>
                                                                <div class="col">
                                                                <label for="name">Nom :</label>
                                                                                                          <b-form-select
              :options="tasks_type"
              v-model="tache.tache"
              text-field="nom"
              value-field="id"
              style="width: 100%"
              disabled
            />
                                                              
                                                            </div>
                                                            </div>
                                                      
                                                        
                                                          
                                                            
                                                            
                                                            <div class="form-group mt-4">
                                                               <label for="name"> Description   </label> 
                                                                 <quill-editor 
                                                                 v-model="tache.comment"
                >
  </quill-editor>
                                                            </div>
                             
  
                                                            </form>
     </div>     
 </b-modal> 
   <b-modal id="edit_task" size="lg" @ok="update_task(tache.id)" ok-title="modifier" cancel-title="annuler" button-size="sm" cancel-variant="outline-dark" ok-variant="outline-primary" >
     <div class="modal-body">
         <form action="" method="post">
                                                            <div class="form-row">
                                                              <div class="col">
                                                                <label for="name">Categorie : </label>
                                                                      <b-form-select
              
              :options="tasks"
              text-field="nom"
              value-field="id"
              v-model="tache.catgorie"
              style="width: 70%"
            />
                                                                </div>
                                                                <div class="col">
                                                                <label for="name">Nom :</label>
                                                                  <b-form-select
              :options="taskstypeoptions"
              v-model="tache.tache"
              text-field="nom"
              value-field="id"
              style="width: 60%"
            />
                                                              
                                                            </div>
                                                            </div>
                                                      
                                                        
                                                          
                                                            
                                                            
                                                            <div class="form-group mt-4">
                                                               <label for="name"> Description   </label> 
                                                                 <quill-editor 
                                                                 v-model="tache.comment"
                >
  </quill-editor>
                                                            </div>
                             
  
                                                            </form>
     </div>     
 </b-modal> 

</div>
</template>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import { VueEditor } from "vue2-editor"
import {
  BCard,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
  BTable,
  BFormGroup,
  BFormInput,
  BInputGroup,
BFormDatepicker,
BInputGroupAppend,
BFormTextarea,
BPagination,
BCardHeader,
BCardFooter,
BCardBody,
   BDropdown,
    BDropdownItem,

} 
from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import flatPickr from 'vue-flatpickr-component'
import French from '../reporting/flatPickerFrench'
import CKEditor from 'ckeditor4-vue'
import vSelect from 'vue-select'
import FeatherIcon from '../../@core/components/feather-icon/FeatherIcon.vue'
export default {
        components: {
          BCard,
          BTable,
          BFormGroup,
  BFormInput,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
  CKEditor,
  VueEditor,
  BInputGroup,
 BFormDatepicker,
 BInputGroupAppend,
 BFormTextarea,
 BPagination,
 BCardHeader,
 BCardFooter,
 quillEditor,
    BDropdown,
    BDropdownItem,
                FeatherIcon,
                BCardBody,
                flatPickr,
                vSelect,
                
             
    }, 
    data(){
return {
  variants: ['primary'],
  spinner: false,
  nodata : false,
   activities : [],
  activity : '',
        config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
   filterOn: [],
      tasks: [],
    task : '',
    tasks_type: [],
    task_type: '',
  tache : [],
  modal: false,
    totalRows: 1,
  pageOptions: [5, 10, 15, 20],
      perPage: 10,
  filter: null,
  currentPage: 1,
    items: [],
    rangePicker : [],
        fields: [
        {
          key: 'id',
          label: 'id',
          class: 'text-center ',
          sortable: true,

        },
         {
          key: 'actvite',
          label: 'activité',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'catgorie',
          label: 'Categorie',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'tache',
          label: 'Tache',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'endDate',
          label: 'date de début la tache',
          class: 'text-center ',
          sortable: true,
  
        },
          {
          key: 'date',
          label: 'date de fin la tache',
          class: 'text-center ',
          sortable: true,
  
        },
          {
          key: 'actions',
          label: 'actions',
          class: 'text-center ',
          sortable: true,
  
        },
  

      ],
  
    userToken: useJwt.getToken(),
 
}
},
 directives: {
    Ripple,
  },
      computed: {
 taskstypeoptions() {
      if (this.task) {
       
          const ac = this.tasks_type.filter(x=> x.task_id === this.task)
         
         
  
        return ac
      
      }
 
    },
    },
methods: {
  getactivities(){
  axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
send() {

 let formData=new FormData();
            formData.append("startDate",this.rangePicker)
           
             formData.append("activity",JSON.stringify(this.activity))
        
this.spinner = true


       axios
        .post('/api/tache/current/get_tasks', 
  



formData,
       
          {
          headers: {
            'Content-Type': `Content-type","multipart/form-data; charset=utf-8; boundary ${Math.random().toString().substr(2)}`  ,
            Authorization: `Bearer ${this.userToken}`,
          
          }
}

        )
        .then(response => {
          if(response.data === 0) {
            this.spinner = false
            this.nodata = true
          }
          else {
            this.spinner = false
    this.items = response.data

this.nodata = false
this.totalRows = this.items.length
          }
       })

},
 
    thisMonthDateRange() {
// first day of the week
 const d = new Date()
  var day = d.getDay()
     const  diff = d.getDate() - day + (day == 0 ? -6:1)
     const firstDay2 = new Date(d.setDate(diff))
       const fdd = String(firstDay2.getDate()).padStart(2, '0')
        const fmm = String(firstDay2.getMonth() + 1).padStart(2, '0')
      const fyyyy = firstDay2.getFullYear()
      this.rangePicker[0] = `${fdd}/${fmm}/${fyyyy}`



// today       
      const today = new Date()
      const dd = String(today.getDate()).padStart(2, '0')

      const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      const yyyy = today.getFullYear()
      this.rangePicker[1] = `${dd}/${mm}/${yyyy}` // `${yyyy}/${mm}/${dd}`
      const firstDay = new Date(today.getFullYear(), today.getMonth(), 1)
      
    
    },
  onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getTache(id) {
      axios.get('/api/tache/get/'+id,
      
        {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }
      
      ).then(response=>{
        this.tache =response.data
     
      })
    },
    delete_task(id){
  this.$swal({
 title : 'Vous etes sure ?',
  text: "Vous voulez supprimer cette tache !",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Oui, Supprimer !',
  cancelButtonText: 'Non  '
}).then((result) => {
  if (result.isConfirmed) {

axios.get('/api/tache/delete/'+id,
   {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }

).then(
  response=>{
    if(response.data='200'){
     this.$swal({
     title: 'Suprimé !',
      text: 'La tache a été supprimé avec  succès',
     icon :'success',
      timer : 2000000
     }
    )
  
    }
  }
)
.then(()=>{
    this.$router.go(0)
})




  }
})
    },
    update_task(id){

 this.$router.push({ name: 'edit-taches', params: { id: id } })
   }
},
    created(){
      console.log(this.rangePicker)
      this.send()
this.getactivities()
      this.thisMonthDateRange()
  


    axios.get('/api/get_tasks',
         {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }
        )
        .then( response=> {
this.tasks = response.data
        }
            
        )
                 axios.get('/api/get_tasks_type',
         {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          } }
        )
        .then( response=> {
this.tasks_type = response.data
        }
            
        )

  
    },

}

</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>