<template>
<div>
            <b-card>
      <b-row class="mb-1">
        <b-col md="4" class="ml-4">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <v-select
              id="i-activite"
              v-model="activity"
              item-text="nom"
              label="nom"
              :options="activities"
              style="width: 70%"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </div>
        </b-col>
           <b-col  style="border-left: 1px solid #ccc; margin-left:20%">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
          </div>
          <!-- datepicker -->
        </b-col>
      </b-row>
      <br />
      <b-row class="d-flex  " style="border-left: 1px solid #ccc; margin-left:80%">
        <b-col md="5" class="float-right">
          <b-button variant="outline-warning" @click="resetInput" size="sm">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="activity === null || rangePicker.length === 0"
            @click="sendReportingRequest"
            variant="outline-success"
            size="sm"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>


       <b-card v-if="nodata" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>


 <div v-if="!nodata">
      <b-card>

     Les tache effectuées par :
      <h6>Qualiticien </h6>

    <vue-apex-charts
      type="bar"
      height="350"
      :options="chartOptions"
      :series="series"
    />
  </b-card>
  <b-row>
    <b-col md="6" v-for="(user_task,index) in users_tasks" :key="index" >
 <b-card style="height:10%; overflow-y: auto;" :title="user_task[0].user">
      
      <div >
            <h5 class="d-flex justify-content-center m-1 text-primary" style="border-bottom:  black;" >
         <b-badge variant="light-warning">{{user_task.length}} taches </b-badge>
        </h5>
            <b-table
              hover
              responsive

             :fields="fields"

    :items="user_task"
              small
            >
         

            </b-table>
                  <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
      </div>
    </b-card>
  </b-col>
  </b-row>
    
 </div>
  <b-modal
        v-model="waiting"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="d-flex justify-content-center ">
          <b-spinner style="width: 3rem; height: 3rem;" variant="primary" />
        </div>
      </b-modal>
</div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import French from './flatPickerFrench'
import { $themeColors } from '@themeConfig'


import {
  BRow,
  BCol,
  BCard,
  BButton,
  BSpinner,
  BBadge ,
  BTable,
  BPagination,
  BProgress, BModal, BImg, BFormCheckbox
} from 'bootstrap-vue'
export default {
    components: {
      VueApexCharts,
    BRow,
    BCol,
    BCard,
    BButton,
    flatPickr,
    vSelect,
    BProgress,
    BModal,
    BBadge ,
    BImg,
    BSpinner,
    BFormCheckbox,
    BTable,
    BPagination,
  },
   data() {
    return {
        series: [
        
        ],
    
           chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
          toolbar: {
            show: true,
            offsetX: -15,
            offsetY: -30,
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '65%',
            endingShape: 'rounded',
          },
        },

        annotations: {
          yaxis: [
            {
              y: 10,
              borderColor: '#f70019',
              strokeDashArray: 0,
              label: {
                text: 'la moyenne',
                style: {
                  fontSize: '15px',
                  color: '#fff',
                  background: '#f70019',
                },
              },
            },
          ],
        },
        colors: [
          $themeColors.success,
          $themeColors.info,
          $themeColors.warning,
          $themeColors.secondary,
          $themeColors.danger,
        ],
        dataLabels: {
          position: 'top',
          enabled: false,
          formatter: val => `${val}`,
          style: {
            fontSize: '15px',
            colors: ['black'],
          },
          offsetY: 100
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent'],
        },
        xaxis: {
          categories: ['Formation', 'passage terrain et accompagnement ', 'Traitement RDV', 'Comité', 'Calibrage', 'Autres Taches'
              ],
          labels: {
            style: {
              fontSize: '11px',
              fontWeight: 600,
            },
          },
        },
        yaxis: {},
        fill: {
          opacity: 1,
        },
        tooltip: {
          y: {
            formatter: val => `${val}`,
          },
        },
      },
        users_tasks_borad:[],
        nodata : true,
        currentPage: 1,
        totalRows: 1,
        pageOptions: [5, 10, 15, 20],
         perPage: 10,
        filter: null,
        loginwait:true,
        users_tasks:[],
      rangePicker: [],
      yr: null,
      progress: 0,
      activity: {
        nom: null,
      },
      activities: [],
      ready: true,
      waiting: false,
      onprogressbol: false,
      today: null,
      switchDate: false,
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
              fields: [
        {
          key: 'catgorie',
          label: 'Categorie',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'tache',
          label: 'Tache',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'endDate',
          label: 'date de début la tache',
          class: 'text-center '
  
        },
          {
          key: 'date',
          label: 'date de fin la tache',
          class: 'text-center '
  
        },

      ],


      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      userToken: useJwt.getToken(),
      userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {
    valider() {
      /* eslint-disable operator-linebreak */
      return false
      /* eslint-enable operator-linebreak */
    },
  },
  created() {
    // get activities
    axios
      .get('/api/activite/all', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
  methods: {
    resetInput() {
      this.activity = []
      this.yr = []
      this.rangePicker = []
    },
    sendReportingRequest() {
        this.waiting = true

      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      axios
        .get('/api/tache/reporting/tasks/activity', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            dateRange: rangetosend,
            activityId: this.activity.id,
          },
        })
        .then(response => {

          if(response.data === 0) {
  this.waiting =false
      this.$swal({
                  text:
                    'Acune tache a été effectué durant cette périod pour cette activité',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              }
          else {
     this.series=[]
        Object.entries(response.data[1]).forEach(element=>{
  
          this.series.push({
      
            data: element[1],
            name : element[0]
          })
        })
this.users_tasks =response.data[0]
this.nodata=false
   
           }
 
        }).then(
            this.waiting =false
        )
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>

