<template>
<div>
        <b-card class="text-center d-flex justify-content-between">
      <b-row >
        <b-col md="4" sm="4" style="border-right: 1px solid #ccc" >
<div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
    

          </div>

        </b-col>
          <b-col md="5" sm="5" style="border-right: 1px solid #ccc" >
<div class=" d-flex align-items-center ml-1 ">
            <div class="mr-1">Qualiticien :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="UserIcon" size="24" class="mr-1"
            /></label>
        <b-form-select
        style="width:75%"
        
        :options="qualiticiens"
              text-field="nom"
              value-field="id"
              v-model="qualiticien"
            
        >

        </b-form-select>
    

          </div>

        </b-col>
        <b-col md="3" sm="3" style="border-left: 1px solid #ccc">
    <b-button
    
   variant="outline-primary"
   size="sm"
   @click="getTask_user()"
    >
        Valider
    </b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-card >
            <b-card
      v-if="waitingliste == true"
      class="text-center d-flex justify-content-between"
    >
      <b-spinner
        variant="primary"
        style="width: 6rem; height: 6rem;"
        class="m-auto"
      />
    </b-card>
        <div v-if="nodata && !waitingliste ">
<b-card  class="justify-content-center font-weight-bold">
      <h2 class="text-center">
     Aucune tâche n'a été effectué durant cette périod
      </h2>
</b-card> 
        </div>
       <div v-else-if="!waitingliste">
            <b-row>
          <b-col md="2" sm="4" class="my-1">
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                :options="pageOptions"
                class="w-50"
              />
              / {{ items.length }}
            </b-form-group>
          </b-col>

          <b-col md="8" offset="2"  class="my-1">
            <b-form-group
              label="filter"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
                   <b-button size="sm" variant="outline-primary" class="ml-4" @click="exraire()">
                      <feather-icon
                icon="ExternalLinkIcon"
                class="mr-50"
              />
extraire Csv
            </b-button>
              </b-input-group>
                  
            </b-form-group>
          </b-col>
          <b-col cols="12">
      
            <b-table
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :fields="fields"
              :filter="filter"
    :items="items"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
              small
            >
         

            </b-table>
          </b-col>
          <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
        </b-row>
       </div>
      </b-card>
</div>
</template>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import { VueEditor } from "vue2-editor"
import {
  BCard,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
  BTable,
  BFormGroup,
  BFormInput,
  BInputGroup,
BFormDatepicker,
BInputGroupAppend,
BFormTextarea,
BPagination,
BCardHeader,
BCardFooter,
BCardBody,

} 
from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'

import CKEditor from 'ckeditor4-vue'
import FeatherIcon from '../../@core/components/feather-icon/FeatherIcon.vue'
import flatPickr from 'vue-flatpickr-component'
import French from '../reporting/flatPickerFrench'
export default {
        components: {
          BCard,
          BTable,
          BFormGroup,
  BFormInput,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
  CKEditor,
  VueEditor,
  BInputGroup,
 BFormDatepicker,
 BInputGroupAppend,
 BFormTextarea,
 BPagination,
 BCardHeader,
 BCardFooter,
 quillEditor,
                FeatherIcon,
                BCardBody,
                flatPickr,
                
             
    }, 
    data(){
return {
    waitingliste : false,
    nodata : false,
     filterOn: [],
    qualiticien : '',
qualiticiens : [],
     rangePicker: [],
      tasks: [],
    task : '',
    tasks_type: [],
    task_type: '',
  tache : [],
  modal: false,
    totalRows: 1,
  pageOptions: [5, 10, 15, 20],
      perPage: 10,
  filter: null,
  currentPage: 1,
    config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
    items: [],
        fields: [
        {
          key: 'id',
          label: 'id',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'catgorie',
          label: 'Categorie',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'tache',
          label: 'Tache',
          class: 'text-center ',
          sortable: true,

        },
        {
          key: 'endDate',
          label: 'date de début la tache',
          class: 'text-center '
  
        },
          {
          key: 'date',
          label: 'date de fin la tache',
          class: 'text-center '
  
        },
        {
          key: 'user',
          label: 'Qualiticien',
          class: 'text-center w-2',
          sortable: true,

        },

      ],
  
    userToken: useJwt.getToken(),
 
}
},
 directives: {
    Ripple,
  },
      computed: {
  sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
    },
methods: {
  exraire(){
     axios
        .get('/api/tache/export', {
          responseType: 'blob',
          headers: {
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'les_taches.xlsx')
          document.body.appendChild(link)
          link.click()
        })

  },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getTask_user() {
          var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.waitingliste =true
      // this.qualiticien : id
      axios.get('/api/tache/get_task/user',
      
        {
          Headers : {
          'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
      },
         params: {
            dateRange: rangetosend,
            qualiticien: this.qualiticien
          },
        }
      
      ).then(response=>{
          if(response.data==='no data found') {
              this.nodata = true
              this.waitingliste = false
          }
          else {
              this.items = response.data
              this.totalRows = this.items.length
              this.waitingliste = false

          }
      })


    }
},
    created(){

      axios.get('/api/getQualiticiens',
      
    {
          Headers : {
          'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
      }
    }
      ).then(response=>{
          this.qualiticiens = response.data
      })
   axios.get('/api/tache/get_tasks/users',
     {
          Headers : {
          'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
      }
    }).then(response=> {
       this.items = response.data
       this.totalRows = this.items.length
   })
  
    },

}

</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>