<template>
  <b-modal
    v-model="loginwait"
    hide-footer
    hide-header
    hide-header-close
    no-close-on-backdrop
    size="sm"
    centered
  ><div class="d-flex justify-content-center my-2 ">
    <b-spinner
      class="mx-1"
      variant="primary"
      style="width: 6rem; height: 6rem;"
    />
  </div>
  </b-modal>
</template>
<script>
import {
  BModal,
  BSpinner,
} from 'bootstrap-vue'

export default {
  components: {
    BModal,
    BSpinner,
  },
  props: {
    loginwait: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
