<template>
    <div>
    <vue-apex-charts
      type="bar"
      height="350"
      :options="chartOptions"
      :series="series"
    />
    </div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'
export default {
    components: {
        VueApexCharts,
    },
    props : {
    data: {
      type: Array,
      default: () => []
    },
     toPDF: {
      type: Boolean,
      default: false,
    },
    }, 
    data(){
        return {
             series: [
                    {
                    name: 'Excellent',
                    data: [],
                    },
                    {
                    name: 'Bon',
                    data: [],
                    },
                    {
                    name: 'Moyen',
                    data: [],
                    },
                    {
                    name: 'Mauvais',
                    data: [],
                    },
                ],
             chartOptions: {
                chart: {
                type: 'bar',
                height: 350,
                toolbar: {
                    show: true,
                    offsetX: -15,
                    offsetY: -30,
                    export: {
                    csv: {
                        filename: 'moyenne_par_element',
                    },
                    svg: {
                        filename: 'moyenne_par_element',
                    },
                    png: {
                        filename: 'moyenne_par_element',
                    },
                    },
                },
                },
                plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '65%',
                    endingShape: 'rounded',
                },
                },

                annotations: {
                yaxis: [
                    {
                    y: 85,
                    borderColor: '#f70019',
                    strokeDashArray: 0,
                    label: {
                        text: '85%',
                        style: {
                        fontSize: '15px',
                        color: '#fff',
                        background: '#f70019',
                        },
                    },
                    },
                ],
                },
                colors: [
                $themeColors.success,
                $themeColors.info,
                $themeColors.warning,
                ],
                dataLabels: {
                position: 'top',
                enabled: false,
                formatter: val => `${val}%`,
                style: {
                    fontSize: '15px',
                    colors: ['black'],
                },
                offsetY: 100
                },
                stroke: {
                show: true,
                width: 2,
                colors: ['transparent'],
                },
                xaxis: {
                categories: [],
                labels: {
                    style: {
                    fontSize: '11px',
                    fontWeight: 600,
                    },
                },
                },
                yaxis: {},
                fill: {
                opacity: 1,
                },
                tooltip: {
                y: {
                    formatter: val => `${val} %`,
                },
                },
            },
        }
    },
    created(){
          if (this.toPDF) {
      this.chartOptions.xaxis.labels.style = {
        fontSize: '6px',
        fontWeight: 800,
      }
      this.chartOptions.chart.toolbar.show = false
    }
        this.chartOptions.xaxis.categories = this.data[1] 
        this.series[0].data = this.data[0].aq
        this.series[1].data = this.data[0].pa
        this.series[2].data = this.data[0].naq
        this.series[3].data = this.data[0].na
        this.series[4].data = this.data[0].si
    }
}
</script>