<template>
  <div>
    <b-card :title="data.title">
      <b-row>
        <b-col>
          <b-form-group class="mb-1" 
            v-if="!toPDF">
            <label class="d-inline-block text-sm-left mr-50">Par page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              style="width:15%"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-table
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="data.items"
            :fields="fields"
            @row-clicked="myRowClickHandler"
          >
           <template #cell(seuil)="row">
              <b-badge v-if="row.item.moyenne >'90' " variant="success">
                Parfait
              </b-badge>
              <b-badge v-else-if="row.item.moyenne >'85' " variant="light-success">
                Excellent
              </b-badge>
              <b-badge v-else-if="row.item.moyenne >'80' " variant="light-info">
                Tu y es presque
              </b-badge>
               <b-badge v-else-if="row.item.moyenne >'71' " variant="light-warning">
                C'est bien moyen
              </b-badge>
              <b-badge v-else variant="light-danger">
                Alerte rouge
              </b-badge>
            </template>
          </b-table>
        </b-col>
        <b-col cols="12">
          <b-pagination
            v-if="!toPDF"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>
      </b-row>
    <div v-if="this.data.title === 'Liste des Téléconseillers évalués'">
             <b-button
              v-ripple.400="'rgba(113, 102, 240, 0.15)'"
              variant="outline-primary"
              size="sm"
            @click="extraire"
            >
              <feather-icon
                icon="ExternalLinkIcon"
                class="mr-50"
              />
              <span class="align-middle">Extraire</span>
            </b-button>
    </div>

    </b-card>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import {
  BTable,
  BRow,
  BCol,
  BPagination,
  BCard,
  BFormSelect,
  BFormGroup,
  BBadge,
  BButton,
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import axios from 'axios'
export default {
  components: {
    BTable,
    BRow,
    BCol,
    BPagination,
    BCard,
    BFormSelect,
    BFormGroup,
    BBadge,
    BButton,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    toPDF: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      perPage: 5,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      fields: [
              {
          key: 'nbr_eval',
          label: "nbr d'evaluations",
          sortable: true,
        },
        {
          key: 'agent',
          label: 'Agent',
          sortable: true,
        },
        {
          key: 'semaine',
          label: "semaine",
          sortable: true,
        },
        {
          key: 'moyenne',
          label: 'Moyenne',
          sortable: true,
        },
      ],
    }
  },
  computed: {
    itemsWithvariant() {
      return this.data.items.map(item => {
        var tmp = item
        /* eslint no-underscore-dangle: ["error", { "allow": ["_cellVariants"] }] */
        if (item.moyenne > 85) {
          tmp._cellVariants = { moyenne: 'success' }
        } else if (item.moyenne > 0) {
          tmp._cellVariants = { moyenne: 'warning' }
        } else {
          tmp._cellVariants = { moyenne: 'danger' }
        }
        return tmp
      })
    },
    console: () => console,
  },
  created() {
    console.log(this.data)
    this.totalRows = this.data.items.length
    if(this.toPDF) {
        this.perPage = this.totalRows
        this.fields[0].sortable = false
        this.fields[1].sortable = false
        this.fields[2].sortable = false
        this.fields.push({
          key: 'indice_tel',
          label: 'Indice Tel',
        })
    }
    if(this.data.title === "Liste des Qualiticiens") {
        this.data.title = "Liste des évaluateurs"
        this.fields[0].label = "Qualiticien"
    }
     if(this.data.title === "Liste des Téléconseillers évalués") {
      //  this.fields[0].label = "Qualiticien"
      const label="seuil"
        this.fields.push(label) 
    }
  },
  methods: {
    myRowClickHandler(record) {
      console.log(record)
    },
       extraire(){
           axios.get('/api/eval/liste/agents/notes', {
          responseType: 'blob',
          headers: {
            Authorization: `Bearer ${this.userToken}`,
          },
             params: {
            data: this.data.items,
          }
        })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'liste_agents.xlsx')
          document.body.appendChild(link)
          link.click()
        }).then(()=>{
          this.waitingliste = false
        })
       }
  },
}
</script>
