<template>
  <b-card no-body>
    <b-card-title class="p-1">
      {{ data.title }}
    </b-card-title>
    <vue-apex-charts
      :height="chartOptions.chart.height"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</template>
<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          height: 390,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined,
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                show: false,
              },
            },
          },
        },
        colors: ['#1ab7ea', '#0084ff', '#39539E'],
        labels: ['TA', 'HO', 'TE'],
        legend: {
          show: true,
          floating: true,
          fontSize: '16px',
          position: 'left',
          offsetX: 60,
          offsetY: 15,
          labels: {
            useSeriesColors: true,
          },
          markers: {
            size: 0,
          },
          formatter: (seriesName, opts) =>
            `${seriesName}:  ${opts.w.globals.series[opts.seriesIndex]}`,
          itemMargin: {
            vertical: 3,
          },
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              legend: {
                show: false,
              },
            },
          },
        ],
      },
    }
  },
  created() {
    const colors = Object.values($themeColors)
    this.chartOptions.colors = colors
    this.chartOptions.labels = this.data.data
    if (typeof this.data.height !== 'undefined') {
      this.chartOptions.chart.height = this.data.height
    }
  },
}
</script>
