<template>
  <div>
    <b-card
      title="Ajouter un utilisateur"
      class="mx-auto"
      style="width:80%; margin-top :2%"
    >
      <b-form-group v-slot="{ ariaDescribedby }">
        <b-row>
          <b-col></b-col>
          <b-col md="2">
            <b-form-radio
              v-model="role"
              :aria-describedby="ariaDescribedby"
              name="role"
              value="admin"
              button
              button-variant="outline-primary"
              >Admin</b-form-radio
            >
          </b-col>
          <b-col md="2">
            <b-form-radio
              v-model="role"
              :aria-describedby="ariaDescribedby"
              name="role"
              value="qualiticien"
              button
              button-variant="outline-primary"
              >Qualiticien</b-form-radio
            >
          </b-col>
          <b-col md="2">
            <b-form-radio
              v-model="role"
              :aria-describedby="ariaDescribedby"
              name="role"
              value="superviseur"
              button
              button-variant="outline-primary"
              >Superviseur</b-form-radio
            >
          </b-col>
          <b-col md="2">
            <b-form-radio
              v-model="role"
              :aria-describedby="ariaDescribedby"
              name="role"
              value="client"
              button
              button-variant="outline-primary"
              >Client</b-form-radio
            >
          </b-col>
          <b-col md="2">
            <b-form-radio
              v-model="role"
              :aria-describedby="ariaDescribedby"
              name="role"
              value="agent"
              button
              button-variant="outline-primary"
              >Agent</b-form-radio
            >
          </b-col>
          <b-col></b-col>
        </b-row>
      </b-form-group>
    </b-card>
    <b-card v-if="role" class="m-auto" style="width:80%">
      <div class="demo-vertical-spacing">
        <b-row>
          <b-col>
            <b-form-group label="Nom: " label-for="nom">
              <b-form-input
                v-model="nom"
                :state="nomState"
                id="nom"
                autocomplete="off"
                @keyup="nomState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Prénom: " label-for="prenom">
              <b-form-input
                v-model="prenom"
                :state="prenomState"
                id="prenom"
                autocomplete="off"
                @keyup="prenomState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="N° de téléphone: " label-for="tel">
              <b-form-input
                :state="phoneState"
                v-model="phone"
                id="tel"
                autocomplete="off"
                @keyup="phoneState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="email">Email:</label>
              <b-form-input
                v-model="email"
                id="email"
                :state="emailState"
                autocomplete="off"
                @keyup="emailState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col v-if="role === 'agent'">
            <b-form-group label="Date d'integration' :" label-for="datepicker">
              <b-form-datepicker
                id="datepicker"
                v-model="dateInte"
                class="mb-2"
                :state="dateInteState"
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="matricule"><span v-if="role === 'client'">N° contrat</span><span v-else>Matricule</span>:</label>
              <b-input-group prepend="#">
                <b-form-input
                  id="matricule"
                  v-model="matricule"
                  autocomplete="off"
                  :state="matriculeState"
                  @keyup="matriculeState = null"
                />
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="mdp">Mot de passe:</label>
              <b-form-input
                v-model="password"
                id="mdp"
                autocomplete="off"
                :state="passwordState"
                @keyup="passwordState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="mb-4" v-if="role === 'agent'">
          <b-col md="2">
            <div class=" d-flex align-items-center ">
              <div>site :</div>
              <b-form-select
                id="i-service"
                :options="sites"
                :state="siteState"
                v-model="site"
                class="ml-2"
                style="width: 60%"
              />
            </div>
          </b-col>
          <b-col md="5">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Activité :</div>
              <b-form-select
                id="i-activite"
                :state="activityState"
                :options="activities"
                text-field="activite"
                value-field="id"
                v-model="activity"
                style="width: 70%"
              />
            </div>
          </b-col>
          <b-col md="5">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Service :</div>
              <b-form-select
                id="i-service"
                :options="serviceoptions"
                :state="serviceState"
                v-model="service"
                text-field="nom"
                value-field="id"
                style="width: 80%"
              />
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-4" v-if="(role === 'client') || (role === 'superviseur')">
          <b-col md="7">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Activité(s) :</div>
              <!-- <b-form-select
                id="i-activite"
                :state="activityState"
                :options="activities"
                text-field="activite"
                value-field="id"
                v-model="activity"
                style="width: 70%"
              /> -->
             <v-select
              style="width: 70%"
              id="i-activite"
              v-model="selectedActivities"
              multiple
              :options="activities"
              :state="activityState"
              label="activite"
              :reduce="activite => activite.id"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="2">
            <b-button variant="" @click="createPassword"
              >Générer un mdp</b-button
            >
          </b-col>
          <b-col></b-col>
          <b-col md="2" class="float-right">
            <b-button variant="warning" @click="resetInput">Reset</b-button>
          </b-col>
          <b-col md="2">
            <b-button class="float-right" variant="success" @click="sendRequest"
              >Ajouter</b-button
            >
          </b-col>
        </b-row>
        <b-row v-if="role === 'agent'">
          <b-col>
            <b-button
              class="float-right"
              size="sm"
              v-b-modal.modal-add-xls
              type="button"
              >Ajouter en masse</b-button
            >
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal
      id="modal-add-xls"
      cancel-variant="outline-secondary"
      ok-title="Envoyer"
      cancel-title="Fermer"
      centered
      title="L'ajout en masse des agents"
      :ok-disabled="file === ''"
      @ok="sendXls"
    >
      <b-row class="mb-2">
        <b-col>
          <b-button class="float-left" size="sm" @click="downloadExcelTemplate"
            >Télécharger le template Excel
          </b-button>
        </b-col>
        <b-col>
          <b-button class="float-right" size="sm" @click="getServiceList"
            >Télécharger la liste des services
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-file
              type="file"
              id="file"
              ref="file"
              browse-text="choisir"
              v-model="file"
              placeholder="Choisissez un fichier ou déposez-le ici ..."
              accept=".xlsx, ..xls"
            ></b-form-file>
          </b-form-group>
        </b-col>
      </b-row>
    </b-modal>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  BInputGroup,
  BFormInput,
  BFormGroup,
  BButton,
  BCard,
  BRow,
  BCol,
  BFormDatepicker,
  BFormRadio,
  BFormSelect,
  BModal,
  BSpinner,
  BFormFile,
} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import vSelect from 'vue-select'

export default {
  components: {
    BInputGroup,
    BFormGroup,
    BFormInput,
    BButton,
    BCard,
    BRow,
    BCol,
    BFormDatepicker,
    BFormRadio,
    BFormSelect,
    BModal,
    BSpinner,
    BFormFile,
    vSelect,
  },
  data() {
    return {
      nom: null,
      prenom: null,
      matricule: null,
      email: '@myopla.com',
      password: null,
      phone: null,
      dateInte: '',
      role: false,
      selectedActivities: [],
      site: '',
      sites: [
        { value: 'TA', text: 'TA' },
        { value: 'TE', text: 'TE' },
        { value: 'HO', text: 'HO' },
        { value: 'BDX', text: 'BDX' },
         { value: 'NSL', text: 'NSL' },
      ],
      activities: null,
      activity: '',
      service: '',
      emailState: null,
      nomState: null,
      prenomState: null,
      matriculeState: null,
      passwordState: null,
      phoneState: null,
      userToken: useJwt.getToken(),
      waiting: false,
      file: '',
    }
  },
  computed: {
    dateInteState() {
      if (this.dateInte === null) return false
      return null
    },
    siteState() {
      if (this.site === null) return false
      return null
    },
    activityState() {
      if (this.activity === null) return false
      return null
    },
    serviceState() {
      if (this.service === null) return false
      return null
    },
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
  },
  created() {
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
  methods: {
    resetInput() {
      this.nom = null
      this.prenom = null
      this.matricule = null
      this.email = '@myopla.com'
      this.password = null
      this.phone = null
      this.dateInte = ''
      this.role = false
      this.nomState = null
      this.prenomState = null
      this.matriculeState = null
      this.emailState = null
      this.passwordState = null
      this.phoneState = null
      this.site = ''
      this.service = ''
      this.activity = ''
      this.selectedActivities = []
    },
    createPassword() {
      this.passwordState = null
      this.password = Array(8)
        .fill(
          '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@&.-_+!@&.-_+!@&.-_+!',
        )
        .map(x => x[Math.floor(Math.random() * x.length)])
        .join('')
    },
    validateInputs() {
      var isgood = true
      if (
        !/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.email,
        )
      ) {
        isgood = false
        this.emailState = false
        isgood = false
      }
      if (!this.phone) {
        this.phoneState = false
        isgood = false
      }
      if (!this.nom) {
        this.nomState = false
        isgood = false
      }
      if (!this.prenom) {
        this.prenomState = false
        isgood = false
      }
      if (!this.password) {
        this.passwordState = false
        isgood = false
      }
      if (!this.matricule) {
        this.matriculeState = false
        isgood = false
      }
      if (this.dateInte === '') {
        this.dateInte = null
        isgood = false
      }
      if (this.role === 'agent') {
        if (this.site === '') {
          this.site = null
          isgood = false
        }
        if (this.activity === '') {
          this.activity = null
          isgood = false
        }
        if (this.service === '') {
          this.service = null
          isgood = false
        }
      }
      if ((this.role === 'client') || (this.role === 'superviseur')) {
        if (this.selectedActivities.length === 0) {
          alert('veuillez choisir l\'activité(s) associée a cet utilisateur')
          this.selectedActivities = []
          isgood = false
        }
      }
      return isgood
    },
    sendRequest() {
      if (this.validateInputs()) {
        this.waiting = true
        axios
          .post(
            '/api/staff/add',
            {
              nom: this.nom,
              prenom: this.prenom,
              matricule: this.matricule,
              email: this.email,
              password: this.password,
              phone: this.phone,
              role: this.role,
              dateInte: this.dateInte,
              service: this.service,
              site: this.site,
              activite : this.activity,
              activites : this.selectedActivities
            },
            {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${this.userToken}`,
              },
            },
          )
          .then(response => {
            this.waiting = false
            if (response.data.message === 'matricule') {
              this.$swal({
                text: 'cette matricule est déjà prise',
                icon: 'error',
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            } else if (response.data.message === 'email') {
              this.$swal({
                text: 'cette adresse de messagerie est déjà prise',
                icon: 'error',
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            } else {
              this.$swal({
                text: 'Utilisateur ajouté avec succès',
                icon: 'success',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              }).then(() => {
                this.resetInput()
              })
            }
          })
      }
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0]
    },
    sendXls() {
      this.waiting = true
      var formData = new FormData()
      formData.append('file', this.file)
      axios
        .post('/api/staff/importagents', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          if (response.data === 'no file') {
            this.$swal({
              text: "Fichier n'a pas pu être transféré",
              icon: 'error',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            })
          } else if (response.data === 'file not compatible') {
            this.$swal({
              text: "Fichier n'est pas compatible",
              icon: 'error',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            })
          } else {
            this.$swal({
              text: `${response.data} agents ajoutés`,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
              this.waiting = false
              this.$root.$emit('hide::modal', 'modal-add-xls')
            })
          }
        })
        .catch(() => {
          this.waiting = false
          this.$swal({
            text: 'Erreur !',
            icon: 'error',
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonStyling: false,
          })
          console.log('FAILURE!!')
        })
    },
    getServiceList() {
      this.waiting = true
      axios
        .get('/api/exportServices', {
          responseType: 'blob',
          headers: {
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          this.waiting = false
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'liste-services.xlsx')
          document.body.appendChild(link)
          link.click()
        })
    },
    downloadExcelTemplate() {
      this.waiting = true
      axios
        .get('/api/exceltemplate', {
          responseType: 'blob',
          headers: {
            Accept:
              'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          const url = URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'templateListeAgents.xlsx')
          document.body.appendChild(link)
          link.click()
          this.waiting = false
        })
    },
  },
}
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
