<template>
  <div>
    <b-card
      title="Modifier le compte d'un agent"
      class="m-auto"
      style="width:80%"
    >
      <div class="demo-vertical-spacing">
        <b-row>
          <b-col>
            <b-form-group label="Nom: " label-for="nom">
              <b-form-input
                v-model="nom"
                :state="nomState"
                id="nom"
                autocomplete="off"
                @keyup="nomState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Prénom: " label-for="prenom">
              <b-form-input
                v-model="prenom"
                :state="prenomState"
                id="prenom"
                autocomplete="off"
                @keyup="prenomState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="N° de téléphone: " label-for="tel">
              <b-form-input
                :state="phoneState"
                v-model="phone"
                id="tel"
                autocomplete="off"
                @keyup="phoneState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="email">Email:</label>
              <b-form-input
                v-model="email"
                id="email"
                :state="emailState"
                autocomplete="off"
                @keyup="emailState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="Date d'integration' :" label-for="datepicker">
              <b-form-datepicker
                id="datepicker"
                v-model="dateInte"
                class="mb-2"
                :state="dateInteState"
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="matricule">Matricule:</label>
              <b-input-group prepend="#">
                <b-form-input
                  id="matricule"
                  v-model="matricule"
                  type="text"
                  autocomplete="off"
                  :state="matriculeState"
                  @keyup="matriculeState = null"
                />
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="mb-4">
           <b-col md="2">
            <div class=" d-flex align-items-center ">
              <div>site :</div>
              <b-form-select
                id="i-service"
                :options="sites"
                :state="siteState"
                v-model="site"
                class="ml-2"
                style="width: 60%"
              />
            </div>
          </b-col>
          <b-col md="5">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Activité :</div>
              <b-form-select
                id="i-activite"
                :options="activities"
                text-field="activite"
                value-field="id"
                v-model="activity"
                style="width: 70%"
              />
            </div>
          </b-col>
          <b-col md="5">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Service :</div>
              <b-form-select
                id="i-service"
                :options="serviceoptions"
                v-model="service"
                text-field="nom"
                value-field="id"
                style="width: 80%"
              />
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <label for="mdp"> Modifier le status du l'agent  * ? :</label>
            <b-form-group>
              <v-select :options="roles" v-model="role" item-value="id" label="nom" >

              </v-select>
            </b-form-group>
          </b-col>
          <b-col cols="6" v-if="this.role != ''">
            <b-form-group>
              <label for="password"> Mot de passe   * : </label>
                <b-form-input v-model="password"    autocomplete="off" :state="passwordState"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button class="float-right" variant="success" @click="sendRequest"
              >Modifier</b-button
            >
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
  </div>
</template>
<script>
import {
  BInputGroup,
  BFormInput,
  BFormGroup,
  BButton,
  BCard,
  BRow,
  BCol,
  BFormDatepicker,
  BFormSelect,
  BModal,
  BSpinner,
} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import vSelect from 'vue-select'

export default {
  components: {
    BInputGroup,
    BFormGroup,
    BFormInput,
    BButton,
    BCard,
    BRow,
    BCol,
    BFormDatepicker,
    BFormSelect,
    BModal,
    
    BSpinner,
    vSelect,
  },
  data() {
    return {
      nom: null,
      prenom: null,
      matricule: null,
      email: null,
      password: '',
      phone: null,
      dateInte: '',
      site: '',
      userId: null,
      activities: null,
      activity: '',
      service: '',
      emailState: null,
      nomState: null,
      prenomState: null,
      matriculeState: null,
      passwordState: null,
      phoneState: null,
      userToken: useJwt.getToken(),
      waiting: false,
      role : '',
      sites: [
        { value: 'TA', text: 'TA' },
        { value: 'TE', text: 'TE' },
        { value: 'HO', text: 'HO' },
        { value:'BDX', text: 'BDX'},
        { value:'NSL', text: 'NSL'},
      ],
      roles: [
      {
        id:1,
        nom:'admin'
      },
          {
        id:2,
        nom:'qualiticien'
      },
          {
        id:3,
        nom:'superviseur'
      },
          {
        id:4,
        nom:'client'
      },
          {
        id:5,
        nom:'agent'
      }
],
    }
  },
  computed: {
    dateInteState() {
      if (this.dateInte === null) return false
      return null
    },
    siteState() {
      if (this.site === null) return false
      return null
    },
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
  },
  created() {
    
    axios
      .get(`/api/staff/agent/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.nom = response.data.nom
        this.prenom = response.data.prenom
        this.matricule = response.data.matricule
        this.email = response.data.email
        this.phone = response.data.telephone
        this.dateInte = response.data.dateInte
        this.site = response.data.site
        this.userId = response.data.id
        this.service = response.data.service_id
        axios
          .get('/api/grille/getactivities', {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(res => {
            this.activities = res.data
            const allactivities = this.activities.reduce((prev, next) => prev.concat(next.services), [])
            const serviceObj = allactivities.find(obj => obj.id === this.service)
            this.activity = serviceObj.activite_id
          })
      })
  },
  mounted() {
  },
  methods: {
    validateInputs() {
      var isgood = true
      if (
        !/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.email,
        )
      ) {
        isgood = false
        this.emailState = false
        isgood = false
      }
      if (!this.phone) {
        this.phoneState = false
        isgood = false
      }
      if (!this.nom) {
        this.nomState = false
        isgood = false
      }
      if (!this.prenom) {
        this.prenomState = false
        isgood = false
      }
      if (!this.matricule) {
        this.matriculeState = false
        isgood = false
      }
      if (this.dateInte === '') {
        this.dateInte = null
        isgood = false
      }
      if (this.site === '') {
        this.site = null
        isgood = false
      }
      if (this.role === '') {
        this.role = null
        isgood = false
      }
      if (this.password === '' ) {
        this.password = null
        isgood = false
      }
      return isgood
    },
    sendRequest() {
      if (this.validateInputs()) {
        this.waiting = true
        axios
          .post(
            '/api/staff/editagent',
            {
              nom: this.nom,
              prenom: this.prenom,
              matricule: this.matricule,
              email: this.email,
              password: this.password,
              phone: this.phone,
              dateInte: this.dateInte,
              service: this.service,
              site: this.site,
              agent_id: this.userId,
              role_id : this.role.id
            },
            {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${this.userToken}`,
              },
            },
          )
          .then(res => {
            this.waiting = false
            if (res.data === 'matricule'){
                this.$swal({
                    text: 'Matricule est déjà prise',
                    icon: 'error',
                    customClass: {
                    confirmButton: 'btn btn-danger',
                    },
                    buttonsStyling: false,
                }) 
            }
            if (res.data === 'email'){
                this.$swal({
                    text: 'Adresse de messagerie est déjà prise',
                    icon: 'error',
                    customClass: {
                    confirmButton: 'btn btn-danger',
                    },
                    buttonsStyling: false,
                }) 
            }
            if (res.data === 'ok'){
                this.$swal({
                 text: 'Utilisateur modifié avec succès',
                 icon: 'success',
                customClass: {
                   confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
                }).then(() => {
                  this.$router.push({ name: 'home' })
                }) 
            }
          })
      }
      else {
        alert('Vous devez remplir tous les shamps ')
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
