<template>
  <div>
    <b-card
      v-if="role === null"
      class="m-auto text-center d-flex justify-content-between"
      style="width:80%"
    >
      <b-spinner variant="primary" style="width: 6rem; height: 6rem;" />
    </b-card>
    <b-card
      v-else
      :title="`Modifier le compte d'un ${role}`"
      class="m-auto"
      style="width:80%"
    >
      <div class="demo-vertical-spacing">
        <b-row>
          <b-col>
            <b-form-group label="Nom: " label-for="nom">
              <b-form-input
                v-model="nom"
                :state="nomState"
                id="nom"
                autocomplete="off"
                @keyup="nomState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Prénom: " label-for="prenom">
              <b-form-input
                v-model="prenom"
                :state="prenomState"
                id="prenom"
                autocomplete="off"
                @keyup="prenomState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="N° de téléphone: " label-for="tel">
              <b-form-input
                :state="phoneState"
                v-model="phone"
                id="tel"
                autocomplete="off"
                @keyup="phoneState = null"
              />
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="email">Email:</label>
              <b-form-input
                v-model="email"
                id="email"
                :state="emailState"
                autocomplete="off"
                @keyup="emailState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group>
              <label for="matricule">Matricule:</label>
              <b-input-group prepend="#">
                <b-form-input
                  id="matricule"
                  v-model="matricule"
                  type="number"
                  autocomplete="off"
                  :state="matriculeState"
                  @keyup="matriculeState = null"
                />
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <label for="mdp">Réinitialiser le Mot de passe:</label>
              <b-form-input
                v-model="password"
                id="mdp"
                autocomplete="off"
                :state="passwordState"
                @keyup="passwordState = null"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="mb-4" v-if="role === 'client' || role === 'superviseur'">
          <b-col md="5">
            <div class=" d-flex align-items-center ">
              <div class="mr-1">Activité :</div>
              <b-form-select
                id="i-activite"
                :options="activities"
                text-field="activite"
                value-field="id"
                v-model="activity"
                style="width: 70%"
              />
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button class="float-right" variant="success" @click="sendRequest"
              >Modifier</b-button
            >
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
  </div>
</template>
<script>
import {
  BInputGroup,
  BFormInput,
  BFormGroup,
  BButton,
  BCard,
  BRow,
  BCol,
  BModal,
  BSpinner,
  BFormSelect,
} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BInputGroup,
    BFormGroup,
    BFormInput,
    BButton,
    BCard,
    BRow,
    BCol,
    BModal,
    BSpinner,
    BFormSelect,
  },
  data() {
    return {
      nom: null,
      prenom: null,
      matricule: null,
      email: null,
      password: null,
      phone: null,
      userId: null,
      role: null,
      activity: null,
      activities: [],
      emailState: null,
      nomState: null,
      prenomState: null,
      matriculeState: null,
      passwordState: null,
      phoneState: null,
      userToken: useJwt.getToken(),
      waiting: false,
    }
  },
  computed: {},
  created() {
    axios
      .get(`/api/staff/user/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.nom = response.data.user.nom
        this.prenom = response.data.user.prenom
        this.matricule = response.data.user.matricule
        this.email = response.data.user.email
        this.phone = response.data.user.telephone
        this.userId = response.data.user.id
        this.role = response.data.role
        this.activity = response.data.activity
        axios
          .get('/api/grille/getactivities', {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(res => {
            this.activities = res.data
          })
      })
  },
  methods: {
    validateInputs() {
      var isgood = true
      if (
        !/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.email,
        )
      ) {
        isgood = false
        this.emailState = false
        isgood = false
      }
      if (!this.phone) {
        this.phoneState = false
        isgood = false
      }
      if (!this.nom) {
        this.nomState = false
        isgood = false
      }
      if (!this.prenom) {
        this.prenomState = false
        isgood = false
      }
      if (!this.matricule) {
        this.matriculeState = false
        isgood = false
      }
      return isgood
    },
    sendRequest() {
      if (this.validateInputs()) {
        this.waiting = true
        axios
          .post(
            '/api/staff/edituser',
            {
              nom: this.nom,
              prenom: this.prenom,
              matricule: this.matricule,
              email: this.email,
              password: this.password,
              phone: this.phone,
              role: this.role,
              user_id: this.userId,
            },
            {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${this.userToken}`,
              },
            },
          )
          .then(() => {
            this.waiting = false
            this.$swal({
              text: 'Utilisateur modifié avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
              this.$router.go(-1)
            })
          })
      }
    },
  },
}
</script>
