<template>
  <div>
    <b-card
      v-if="waiting == true"
      class="text-center d-flex justify-content-between"
    >
      <b-spinner
        variant="primary"
        style="width: 6rem; height: 6rem;"
        class="m-auto"
      />
    </b-card>

    <b-card v-else>
      <b-row>
        <b-col md="2" sm="4" class="my-1">
          <b-form-group class="mb-0">
            <label class="d-inline-block text-sm-left mr-50">Par page</label>
            <b-form-select
              id="perPageSelect"
              v-model="perPage"
              size="sm"
              :options="pageOptions"
              class="w-50"
            />
            / {{ items.length }}
          </b-form-group>
        </b-col>
        <b-col md="4" sm="8" class="my-1">
          <b-form-group
            label="Trier"
            label-cols-sm="3"
            label-align-sm="right"
            label-for="sortBySelect"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-select
                id="sortBySelect"
                v-model="sortBy"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">-- aucun --</option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group
            label="filter"
            label-cols-sm="3"
            label-align-sm="right"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                id="filterInput"
                v-model="filter"
                type="search"
                placeholder="Tapez pour rechercher"
              />
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">
                  Effacer
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-table
            hover
            responsive
            :per-page="perPage"
            :current-page="currentPage"
            :items="items"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            :filter-included-fields="filterOn"
            @filtered="onFiltered"
          >
            <template #cell(statut)="row">
              <b-badge v-if="row.item.statut === '1'" variant="success">
                Activé
              </b-badge>
              <b-badge v-else variant="danger">
                Désavtivé
              </b-badge>
            </template>

            <template #cell(actions)="row">
              <b-dropdown
                variant="link"
                toggle-class="text-decoration-none"
                no-caret
              >
                <template v-slot:button-content>
                  <feather-icon
                    icon="MoreVerticalIcon"
                    size="16"
                    class="text-body align-middle mr-25"
                  />
                </template>
                <b-dropdown-item @click="editBtn(row.item.id)">
                  <feather-icon icon="Edit2Icon" class="mr-50" />
                  <span>Modifier</span>
                </b-dropdown-item>
                <b-dropdown-item variant="danger" @click="handleDelete(row.item.id)">
                  <feather-icon icon="TrashIcon" class="mr-50" />
                  <span>Désactiver</span>
                </b-dropdown-item>
              </b-dropdown>
            </template>
          </b-table>
        </b-col>
        <b-col cols="12">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            size="sm"
            class="my-0"
          />
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>
<script>
import {
  BTable,
  BRow,
  BCol,
  BFormGroup,
  BFormSelect,
  BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
  BButton,
  BCard,
  BDropdown,
  BDropdownItem,
  BSpinner,
  BBadge,
} from 'bootstrap-vue'
import useJwt from '@/auth/jwt/useJwt'
import axios from 'axios'

export default {
  components: {
    BTable,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BCard,
    BDropdown,
    BDropdownItem,
    BSpinner,
    BBadge,
  },
  data() {
    return {
      perPage: 10,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      fields: [
        {
          key: 'matricule',
          label: 'matricule',
          sortable: true,
        },
        {
          key: 'nom',
          label: 'nom',
          sortable: true,
        },
        {
          key: 'prenom',
          label: 'prénom',
          sortable: true,
        },
        {
          key: 'email',
          label: 'email',
          sortable: true,
        },
        {
          key: 'statut',
          label: 'statut',
          sortable: true,
        },
        { key: 'actions', label: 'Actions' },
      ],
      items: [],
      waiting: true,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
    console: () => console,
  },
  created() {
    axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.items = response.data
        this.totalRows = this.items.length
        this.waiting = false
      })
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    editBtn(id) {
      this.$router.push({ name: 'edit-user', params: { id } })
    },
    handleDelete(id) {
      this.$swal({
        text:
          'Voulez vous désactiver cet utilisateur ?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'désactiver',
        cancelButtonText: 'annuler',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.waiting = true
          axios
            .post(
              '/api/staff/disableuser',
              {
                id,
              },
              {
                headers: {
                  'Content-Type': 'application/json',
                  Authorization: `Bearer ${this.userToken}`,
                },
              },
            )
            .then(response => {
              if (response.status === 200) {
                this.waiting = false
                // this.items = this.items.filter(obj => obj.id !== id)
                const objIndex = this.items.findIndex((obj => obj.id == id))
                this.items[objIndex].statut = "0"
                this.$swal({
                  icon: 'success',
                  title: 'Utilisateur désactivé!',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            })
          /*
           */
        }
      })
    },

  },
}
</script>
