<template>
  <div>
    <b-card class="m-auto w-8">
            <b-col md="12" >
                <b-row  class="mb-4">
<h2 class="" style="border-bottom: 1px solid #ccc; ">Ajouter enregistrement :</h2>


       
 </b-row>
            </b-col>

       
      <b-row
        >
        <b-col md="4">
          <b-form-group label="Activité *:" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="activite"
              :options="activites"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service *:" label-for="i-service">
            <v-select
              v-model="serviceId"
              id="i-service"
              :options="serviceoptions"
              label="nom"
              @input="handleServiceChange"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Date de l'appel *:" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
            <b-col md="3">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
          <b-col md="3">
          <b-form-group label="ID client / Nc :" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group> </b-col>
        
          <b-col md="3">
          <b-form-group     label="Téléconseiller *:" label-for="i-agent">
            <v-select
              :options="serviceAgents"
              id="i-agent"
              label="nom"
            
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
                 <b-col md="3">
                <b-form-group label="Enregistrement d'appel  *:"  >
   
               <b-form-file
                
              
                 id="file"
                ref="file"
              type="file"
            
                v-model="file"
                placeholder="Choisissez une piece jointe ..."
            
              ></b-form-file>

           
             </b-form-group >
           </b-col>
    
     
      </b-row>
     <b-row v-if="activiteId!=null && activiteId.id===25">
    <b-col md="4" >
         <b-form-group  label="Motif d'appel :" label-for="i-agent">
           <v-select
              :options="motifsPoints"
              item-text="motifs"
              item-value="id"
              label="motifs"
              v-model="motifsPoint"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
       </b-form-group>
    </b-col>
       <b-col md="4" >
         <b-form-group label="Sous Motif :" label-for="i-agent">
           <v-select
              :options="SousmotifsPoints"
              id="i-agent"
              label="nom"
            
              v-model="SousmotifsPoint"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
       </b-form-group>
    </b-col>
     </b-row >
  <b-row v-if="this.activiteId!=null && this.activiteId.id===24">
        <b-col md="4">
          <b-form-group label="Motifs de contact " >
            <v-select 
            :options="MotifsAlpique"
            item-text="nom" 
            item-value="id" 
            label="nom"
             v-model="MotifAlpique">
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
            <b-row class="mb-5 d-flex justify-content-center mt-4">
        <b-col class="mt-1" md="5">
          <b-button
            variant="outline-primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>
           
    </b-card>
    <br />

  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormFile,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    BFormFile,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      MotifsAlpique : [],
      MotifAlpique : null ,
      file : '',
      qualiticien : '',
      activiteId: null,
      serviceId: null,
      date:null,// new Date().toISOString().split('T')[0],
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      sending: false,
      indice: '',
      clientId : '',
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
      motifsPoint : '',
      motifsPoints : [      
      ],
      SousmotifsPoint : '',
    }
  },
  computed: {
      SousmotifsPoints(){
 if (this.motifsPoint) {
        
        const ac = this.motifsPoints.find(x => x.id === this.motifsPoint.id)
      
      return ac.sousmotifs
      }
      return []
    },
       serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
           if (this.serviceId.id==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
              if (this.serviceId.id==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
             if (this.serviceId.id==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
             if (this.serviceId.id==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
              if (this.serviceId.id==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
          if (this.serviceId.id==63) {
          const agents = this.agents.filter(agent => agent.service === 62) // mm reclamation
          return agents
        }
           if (this.serviceId.id==68) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==71) {
          const agents = this.agents.filter(agent => agent.service === 69) // mm reclamation
          return agents
        }
          if (this.serviceId.id==74) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==76) {
          const agents = this.agents.filter(agent => agent.service === 24) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },

      supsOptions() {
      },
    serviceoptions() {
      if (this.activiteId) {
        console.log(this.activiteId)
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
  },
  created() {
      axios
    .get('/api/motifAlpique/allmotifs',
    {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
    }
    )
    .then(response=>{
      this.MotifsAlpique = response.data
    })

     axios
      .get('/api/motifs/allmotifs', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
       this.motifsPoints = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
      handleFileUpload(){
   this.file = this.$refs.file.files[0]
},

 sendData(){
 if (!this.activiteId || !this.serviceId   || !this.date     || ! this.agentId ) { 
  if (!this.activiteId) {
          this.$swal({
            text: "vous devez selectionner une activite !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.serviceId) {
          this.$swal({
            text: "vous devez selectionner un service !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
          if(!this.agentId) {
                  this.$swal({
            text:
              "vous devez selectionner l'agent  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
 }
    else {
        this.sendRequest()
      }
 },
    handleServiceChange() {

    },
    sendRequest() {
  
      this.sending = true
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('activiteId', this.activiteId.id);
      formData.append('serviceId', this.serviceId.id);
      formData.append('agentId', this.agentId.id);
      formData.append('date', this.date);
      formData.append('clientId', this.clientId);
      formData.append('indice', this.indice);
      formData.append('qualiticien', this.userData.userId);
      formData.append('motifsPoint', this.motifsPoint.id);
      formData.append('SousmotifsPoint', this.SousmotifsPoint.id);
      if(this.MotifAlpique!= null){
        formData.append('motifAlpique',this.MotifAlpique.nom)
      }
      axios
        .post(
          '/api/appel/save',formData,
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
    this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Constat ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
            this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
