<template>
  <div>
    <span v-if="service === null">
      <b-card class="text-center d-flex justify-content-between">
        <b-spinner
          variant="primary"
          style="width: 6rem; height: 6rem;"
          class="m-auto"
        />
      </b-card>
    </span>
    <span v-else>
      <b-card class="m-auto w-8">
        <br />
        <b-row>
          <b-col md="4">
            <b-form-group label="Service :" label-for="i-service">
              <b-form-input
                id="i-service"
                autocomplete="off"
                v-model="service"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Date de l'appel:" label-for="datepicker">
              <b-form-datepicker
                id="datepicker"
                ref="datepicker"
                v-model="dateAppel"
                class="mb-2"
                readonly
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Date d'évaluation:" label-for="datepickereval">
              <b-form-datepicker
                id="datepickereval"
                ref="datepickereval"
                v-model="dateEval"
                class="mb-2"
                readonly
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4">
            <b-form-group label="Indice / Tél :" label-for="i-indice">
              <b-form-input
                id="i-indice"
                ref="indice"
                autocomplete="off"
                v-model="indice"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="ID client / Nc :" label-for="i-client">
              <b-form-input
                id="i-client"
                ref="client"
                autocomplete="off"
                v-model="clientId"
                readonly
              />
            </b-form-group> </b-col
          ><b-col md="4">
            <b-form-group label="Téléconseiller :" label-for="i-agent">
              <v-select
                ref="agent"
                :options="agents"
                id="i-agent"
                v-model="agentId"
                label="nom"
                disabled
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
            
       <b-col md="12" v-if="audio!== '' ">
              <b-form-group    class="mt-2" label="Enregistrement d'appel  :" label-for="i-agent">
        <audio style="width:740px"  id="myAudio" controls  :src="audio" > </audio>
          </b-form-group>

               

       </b-col>
        </b-row>
      </b-card>
      <span v-for="(item, index) in items" :key="index">
            <br />
   <b-card class="p-0 mb-0 rounded-0" :title="item.partie+'  :  '">
       <b-row style="margin-left:15%" >
           <b-col   v-for="(qualiticien,index) in qualiticiens" :key="index" class="mb-4">
              <b-button variant="outline-secondary" >
                   {{qualiticien.nom}} {{qualiticien.prenom}} :
              </b-button>
           </b-col>
       </b-row>
       <b-row style="margin-left:18%" class="mb-2" v-if="userData.role==='admin'" >
         
         <b-col  v-for="(calibrage,index) in calibrages" :key="index">
         
           <feather-icon icon="EditIcon" size="24" @click="editCalibe(calibrage.id)" style="cursor: pointer;" ></feather-icon> modifier
         </b-col>
       </b-row>
        <b-row
            class=" border-bottom mb-1"
            v-for="(element, index) in item.elements"
            :key="index"
          >

                 <b-col md="2">
              <p class="font-weight-bold" style="margin-top:3%">
               <feather-icon icon="EditIcon" size="20" style="cursor: pointer;" @click="triggerItemModal2(element)"></feather-icon> {{ element.nom }} 
              </p>
            </b-col>
            <b-col  v-for="(calibrage,index) in calibrages" :key="index">
             
<div >

<div style="width:50%">
        <b-col v-for="(note,index) in notes" :key="index" class="">
<div v-if="note.calibrages_id ==calibrage.id && note.element_id==element.id" class="mt-1" >
   
              <b-row v-if="activiteId===11">
              </b-row>  

              <b-button v-if="note.note === 'EX'"
                    variant="outline-success"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >Excellent</b-button
                  >
                   <b-button
                  v-if="note.note === 'BON'"
                    variant="outline-info"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >bon</b-button
                  >
                   <b-button
                  v-if="note.note === 'MOY'"
                    variant="outline-warning"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >Moyen</b-button
                  >
                   <b-button
                  v-if="note.note === 'MAU'"
                    variant="outline-danger"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >Mauvais</b-button
                  >
           
                 <b-row v-else>
                          <b-button v-if="note.note === 'AQ'"
                    variant="outline-success"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >ACQUIS</b-button
                  >

        
             
          
                  <b-button
                  v-if="note.note === 'PA'"
                    variant="outline-info"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >PARTIEL</b-button
                  >

        
          
                  <b-button
                  v-if="note.note === 'NAQ'"
                    variant="outline-warning"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >NAQ</b-button
                  >

        

                  <b-button
                  v-if="note.note === 'NA'"
                    variant="outline-secondary"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >NA</b-button
                  >
     


                  <b-button
                  v-if="note.note === 'SI'"
                    variant="outline-danger"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >SI</b-button
                  >
                  
    
<feather-icon icon="MessageSquareIcon" class="ml-2 mt-1 mb-1" size="20" style="cursor: pointer;" @click="triggerItemModal(note.comment)" ></feather-icon>
                 </b-row>
    
    </div>
    </b-col>
</div>

</div>
            </b-col>

        </b-row>
   </b-card>
      </span>

      <b-modal
        v-model="waiting"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="d-flex justify-content-center ">
          <b-spinner style="width: 3rem; height: 3rem;" variant="primary" />
        </div>
      </b-modal>
            <br />
      <b-card v-for="(comment,index) in comments" :key="index" class=" mb-4 w-8">
          <b-row class="ml-1 mb-4" ><h2 style="border-bottom:solid">{{comment.qualticiens.nom}}  {{comment.qualticiens.prenom}} :</h2></b-row>
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select
                v-model="comment.satcli"
                id="i-satcli"
                disabled
                style="color: black"
              >
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select
                v-model="comment.oad"
                id="i-oad"
                disabled
                style="color: black"
              >
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select
                v-model="comment.pcc"
                id="i-pcc"
                disabled
                style="color: black"
              >
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input
                id="i-exci"
                v-model="comment.exci"
                autocomplete="off"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4" v-if="activiteId === 7">
            <b-form-group label="Malus :" label-for="malus">
              <b-form-select disabled class="text-danger" v-model="malus" id="malus">
                <b-form-select-option v-for="n in range(280)" :key="n" class="text-dark" :value="n"
                  >-{{n}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="comment.sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
              disabled
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea
              id="textarea-default"
              rows="4"
              v-model="comment.synthese"
              disabled
          /></b-col>
        </b-row>
      </b-card>
      <br>
            <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>
    </span>

    
       <b-modal
        id="modal-item"
        v-model="itemModal"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Annuler"
        centered
        >
        <b-form-group label="Commentaire :" label-for="i-com">
          <b-form-input
            id="i-com"
            v-model="comment"
            autocomplete="off"
          />
        </b-form-group>
      </b-modal>
      

       <b-modal
        id="modal-item"
        v-model="itemModal2"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Annuler"
        centered
        :title="temp_item.nom"
        @ok="handleEditItem"
        ><b-form-group label="Note :" label-for="i-note">
          <b-form-select v-model="note" id="i-note">
            <b-form-select-option v-if="activiteId===11" value="EX">Excellent</b-form-select-option>
             <b-form-select-option v-if="activiteId===11" value="BON">Bon</b-form-select-option>
              <b-form-select-option v-if="activiteId===11" value="MOY">Moyen</b-form-select-option>
               <b-form-select-option v-if="activiteId===11" value="MAU">Mauvais</b-form-select-option>
            <b-form-select-option  v-if="activiteId!=11" value="AQ">ACQUIS</b-form-select-option>
            <b-form-select-option v-if="activiteId!=11" value="PA">PARTIEL</b-form-select-option>
            <b-form-select-option v-if="activiteId!=11" value="NAQ">NON ACQUIS</b-form-select-option>
            <b-form-select-option v-if="activiteId!=11" value="NA">N/A</b-form-select-option>
            <b-form-select-option v-if="activiteId!=11" value="SI">SI</b-form-select-option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Commentaire :" label-for="i-com">
          <b-form-input
            id="i-com"
            v-model="comment"
            autocomplete="off"
          />
        </b-form-group>
      </b-modal>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormDatepicker,
  BButton,
  BFormTextarea,
  BFormCheckbox,
  BFormSelect,
  BFormSelectOption,
  BSidebar,
  BModal,
  BSpinner,
} from 'bootstrap-vue'
import axios from 'axios'
import vSelect from 'vue-select'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormDatepicker,
    BButton,
    BFormTextarea,
    BFormCheckbox,
    BFormSelect,
    BFormSelectOption,
    BSidebar,
    BModal,
    BSpinner,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
        comments: [],
        sending:false,
         note: null,
        items2: [],
          temp_item: {
        id: null,
        nom: null,
        note: '',
        comment: null,
        g_ko: null,
        g_pa:null,
        g_ok: null,
        g_si: null,
        g_na: null,
        bareme: null,
      },
        temp_item2: {
        id: null,
        nom: null,
        note: '',
        comment: null,
        g_ko: null,
        g_pa:null,
        g_ok: null,
        g_si: null,
        g_na: null,
        bareme: null,
      },
        itemModal2:false,
        comment : '',
        notes : [],
        calibrages : [],
      qualiticiens : [],
      dateAppel: null,
      dateEval: null,
      agentId: null,
      agents: [],
      indice: null,
      clientId: null,
      service: null,
      items: [],
      pcc: null,
      itemModal:false,
      weekofyear: null,
      synthese: null,
      sim: false,
      exci: null,
      oad: null,
      satcli: null,
      noteg: null,
      activiteId: null,
      malus: null,
      evalId: this.$route.params.id,
      waiting: false,
      userToken: useJwt.getToken(),
      userData: {
        role: null,
      },
      audio: '',
    }
  },
  computed: {
  },
  created() {
    this.userData = JSON.parse(localStorage.getItem('userData'))
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
           Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
    axios
      .get(`/api/eval/calib/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
          if(response.data.appel !=0) {
            this.audio = response.data.appel
          }
        this.indice = response.data.eval.indice_tel
        this.clientId = response.data.eval.client_id
        this.dateAppel = response.data.eval.date_appel
        this.dateEval = response.data.eval.created_at
        this.service = response.data.eval.grille.service.nom
        this.serviceId = response.data.eval.grille.service.id
        this.activiteId = response.data.eval.grille.service.activite_id
        this.agentId = this.agents.find(
          x => x.id === response.data.eval.agent_id
        )
       this.pcc = response.data.eval.pcc
        this.weekofyear = response.data.eval.semaine
        this.synthese = response.data.eval.synthese
        this.noteg = response.data.eval.note_global
        this.noteg = this.noteg.toFixed(2)
        if (this.noteg === 0) {
          this.sim = true
        }
        this.exci = response.data.eval.exci
        this.oad = response.data.eval.oad
        this.satcli = response.data.eval.satcli
        this.malus = this.noteGlobalwithoutMalus()


        this.items = response.data.elements
        this.qualiticiens = response.data.qualiticiens
        this.calibrages = response.data.calibrages
        this.notes = response.data.notes
        this.comments =response.data.comments

      })
  },
  methods: {
    editCalibe(id){

     this.$router.push({ name: 'detail-calibrage222', params: { id } })
    },
         noteGlobalwithoutMalus() {
       var re = 0
       this.items.forEach(x => {
          x.elements.forEach(y => {
            if (typeof y.note !== 'undefined') {
              if (y.note === 'AQ' || y.note === 'NA') {
                re += y.bareme
               }
                if (y.note === 'PA') {
                re += y.bareme/2
               }
            }
          })
       })
       return ((re - this.noteg)/(100/600)).toFixed(0)
    },
          handleEditFooter() {
      this.waiting = true
      axios
        .post(
          '/api/eval/editfooter',
          {
            evalid: this.evalId,
            data: this.footerTempData,
            items: this.items,
            malus: this.malusTemp
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if (response.status === 200) {
            this.synthese = this.footerTempData.synthese
            this.sim = this.footerTempData.sim
            this.exci = this.footerTempData.exci
            this.oad = this.footerTempData.oad
            this.satcli = this.footerTempData.satcli
            this.pcc = this.footerTempData.pcc
            this.noteg = response.data
            this.waiting = false
            this.noteg = response.data
            if (this.malusTemp) {
              this.malus = this.malusTemp
              this.malusTemp = null
            }
          } else {
            alert('erreur !')
            this.waiting = false
          }
        })
    },
          handleEditHeader() {
      this.waiting = true
      axios
        .post(
          '/api/eval/editheader',
          {
            evalid: this.evalId,
            data: this.tempHeaderData,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if (response.status === 200) {
            this.dateAppel = this.tempHeaderData.dateAppel
            this.dateEval = this.tempHeaderData.dateEval
            this.agentId = { ...this.tempHeaderData.agentId }
            this.indice = this.tempHeaderData.indice
            this.clientId = this.tempHeaderData.clientId
            this.waiting = false
          }
        })
    },
        triggerFooterModal() {
      this.footerTempData = null
      this.footerTempData = {
        synthese: this.synthese,
        sim: this.sim,
        exci: this.exci,
        oad: this.oad,
        satcli: this.satcli,
        pcc: this.pcc,
      }
      this.footerModal = true
    },
      triggerItemModal(item) {

   this.comment =item
      this.itemModal = true
    },
     triggerItemModal2(item) {
      this.temp_item = null
      this.temp_item = { ...item }
      this.itemModal2 = true
    },
    handleEditItem(){
        this.temp_item.note = this.note
        this.temp_item.comment = this.comment
        this.items.forEach(elements=>{
        elements.elements.forEach(ele=>{
     
       if(ele.id === this.temp_item.id) {
           ele.note = this.note
       }
         })
    }
 
    )

        this.note = null
        this.comment = null
    },
        sendData() {


       axios
        .post(
          '/api/eval/calib/save2',
          {
            activiteId: this.activiteId,
            serviceId: this.serviceId,
            indice: this.indice,
            clientId: this.clientId,
            date: this.dateAppel,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items:this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualiticien: this.userData.userId,
            role: this.userData.role,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
               this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
