<template>
  <div>
    <b-card class="m-auto w-8">
        
            <b-col md="12" >
                <b-row  class="mb-4">
<h2 class="" style="border-bottom: 1px solid #ccc; "> Calibrage :</h2>


       
 </b-row>
            </b-col>

       
      <b-row
        >
        <b-col md="4">
          <b-form-group label="Activité *:" label-for="i-activite">
            <v-select
                id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="nom"
              :options="activites"
            
              :disabled="true"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service *:" label-for="i-service">
            <v-select
              v-model="service"
              id="i-service"

              label="nom"
              :disabled="true"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Date de l'appel *:" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
               :disabled="true"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
  
      <b-row>
        
          <b-col md="6">
          <b-form-group    class="mt-2" label="Téléconseiller *:" label-for="i-agent">
            <v-select
              id="i-agent"
              label="nom"
             :disabled="true"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>

       <b-col md="6" >
              <b-form-group    class="mt-2" label="Enregistrement d'appel  :" label-for="i-agent">
        <audio style="width:740px"  id="myAudio" controls  :src="audio" > </audio>
          </b-form-group>

               

       </b-col>
     
      </b-row>
         <b-row>
        <b-col md="4">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice"  :disabled="true" />
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="ID client / Nc :" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId"  :disabled="true" />
          </b-form-group> </b-col
        >
      </b-row>
        <b-row v-if="moutiif!=null">
           <b-col md="4">
          <b-form-group label="moutif :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="moutif"  :disabled="true" />
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Sous muotif :" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="sousmoutif"  :disabled="true" />
          </b-form-group> </b-col
        >
       </b-row>   
    </b-card>
    <br />
    <b-card>
            <span>
      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <evalformLaredoute  v-if="activiteId.id===11" :elements="item.elements"  />   
        <eval-form v-else :elements="item.elements" />
      </span>
      <br />
      <b-card class="m-auto w-8">
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select v-model="oad" id="i-oad">
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select v-model="pcc" id="i-pcc">
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input id="i-exci" v-model="exci" autocomplete="off" />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="synthese"
          /></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button
              v-if="sim"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-danger"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: 0
            </b-button>
            <b-button
              v-else
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: {{   Number.parseFloat(cnoteg).toFixed(0)}} %
            </b-button>
          </b-col>
        </b-row>
      </b-card>
         <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>
    </span>
    </b-card>

  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormFile,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import EvalForm from './EvalForm.vue'
import evalformLaredoute  from './evalformLaredoute.vue'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    BFormFile,
    EvalForm,
    evalformLaredoute,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      qualiticiens : [],
      qualiticien : '',
      service : '',
      calibrage: [],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      file : '',
      qualiticien : '',
      activiteId: null,
      serviceId: null,
      date:null,// new Date().toISOString().split('T')[0],
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      sending: false,
     audio : '',
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
      moutif : null,
      sousmoutif: null,
    }
  },
  computed: {
          weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
          cnoteg() {
                  if(this.activiteId.id ===11){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
            
            if (y.note === 'EX' ) {
            
               re += y.bareme
            }
            else if (y.note === 'BON'){
              if(y.id===1260){
                re += (y.bareme)*0.6
              }
              else if(y.id===1258 || y.id===1259){
                re += (y.bareme)*(0.834)
              }
              else  {
                re += (y.bareme)*(0.8)
              }
               
            }
            else if (y.note === 'MOY'){
               if(y.id===1260){
                re += (y.bareme)*0.2
              }
               else if(y.id===1259||y.id===1258){
                 re += (y.bareme)*0.5
               }
              else {
                re += (y.bareme)*0.6
              }
               
            }
            else if (y.note === 'MAU'){
               re += (y.bareme)*0
            }
            // 
          }
        })

      })

      }
      else 
      if(this.activiteId.id ===4){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
        
            if (y.note === 'AQ' || y.note === 'NA') {
            
               re += y.bareme
            }
            if (y.note === 'PA') {
          
              re += (y.bareme/2)
            }
          }
        })

      })

      }
else{
        var re = null
      let notes = []
    if(this.items != null){
         this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined' && y.note !== 'NA') {
            
            notes.push(y.note)
          }
        })

      })
    }
       let notes_cal = 100 /notes.length
      notes.forEach(element =>{
        if(element=== 'AQ') {
          re +=  notes_cal
        }
        if(element=== 'PA') {
          re += notes_cal/2
        }
      })
}
      


      if (re){
       if(this.malus){
        re = re - this.malus*(100/600)
       }
       re = re.toFixed(2)
      }

      return re
    },
         resuvar() {
      if (this.cnoteg > 85) {
        return 'outline-success'
      }
       if (this.cnoteg == 50.00) {
        return 'outline-info'
      }
      if (this.cnoteg > 50 && this.cnoteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },

  },
  created() {
    
        
      
        

    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
      axios.get(`/api/appel/detail/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response=>{
           this.activiteId = response.data.activite
           this.service = response.data.service
           this.date = response.data.date
           this.agentId = response.data.agent
           this.audio = response.data.url_file
           this.clientId = response.data.clientId
           this.indice = response.data.indice
           this.moutif = response.data.moutif
           this.sousmoutif = response.data.sousmoutif
               axios
          .get(`/api/grille/hasnotgrid/${this.service.id}`, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            if (!response.data) {
              axios
                .get(`/api/eval/grid/${this.service.id}`, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                })

              this.checkServiceGrid = true
            } else {
              this.checkServiceGrid = false
            }
          })
      }) 
       console.log(this.service)
  },
  methods: {
      handleFileUpload(){
   this.file = this.$refs.file.files[0]
},

 sendData(){
//  if (!this.activiteId || !this.service   || !this.date     || ! this.agentId ) { 
//   if (!this.activiteId) {
//           this.$swal({
//             text: "vous devez selectionner une activite !",
//             customClass: {
//               confirmButton: 'btn btn-danger',
//             },
//             buttonsStyling: false,
//           })
//         }
//          if (!this.service) {
//           this.$swal({
//             text: "vous devez selectionner un service !",
//             customClass: {
//               confirmButton: 'btn btn-danger',
//             },
//             buttonsStyling: false,
//           })
//         }
//          if (!this.date) {
//           this.$swal({
//             text:
//               "vous n'avez pas encore choisi la date de l'appel !",
//             customClass: {
//               confirmButton: 'btn btn-danger',
//             },
//             buttonsStyling: false,
//           })
//         }
//           if(!this.agentId) {
//                   this.$swal({
//             text:
//               "vous devez selectionner l'agent  !",
//             customClass: {
//               confirmButton: 'btn btn-danger',
//             },
//             buttonsStyling: false,
//           })
//         }
//  }
    // else {
        this.sendRequest()
    //   }
 },
    handleServiceChange() {

    },
   sendRequest() {
  
      this.sending = true
 
      axios
        .post(
          '/api/eval/calib/save',
          {
            activiteId: this.activiteId.id,
            serviceId: this.service.id,
            indice: this.indice,
            clientId: this.clientId,
            date: this.date,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items: this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualiticien: this.userData.userId,
            role: this.userData.role,
            appel_id : this.$route.params.id
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
              this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
