<template>
    <span>
      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <eval-form :elements="item.elements" />
      </span>
      <br />
      <b-card class="m-auto w-8">
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select v-model="oad" id="i-oad">
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select v-model="pcc" id="i-pcc">
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input id="i-exci" v-model="exci" autocomplete="off" />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="synthese"
          /></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button
              v-if="sim"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-danger"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: 0
            </b-button>
            <b-button
              v-else
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: {{   Number.parseFloat(cnoteg).toFixed(0)}} %
            </b-button>
          </b-col>
        </b-row>
      </b-card>
      <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
      
        </b-col>
      </b-row>
    </span>
</template>
<script>
export default {
    data(){
        return {
            satcli : '',
            oad : '',
            pcc : '',
            exci : '',
        }
    },
    methods : {
        getItems(){
            axios
          .get(`/api/grille/hasnotgrid/${this.serviceId.id}`, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            if (!response.data) {
              axios
                .get(`/api/eval/grid/${this.serviceId.id}`, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                })

              this.checkServiceGrid = true
            } else {
              this.checkServiceGrid = false
            }
          })
        }
    }
}
</script>