<template>
  <div>
    <b-card class="rounded-0">
      <b-row
        class=" border-bottom mb-1"
        v-for="(item, index) in elements"
        :key="index"
      >
        <b-col md="3">
          <p class="font-weight-bold" style="margin-top:3%">
            {{ item.nom }}
          </p>
        </b-col>
        <b-col md="7">
          <b-form-group v-slot="{ ariaDescribedby }">
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="EX"
              size="sm"
              button
              button-variant="outline-success"
              >Excellent</b-form-radio
            >
               <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="BON"
              button
              size="sm"
              button-variant="outline-info"
              >Bon </b-form-radio
            >
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="MOY"
              button
              size="sm"
              button-variant="outline-warning"
              >Moyen</b-form-radio
            >
            <b-form-radio
              class="ml-2"
              v-model="item.note"
              variant="outline-danger"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="MAU"
              button
              size="sm"
              button-variant="outline-danger"
              >Mauvais</b-form-radio
            >
         
          </b-form-group>
        </b-col>
        <b-col>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            @click="messagebox(item)"
          >
            <feather-icon icon="MessageSquareIcon" size="19" />
          </b-button>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            @click="triggersidebar(item)"
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
        </b-col>
        <b-col md="12" style="display: none">
          <b-form-input
            :id="`message_${item.id}`"
            :ref="`message_${item.id}`"
            class="w-50 m-auto mb-1"
            style="border: 1px solid red;display: none"
            placeholder="Entrez votre commentaire"
            v-model="item.comment"
          />
          <br />
        </b-col>
      </b-row>
    </b-card>
    <b-sidebar
      bg-variant="white"
      right
      backdrop
      shadow
      v-model="sidebarvisible"
    >
      <div class="px-2 py-1">
        <h3 class="border-bottom">ACQUIS</h3>
        <p>
          {{ temp_item.g_ok }}
        </p>
         <h3 class="border-bottom">Partiel</h3>
        <p>
          {{ temp_item.g_pa }}
        </p>
        <h3 class="border-bottom">NON ACQUIS</h3>
        <p>
          {{ temp_item.g_ko }}
        </p>
        <h3 class="border-bottom">N/A</h3>
        <p>
          {{ temp_item.g_na }}
        </p>
        <h3 class="border-bottom">SI</h3>
        <p>
          {{ temp_item.g_si }}
        </p>
      </div>
    </b-sidebar>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BButton,
  BFormRadio,
  BSidebar,
  VBToggle,
  BFormInput,
} from 'bootstrap-vue'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import FeatherIcon from '@/@core/components/feather-icon/FeatherIcon.vue'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    BButton,
    FeatherIcon,
    BFormRadio,
    BSidebar,
    BFormInput,
  },
  directives: {
    Ripple,
    'b-toggle': VBToggle,
  },
  props: ['elements'],
  data() {
    return {
      activiteId: null,
      serviceId: null,
      activites: [],
      agents: [],
      selected: null,
      selected2: 1,
      selected3: 1,
      items: [
        { id: 1, note: null },
        { id: 2, note: null },
        { id: 3, note: null },
        { id: 4, note: null },
      ],
      temp_item: {
        g_ko: null,
        g_ok: null,
        g_si: null,
        g_na: null,
      },
      sidebarvisible: false,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
  },
  created() {
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
    handeaconchange() {
      this.serviceId = null
    },
    triggersidebar(item) {
      this.temp_item = null
      this.temp_item = item
      this.sidebarvisible = true
    },
    messagebox(item) {
      const el = document.getElementById(`message_${item.id}`)
      if (el.style.display === 'none') {
        el.style.display = 'block'
        el.parentElement.style.display = 'block'
        el.focus()
      } else {
        el.parentElement.style.display = 'none'
        el.style.display = 'none'
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
