<template>
  <div>
    <b-card title="Ajouter un document" class="m-auto" style="width:60%">
      <div class="demo-vertical-spacing">
        <b-row>
          <b-col md="3">
            <div class="mr-1">Titre:</div>
          </b-col>
          <b-col md="6">
            <div class=" d-flex align-items-center ">
              <b-form-input
                id="matricule"
                v-model="title"
                autocomplete="off"
                :state="titleState"
                @keyup="titleState = null"
              />
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3">
            <div class="mr-1">Description:</div>
          </b-col>
          <b-col md="6">
            <div class=" d-flex align-items-center ">
              <b-form-textarea
                id="matricule"
                v-model="description"
                autocomplete="off"
              />
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3">
            <div class="mr-1">Document:</div>
          </b-col>
          <b-col md="6">
            <div class=" d-flex align-items-center ">
              <b-form-file
                type="file"
                id="file"
                ref="file"
                browse-text="choisir"
                v-model="doc"
                :state="docState"
                placeholder="Choisissez un fichier ou déposez-le ici ..."
                accept=".pdf, .PDF"
              ></b-form-file>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button class="float-right" variant="success" @click="sendRequest"
              >Ajouter</b-button
            >
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  BButton,
  BCard,
  BRow,
  BCol,
  BModal,
  BSpinner,
  BFormFile,
  BFormInput,
  BFormTextarea,
} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BButton,
    BCard,
    BRow,
    BCol,
    BModal,
    BSpinner,
    BFormFile,
    BFormInput,
    BFormTextarea,
  },
  data() {
    return {
      title: null,
      description: null,
      doc: '',
      docState: null,
      titleState: null,
      userToken: useJwt.getToken(),
      waiting: false,
    }
  },
  methods: {
    handleFileUpload() {
      console.log(this.$refs.file)
      this.doc = this.$refs.file.files[0]
    },
    sendRequest() {
      if (this.title && this.doc) {
        this.waiting = true
        var formData = new FormData()
        formData.append('doc', this.doc)
        formData.append('title', this.title)
        formData.append('description', this.description)

        axios
          .post('/api/resource/uploadresource', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            this.waiting = false
            if (response.data === 'added') {
              this.$swal({
                text: 'Resource ajoutée',
                icon: 'success',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              })
            } else if (response.data === 'size') {
              this.$swal({
                text:
                  'la taille du fichier dépasse la taille maximale autorisée. ( 10MB )',
                icon: 'error',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              })
            } else {
              this.$swal({
                text: 'erreur inconnue',
                icon: 'error',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              })
            }
          })
      } else {
        if (!this.title) {
          this.titleState = false
        }
        if (!this.doc) {
          this.docState = false
        }
      }
    },
  },
}
</script>
