<template>
  <div>
    <b-card title="Liste de documents" class="m-auto" style="width:70%">
      <div
        class="demo-vertical-spacing"
        v-if="waiting"
        style="display: flex; justify-content: center;"
      >
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
      </div>
      <div class="demo-vertical-spacing" v-else>
        <b-list-group>
          <b-list-group-item
            v-for="resource in resources"
            :key="resource.id"
            :href="`/doc/${resource.id}`"
            >{{ resource.title }}
            <span class="float-right">➔</span></b-list-group-item
          >
        </b-list-group>
      </div>
    </b-card>
  </div>
</template>

<script>
import { BCard, BListGroup, BListGroupItem, BSpinner } from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BCard,
    BListGroup,
    BListGroupItem,
    BSpinner,
  },
  data() {
    return {
      resources: [],
      userToken: useJwt.getToken(),
      waiting: true,
    }
  },
  created() {
    axios
      .get(`/api/resource/getall`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.waiting = false
        this.resources = response.data
      })
  },
}
</script>
