<template>
  <div>
    <b-card class="mx-auto" style="width:90%;" v-if="!ready">
      <div
        class="demo-vertical-spacing"
        style="display: flex; justify-content: center;"
      >
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
      </div>
    </b-card>
    <b-card
      :title="resource.title"
      class="mx-auto"
      style="width:90%; margin-top :1%"
      v-else
    >
      <b-card-text>
        {{ resource.description }}
      </b-card-text>
      <div class="mx-auto" style="width:90%;" v-if="blob !== null">
        <object
          :data="`${docUrl}`"
          type="application/pdf"
          style="width:100%; height:600px;"
          name="obj1"
        >
          <iframe
            :src="`${docUrl}`"
            frameborder="0"
            allowfullscreen
            ref="iframe"
          ></iframe>
        </object>
      </div>
    </b-card>
  </div>
</template>
<script>
import { BCard, BCardText, BSpinner } from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BCard,
    BCardText,
    BSpinner,
  },
  data() {
    return {
      resource: {
        title: null,
        description: null,
        url: null,
      },
      docUrl: '',
      blob: null,
      ready: false,
      userToken: useJwt.getToken(),
    }
  },
  mounted() {
    // if (document.getElementById('my-pdf-js')) return // was already loaded
    // var scriptTag = document.createElement('script')
    // scriptTag.src = '//mozilla.github.io/pdf.js/web/viewer.js'
    // scriptTag.id = 'my-pdf-js'
    // document.getElementsByTagName('head')[0].appendChild(scriptTag)
  },
  created() {
    axios
      .get(`/api/resource/details/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.resource = response.data.resource
        this.b64Pdf = response.data.pdf // 'data:application/pdf;base64,' +
        const byteArray = new Uint8Array(
          atob(this.b64Pdf)
            .split('')
            .map(char => char.charCodeAt(0)),
        )
        this.blob = new Blob([byteArray], { type: 'application/pdf' })
        this.docUrl = URL.createObjectURL(this.blob)
        this.ready = true
        // this.$nextTick(function() {
        //   const pdfData = atob(this.b64Pdf)
        //   this.mozzilaLib(pdfData)
        // })
      })
  },
  methods: {
    base64ToUint8Array(base64) {
      var raw = atob(base64)
      var uint8Array = new Uint8Array(raw.length)
      for (var i = 0; i < raw.length; i++) {
        uint8Array[i] = raw.charCodeAt(i)
      }
      return uint8Array
    },
    pdfLoad() {
      const doc = this.base64ToUint8Array(this.b64Pdf)
      const element = this.$refs.iframe
      element.contentWindow.PDFViewerApplication.open(doc)
    },
    mozzilaLib(pdfData) {
      var pdfjsLib = window['pdfjs-dist/build/pdf']
      var loadingTask = null
      var pageNumber = null
      var scale = null
      var viewport = null
      var canvas = this.$refs.icanvas
      var context = null
      var renderContext = null
      var renderTask = null
      pdfjsLib.GlobalWorkerOptions.workerSrc =
        '//mozilla.github.io/pdf.js/build/pdf.worker.js'
      loadingTask = pdfjsLib.getDocument({ data: pdfData })
      loadingTask.promise.then(function(pdf) {
        // Fetch the first page
        pageNumber = 1
        pdf.getPage(pageNumber).then(function(page) {
          scale = 1.5
          viewport = page.getViewport({ scale: scale })

          // Prepare canvas using PDF page dimensions
          context = canvas.getContext('2d')
          canvas.height = viewport.height
          canvas.width = viewport.width

          // Render PDF page into canvas context
          renderContext = {
            canvasContext: context,
            viewport: viewport,
          }
          renderTask = page.render(renderContext)
          renderTask.promise.then(function() {})
        })
      })
    },
  },
}
</script>

