<template>
  <!-- Error page-->
  <div class="misc-wrapper">
    <b-link class="brand-logo">
      <b-img height="50" width="50" :src="appLogoImage" alt="logo" />
      <h2 class="brand-text text-primary ml-1 mt-1">
        MyQual
      </h2>
    </b-link>

    <div class="misc-inner p-2 p-sm-3">
      <div class="w-100 text-center">
        <h2 class="mb-1">
          Page non trouvée ⛔
        </h2>

        <b-button
          variant="primary"
          class="mb-2 btn-sm-block"
          :to="{ path: '/' }"
        >
          Page d'accueil
        </b-button>
        <b-img
          width="900"
          :src="imgUrl"
          alt="Error page"
          style="margin-left:-20%"
        />

        <!-- image -->
        <b-row>
          <b-col md="3"> </b-col>
          <b-col></b-col>
        </b-row>
      </div>
    </div>
  </div>
  <!-- / Error page-->
</template>

<script>
/* eslint-disable global-require */
/* eslint-disable object-curly-newline */
import { BLink, BButton, BImg, BRow, BCol } from 'bootstrap-vue'

import store from '@/store/index'

export default {
  components: {
    BLink,
    BButton,
    BImg,
    BRow,
    BCol,
  },
  data() {
    return {
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      downImg: require('@/assets/images/pages/404.svg'),
    }
  },
  computed: {
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.downImg = require('@/assets/images/pages/error-dark.svg')
        return this.downImg
      }
      return this.downImg
    },
  },
}
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-misc.scss";
</style>
