<template>
<b-row>
  <b-col md="12">
    <b-card>
    <b-card-title class="mb-1">
      Moyenne des notes par élément<br />

    </b-card-title>
    <vue-apex-charts
      type="bar"
      height="350"
      :options="chartOptions"
      :series="series"
    />
  </b-card>
</b-col>
</b-row>
</template>

<script>
import { BCard, BCardTitle,BCol,BRow } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
    BCol,
    BRow,
  },
  props: {
    notes: {
        
      type: Object,
      default: () => {},
    },
    itemsNames : {
          type: Object,
      default: () => {},
    }
  },
  data() {
    return {
 
   
          series: [
            {
              name: 'ACQUIS',
              data: [],
            },
              {
              name: 'Partiel',
              data: [],
            },
            {
              name: 'Non ACQUIS',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
          ],
     
      chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
          toolbar: {
            show: true,
            offsetX: -15,
            offsetY: -30,
            export: {
              csv: {
                filename: 'moyenne_par_element',
              },
              svg: {
                filename: 'moyenne_par_element',
              },
              png: {
                filename: 'moyenne_par_element',
              },
            },
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '65%',
            endingShape: 'rounded',
          },
        },

        annotations: {
          yaxis: [
            {
              y: 85,
              borderColor: '#f70019',
              strokeDashArray: 0,
              label: {
                text: '85%',
                style: {
                  fontSize: '15px',
                  color: '#fff',
                  background: '#f70019',
                },
              },
            },
          ],
        },
        colors: [
          $themeColors.success,
          $themeColors.info,
          $themeColors.warning,
          $themeColors.secondary,
          $themeColors.danger,
        ],
        dataLabels: {
          position: 'top',
          enabled: false,
          formatter: val => `${val}%`,
          style: {
            fontSize: '15px',
            colors: ['black'],
          },
          offsetY: 100
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent'],
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              fontSize: '11px',
              fontWeight: 600,
            },
          },
        },
        yaxis: {},
        fill: {
          opacity: 1,
        },
        tooltip: {
          y: {
            formatter: val => `${val} %`,
          },
        },
      },
    }
  },
  created() {
   

   
       this.series[0].data = this.notes.aq
          this.series[1].data = this.notes.pa
          this.series[2].data = this.notes.naq
          this.series[3].data =this.notes.na
          this.series[3].data =this.notes.si
           this.chartOptions.xaxis.categories =this.itemsNames.map(x =>
      x.split(/(\s+)/).filter(e => e.trim().length > 0),
    )
  },
  methods: {

  },
}
</script>
