<template>
<b-row>
  <b-col md="12">
    <b-card>
    <b-card-title class="mb-1">
    <br />

    </b-card-title>
    <vue-apex-charts
      type="bar"
      height="350"
      :options="chartOptions"
      :series="series"
    />
  </b-card>
</b-col>
</b-row>
</template>

<script>
import { BCard, BCardTitle,BCol,BRow } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
    BCol,
    BRow,
  },
  props: {
    notes: {
        
      type: Object,
      default: () => {},
    },

  },
  data() {
    return {
 
   
          series: [

        
          ],
     
      chartOptions: {
        legend:{
          show: false,
    //       formatter: function(seriesName) {
    //       Object.entries(seriesName).forEach(x=>{
    //         console.log(x)
    //       })

        
    // }
        },
        chart: {
          type: 'line',
          height: 350,
          toolbar: {
            show: true,
            offsetX: -15,
            offsetY: -30,
            export: {
              csv: {
                filename: 'moyenne_par_element',
              },
              svg: {
                filename: 'moyenne_par_element',
              },
              png: {
                filename: 'moyenne_par_element',
              },
            },
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '65%',
            endingShape: 'rounded',
          },
        },

        annotations: {
          yaxis: [
            {
              y: 85,
              borderColor: '#f70019',
              strokeDashArray: 0,
              label: {
                text: '85%',
                style: {
                  fontSize: '15px',
                  color: '#fff',
                  background: '#f70019',
                },
              },
            },
          ],
        },
        colors: [
          $themeColors.success,
          $themeColors.danger,
          $themeColors.warning,
          $themeColors.info,
          $themeColors.secondary,
        ],
        dataLabels: {
          position: 'top',
          enabled: false,
          formatter: val => `${val}%`,
          style: {
            fontSize: '15px',
            colors: ['black'],
          },
          offsetY: 100
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent'],
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              fontSize: '11px',
              fontWeight: 600,
            },
          },
        },
        yaxis: {},
        fill: {
          opacity: 1,
        },
        tooltip: {
          y: {
            formatter: val => `${val} %`,
          },
        },
      },
    }
  },
  created() {
   
   this.chartOptions.xaxis.categories =  Object.keys(this.notes)
Object.values(this.notes).forEach(x=>{

  Object.entries(x).forEach(y=>{

   const  td = {
        name : y[0],
       data : y[1]
     }
    this.series.push(td)
  })

})
  },
  methods: {

  },
}
</script>
