<template>
  <b-card no-body>
    <b-card-header>
      <h4 class="w-50 m-auto">
        Moyenne Globale
      </h4>
      <b-card-text class="font-medium-5 mb-0"> </b-card-text>
    </b-card-header>
    <vue-apex-charts
      type="radialBar"
      height="225"
      :options="goalOverviewRadialBar"
      :series="data.series"
    />
    <br />
  </b-card>
</template>
<script>
import { BCard, BCardText, BCardHeader } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'

const $strokeColor = '#ebe9f1'
const $textHeadingColor = '#5e5873'
export default {
  components: {
    BCard,
    BCardText,
    BCardHeader,
    VueApexCharts,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      goalOverviewRadialBar: {
        chart: {
          height: 245,
          type: 'radialBar',
          sparkline: {
            enabled: true,
          },
          dropShadow: {
            enabled: true,
            blur: 3,
            left: 1,
            top: 1,
            opacity: 0.1,
          },
        },
        colors: [
          ({ value }) => {
            if (value < 80) {
              return '#e65e72'
            }
            return '#51e5a8'
          },
        ],
        plotOptions: {
          radialBar: {
            offsetY: -10,
            startAngle: -150,
            endAngle: 150,
            hollow: {
              size: '77%',
            },
            track: {
              background: $strokeColor,
              strokeWidth: '50%',
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                color: $textHeadingColor,
                fontSize: '2.86rem',
                fontWeight: '600',
              },
            },
          },
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: [''],
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100],
          },
        },
        stroke: {
          lineCap: 'round',
        },
        grid: {
          padding: {
            bottom: 30,
          },
        },
      },
    }
  },
}
</script>
