<template>
  <div>
    <b-card class="m-auto w-8">
        
            <b-col md="12" >
                <b-row  class="mb-4">
<h2 class="" style="border-bottom: 1px solid black; width : 70%">Nouveau calibrage :</h2>

<div class="float-right">
      <b-button style="    " size="sm"          @click="sendData"
           variant="outline-primary" class="ml-1">
         <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner> <feather-icon
      icon="XI"
      /> En cours d'envoi
              ...</span
            >
            <span v-else>
                <feather-icon
      icon="CheckIcon"
      />
      confirmer et valider 
            </span>
    




         
    </b-button>


     <b-button    @click="vider()" size="sm" variant="outline-warning" class=" ml-1">
      
      <feather-icon
      icon="XIcon"
   
      />
      Annuler </b-button>
</div>
       
 </b-row>
            </b-col>

       
      <b-row
        >
        <b-col md="3">
          <b-form-group label="partciper au calibrage :" label-for="i-activite">
             <v-select
              class="w-100"
              id="calibrage"
              v-model="calibrage"
              label="value"
              :options="calibarges"
            />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="activite"
              :options="activites"
              @input="handeaconchange"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Service :" label-for="i-service">
            <v-select
              v-model="serviceId"
              id="i-service"
              :options="serviceoptions"
              label="nom"
              @input="handleServiceChange"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Date de l'appel :" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="ID client / Nc :" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group> </b-col
        >
        <b-col md="3">
          <b-form-group label="Evaluateur :" label-for="i-qual">
            <v-select
              :options="qualiticiens"
              id="i-agent"
              label="nom"
              v-model="qualiticien"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        
        
        <b-col md="3">
          <b-form-group label="Téléconseiller :" label-for="i-agent">
            <v-select
              :options="serviceAgents"
              id="i-agent"
              label="nom"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun qualiticien
              </span>
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
           <b-row v-if="this.activiteId!=null &&  this.activiteId.id===25">
        <b-col md="4">
          <b-form-group label="Motif d'appel :" label-for="i-agent">
            <v-select
              :options="motifsPoints"
           @input="handeaconchange"
                 item-text="motifs"
              item-value="id"
              label="motifs"
              v-model="motifsPoint"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
            <b-col md="4">
          <b-form-group label="Sous Motif :" label-for="i-agent">
            <v-select
              :options="SousmotifsPoints"
           
                 item-text="nom"
              item-value="id"
              label="nom"
              v-model="motifsPoint"
             
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
 
        <b-col
        md="4"
        >
<b-form-group
        label="Durée d'appel "
        label-for="Durée d'appel "
      >
        <cleave
          id="time"
          v-model="dap"
          class="form-control"
          :raw="false"
          :options="time"
          placeholder="hh:mm:ss"
        />
      </b-form-group>
        </b-col>
  
      </b-row>
    </b-card>
    <br /><br />
    <span v-if="serviceId !== null && checkServiceGrid === true">
      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <eval-form :elements="item.elements" />
      </span>
      <br />
      <b-card class="m-auto w-8">
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select v-model="oad" id="i-oad">
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select v-model="pcc" id="i-pcc">
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input id="i-exci" v-model="exci" autocomplete="off" />
            </b-form-group>
          </b-col>
          <b-col md="4" v-if="activiteId.id === 7">
            <b-form-group label="Malus :" label-for="malus">
              <b-form-select class="text-danger" v-model="malus" id="malus">
                <b-form-select-option v-for="n in range(280)" :key="n" class="text-dark" :value="n"
                  >-{{n}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="synthese"
          /></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button
              v-if="sim"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-danger"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: 0
            </b-button>
            <b-button
              v-else
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: {{   Number.parseFloat(cnoteg).toFixed(0)}} %
            </b-button>
          </b-col>
        </b-row>
      </b-card>
      <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
      
        </b-col>
      </b-row>
    </span>
    <span v-else>
      <b-card class="justify-content-center font-weight-bold">
        <h4 v-if="serviceId === null" class="text-center">
          Veuillez choisir l'activité et le service désiré!
        </h4>
        <h4
          v-if="serviceId !== null && checkServiceGrid === false"
          class="text-center"
          style="color:#f57179"
        >
          Le service n'a pas encore une grille d'evaluation !
        </h4>
      </b-card>
    </span>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import EvalForm from './EvalForm.vue'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    EvalForm,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      qualiticiens : [],
      qualiticien : '',
      calibrage: [],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
       motifsPoints : [
    



      
      ],
      motifsPoint : '',
      calibarges : [
          {
              id:1,
              value : 'OUI',
              value2 : '1',
          },
             {
              id:2,
              value : 'NON',
              value2 : '0',
          },

      ],

      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
       SousmotifsPoints(){
 if (this.motifsPoint) {
        
        const ac = this.motifsPoints.find(x => x.id === this.motifsPoint.id)
      
      return ac.sousmotifs
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
    cnoteg() {
      if(this.activiteId.id ===4){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
        
            if (y.note === 'AQ' || y.note === 'NA') {
            
               re += y.bareme
            }
            if (y.note === 'PA') {
          
              re += (y.bareme/2)
            }
          }
        })

      })

      }
else{
        var re = null
      let notes = []
    if(this.items != null){
         this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined' && y.note !== 'NA') {
            
            notes.push(y.note)
          }
        })

      })
    }
       let notes_cal = 100 /notes.length
      notes.forEach(element =>{
        if(element=== 'AQ') {
          re +=  notes_cal
        }
        if(element=== 'PA') {
          re += notes_cal/2
        }
      })
}
      


      if (re){
       if(this.malus){
        re = re - this.malus*(100/600)
       }
       re = re.toFixed(2)
      }

      return re
    },
    resuvar() {
      if (this.cnoteg > 85) {
        return 'outline-success'
      }
       if (this.cnoteg == 50.00) {
        return 'outline-info'
      }
      if (this.cnoteg > 50 && this.cnoteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },
     serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
               if (this.serviceId.id==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
              if (this.serviceId.id==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
             if (this.serviceId.id==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
             if (this.serviceId.id==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
              if (this.serviceId.id==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
           if (this.serviceId.id==68) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
    console: () => console,
  },
  created() {
    axios
      .get('/api/motifs/allmotifs', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
       this.motifsPoints = response.data
      })
       axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.qualiticiens = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
      vider(){
          this.serviceId = null
          this.calibrage = null
          this.date = null
this.activiteId= null
this.indice = null
this.qualiticien = null
this.clientId = null
this.satcli = null
this.oad = null
this.synthese = null
this.agentId = null
this.sim = null
this.malus = null






      },
    handeaconchange() {
      this.serviceId = null
    },
    sendData() {




              
      // verification que tous les elements ont une note
      var notetest = false
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note === 'undefined') {
            notetest = true
          }
        })
      })
      // verification des données
      if (!this.agentId || !this.indice || !this.clientId || notetest || !this.date || !this.qualiticien || !this.calibrage ) {
    
        if (!this.agentId) {
          this.$swal({
            text: "vous n'avez pas encore sélectionné l'agent !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (notetest) {
          this.$swal({
            title: 'Attention !',
            text: 'vous devez evaluer tous les éléments!',
            icon: 'warning',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          })
        }
        if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
             if (!this.calibrage) {
          this.$swal({
            text:
              "vous n'avez pas participer au calibrage !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
            if (!this.qualiticien) {
          this.$swal({
            text:
              "vous n'avez pas  encore choisi le qualiticien  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
      } else if (this.sim) {
        this.$swal({
          title: 'Êtes-vous sûr?',
          text:
            "vous avez marqué que cette evaluation à une situation inacceptable majeure ! le téléconseiller aura automatiquement '0'",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'continuer',
          cancelButtonText: 'annuler',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.sendRequest()
          }
        })
      } else {
        this.sendRequest()
      }
    },
    handleServiceChange() {
      // check if this.serviceId is not null
      this.items = null
      this.checkServiceGrid = null
      if (this.serviceId) {
        // if true check if the service has a grid
        axios
          .get(`/api/grille/hasnotgrid/${this.serviceId.id}`, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            if (!response.data) {
              axios
                .get(`/api/eval/grid/${this.serviceId.id}`, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                })

              this.checkServiceGrid = true
            } else {
              this.checkServiceGrid = false
            }
          })
        // if true load grid elements
      }
    },
    sendRequest() {
  
      this.sending = true

      axios
        .post(
          '/api/eval/calib/save',
          {
            activiteId: this.activiteId.id,
            serviceId: this.serviceId.id,
            indice: this.indice,
            clientId: this.clientId,
            date: this.date,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items: this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualiticien: this.userData.userId,
            role: this.userData.role,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
              this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
