<template>
  <div>
    <b-card class="text-center d-flex justify-content-between">
      <b-row >
        <b-col md="6" style="border-right: 1px solid #ccc" >
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Date  :</div>
       
            <div>

    <b-form-datepicker
      id="datepicker-buttons"
    v-model="date"
      locale="FR"
    />
  </div>
    
          <b-col md="8" class="m-auto">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <b-form-select
              id="i-activite"
              :options="activities"
              text-field="activite"
              value-field="id"
              v-model="activity"
              style="width: 70%"
            />
          </div>
        </b-col>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="6" style="border-left: 1px solid #ccc">
       
    
  
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Service :</div>
            <b-form-select
              id="i-service"
              :options="serviceoptions"
              v-model="service"
              text-field="nom"
              value-field="id"
              style="width:60%"
            />
                   <b-button
                variant="success"
                @click="sendRequest2"
                class="ml-2"
            >
            Valider
          </b-button>
          </div>

     
 
        </b-col>
      </b-row>
    </b-card>
    <b-card
      v-if="waitingliste == true"
      class="text-center d-flex justify-content-between"
    >
      <b-spinner
        variant="primary"
        style="width: 6rem; height: 6rem;"
        class="m-auto"
      />
    </b-card>
    <span v-else>
      <b-card
        v-if="items.length == 0 && items2.length == 0"
        class="text-center d-flex justify-content-between"
      >
        <h4>Selectionner la date d'appel et le service</h4>
      </b-card>
      <b-card v-else>
        <b-row>
          <b-col md="2" sm="4" class="my-1">
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                :options="pageOptions"
                class="w-50"
              />
              / {{ items.length }}
            </b-form-group>
          </b-col>
          <b-col md="4" sm="8" class="my-1">
            <b-form-group
              label="Trier"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="sortBySelect"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-select
                  id="sortBySelect"
                  v-model="sortBy"
                  :options="sortOptions"
                  class="w-75"
                >
                  <template v-slot:first>
                    <option value="">-- aucun --</option>
                  </template>
                </b-form-select>
                <b-form-select
                  v-model="sortDesc"
                  size="sm"
                  :disabled="!sortBy"
                  class="w-25"
                >
                  <option :value="false">Asc</option>
                  <option :value="true">Desc</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="6" class="my-1">
            <b-form-group
              label="filter"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="12">
           <div v-if="this.userData.role==='client'">
              <b-table
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :items="items2"
              :fields="fields2"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
              small
              Outlined
 :tbody-tr-class="rowClass"
              striped 
            >
      
  

            
            
             
              <template #cell(actions)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
                  <b-dropdown-item @click="consultBtn(row.item.id)">
                    <feather-icon icon="ChevronsRightIcon" class="mr-50" />
                    <span>Consulter</span>
                  </b-dropdown-item>
               
                </b-dropdown>
              </template>






             
            </b-table>
         </div >
         <div v-else>
              <b-table
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :items="itemsWithvariant"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
              small
              Outlined
 :tbody-tr-class="rowClass"
              striped 
            >
             <template #cell(pdf)="row">
             <b-button variant="outline-info" @click="print(row.item.id)" size="sm">
<feather-icon icon="PrinterIcon" />
             </b-button>
              </template>
         
  <template #cell(qualiticiens)="row" class="qual">
             <div v-for="(r,index) in row" :key="index">
<ul class="mr-3" v-for="(r2,index) in r.qualiticiens" :key="index">
  <li style="list-style:none"><b-button  size="sm" variant="outline-warning">{{r2.qualiticien}}</b-button></li>
  <tr></tr>
</ul>
             </div>

           
              </template>
               <template #cell(notes)="row">
             <div v-for="(r,index) in row" :key="index">
<ul class="mr-3" v-for="(r2,index) in r.notes" :key="index">
  <li style="list-style:none">

    <b-button  size="sm" variant="outline-info">
      {{r2.note}}
    </b-button>
    
     

  </li>
  <tr></tr>
</ul>
             </div>

           
              </template>
            
            
             
              <template #cell(actions)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
                  <b-dropdown-item @click="consultBtn(row.item.id)">
                    <feather-icon icon="ChevronsRightIcon" class="mr-50" />
                    <span>Consulter</span>
                  </b-dropdown-item>
               
                </b-dropdown>
              </template>






             
            </b-table>
         </div>
       
          </b-col>
          <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
        </b-row>
      </b-card>
    </span>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner style="width: 3rem; height: 3rem;" variant="primary" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  BTable,
  BRow,
  BCol,
  BFormGroup,
  BFormSelect,
  BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
  BButton,
  BCard,
  BDropdown,
  BDropdownItem,
  BSpinner,
  BFormCheckbox,
  BListGroupItem,
    BListGroup,
    BFormDatepicker ,

} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import French from '../reporting/flatPickerFrench'

export default {
  components: {
    BTable,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BCard,
    BDropdown,
    BDropdownItem,
    BSpinner,
    flatPickr,
    vSelect,
    BFormCheckbox,
    BListGroupItem,
    BListGroup,
    BFormDatepicker ,
  },
  data() {
    return {
        service: '',
        date : '',
      qualiticiens2: [],
         resource: {
        title: null,
        description: null,
        url: null,
      },
      docUrl: '',
    blob : null,
      perPage: 10,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
         fields: [
        {
          key: 'note',
          label: 'La note',
          sortable: true,
        },
         {
          key: 'activty',
          label: 'Activité',
          sortable: true,
        },
          {
          key: 'qualiticien',
          label: 'qualiticiens',
          sortable: true,
        },
        
        {
          key: 'agent',
          label: 'Téléconseiller',
          sortable: true,
        },
        {
          key: 'client_id',
          label: 'ID client',
          sortable: true,
        },
        {
          key: 'date_appel',
          label: "Date de l'appel",
          sortable: true,
        },
        {
          key: 'date_eval',
          label: "Date d'evaluation",

          sortable: true,
        },

     { key: 'actions', label: 'Actions' },


      ],
        fields2: [
        {
          key: 'notes',
          label: 'La note',
          sortable: true,
        },
         {
          key: 'activty',
          label: 'Activité',
          sortable: true,
        },
          {
          key: 'qualiticiens',
          label: 'qualiticiens',
          sortable: true,
        },
        
        {
          key: 'agent',
          label: 'Téléconseiller',
          sortable: true,
        },
        {
          key: 'client_id',
          label: 'ID client',
          sortable: true,
        },
        {
          key: 'date_appel',
          label: "Date de l'appel",
          sortable: true,
        },
        {
          key: 'date_eval',
          label: "Date d'evaluation",

          sortable: true,
        },

     { key: 'actions', label: 'Actions' },


      ],
      activities: [],
      items2 :[],
      items: [],
      waiting: false,
      waitingliste: false,
      rangePicker: [],
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      site: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },
       {  
        site:'BDX',
        id:4,
      },
          {
          site:'NSL',
          id:5,

              }
      ],
      activity : '',
      sites: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },

        {
          site:'BDX',
          id:4,

              },
                {
          site:'NSL',
          id:5,

              }
      ],
      switchDate: false,
      userToken: useJwt.getToken(),
      userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {
          serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
    itemsWithvariant() {
      return this.items.map(item => {
        var tmp = item
        /* eslint no-underscore-dangle: ["error", { "allow": ["_cellVariants"] }] */
        if (item.note > 85) {
          tmp._cellVariants = { note: 'success' }
        }
        else if(item.note ===50)
        {
          tmp._cellVariants = { note: 'info' }
        }
        else if (item.note > 0) {
          tmp._cellVariants = { note: 'warning' }
        } else {
          tmp._cellVariants = { note: 'danger' }
        }
        return tmp
      })
    },
    console: () => console,
  },
  created() {
  
    this.thisMonthDateRange()

      axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
  methods: {
      sendRequest2(){
          console.log(this.date)
          console.log(this.activity)
      },
       rowClass() {
      return 'height:20%'
    },
      print(id) {
          console.log(id)
     axios.get('api/eval/calib/liste/print/'+id,
     
     {
          responseType: 'blob',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
     }
     ).then(
         response=> {
              const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'calibrage.pdf')
          document.body.appendChild(link)
          link.click()
         }
     )
      },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    consultBtn(id) {
      console.log(id)
     this.$router.push({ name: 'detail-calibrage', params: { id } })
    },
    handleDelete(id) {
      this.$swal({
        title: 'Attention !',
        text:
          'Vous allez supprimer cette évaluation ! cette opération est irréversible.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Oui, Supprimer',
        cancelButtonText: 'annuler',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.waiting = true
          axios
            .post(
              '/api/eval/delete',
              {
                id,
              },
              {
                headers: {
                  'Content-Type': 'application/json',
                  Authorization: `Bearer ${this.userToken}`,
                },
              },
            )
            .then(response => {
              if (response.status === 200) {
                this.waiting = false
                this.items = this.items.filter(obj => obj.id !== id)
                this.$swal({
                  icon: 'success',
                  title: 'Supprimé!',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            })
          /*
           */
        }
      })
    },
    thisMonthDateRange() {
      const today = new Date()
      const dd = String(today.getDate()).padStart(2, '0')
      const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      const yyyy = today.getFullYear()
      this.rangePicker[1] = `${dd}/${mm}/${yyyy}` // `${yyyy}/${mm}/${dd}`
      const firstDay = new Date(today.getFullYear(), today.getMonth(), 1)
      const fdd = String(firstDay.getDate()).padStart(2, '0')
      const fmm = String(firstDay.getMonth() + 1).padStart(2, '0')
      const fyyyy = firstDay.getFullYear()
      this.rangePicker[0] = `${fdd}/${fmm}/${fyyyy}`
    },
    sendRequest2() {
    
   
     
      axios
        .get('/api/eval/calib/consolidation', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            date: this.date,
            activityId : this.activity,
            role : this.userData.role,
            userId : this.userData.userId,
            service: this.service
          },
        })
        .then(response => {
               this.items = response.data
          this.totalRows = this.items.length
          this.waitingliste = false
    

        })
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";

</style>
