<template>
  <div>
    <div>
      <b-card no-body class="card-statistics m-auto" style="width: 60%">
        <b-card-header>
          <b-card-title>{{ activity.nom }}</b-card-title>
          <b-card-text class="mr-25 mb-0">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-danger'">
                    <feather-icon size="24" :icon="'BoxIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    {{ items.length }} <span class="font-small-3 mb-0"> Services</span>
                  </h4>
                </b-media-body>
              </b-media>
          </b-card-text>
        </b-card-header>
        <!--
        <b-card-body class="statistics-body">
          <b-row style="">
            <b-col md="4" sm="6" class="mb-2 mb-md-0">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-success'">
                    <feather-icon size="24" :icon="'TrendingUpIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    1232
                  </h4>
                  <b-card-text class="font-small-3 mb-0">
                    Evaluation
                  </b-card-text>
                </b-media-body>
              </b-media>
            </b-col>
            <b-col md="4" sm="6" class="mb-2 mb-md-0">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-danger'">
                    <feather-icon size="24" :icon="'BoxIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    {{ items.length }}
                  </h4>
                  <b-card-text class="font-small-3 mb-0">
                    Service
                  </b-card-text>
                </b-media-body>
              </b-media>
            </b-col>
            <b-col md="4" sm="6" class="mb-2 mb-md-0">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-info'">
                    <feather-icon size="24" :icon="'UserIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    1542
                  </h4>
                  <b-card-text class="font-small-3 mb-0">
                    Agent
                  </b-card-text>
                </b-media-body>
              </b-media>
            </b-col>
          </b-row>
        </b-card-body>-->
      </b-card>
    </div>
    <div class="mr-2 mb-2">
      <b-button
        class="float-right"
        id="toggle-btn"
        v-b-modal.modal-prevent-closing
        v-ripple.400="'rgba(255, 255, 255, 0.15)'"
        variant="outline-primary"
      >
        Ajouter un service
      </b-button>
      <br />
    </div>
    <div class="custom-search d-flex">
      <span class="p-2 mr-auto">
        <h3>Liste des services</h3>
      </span>
      <b-form-group class="mr-0">
        <div class="d-flex align-items-center p-2">
          <label class="mr-1"><b>Chercher:</b></label>
          <b-form-input
            v-model="searchTerm"
            type="text"
            class="d-inline-block"
          />
        </div>
      </b-form-group>
    </div>
    <b-table
      v-if="items.length > 0"
      striped
      hover
      :items="items"
      :fields="fields"
      :filter="searchTerm"
      @row-clicked="myRowClickHandler"
    >
    
    <template #cell(Action)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
               
                  <b-dropdown-item
                  @click="consultBtn(row.item)"
                  >
                    <feather-icon icon="Edit2Icon" class="mr-50" />
                    <span>Modifier</span>
                  </b-dropdown-item>
              
                </b-dropdown>
              </template>
    </b-table>
    <h3 class="alert-dark w-50 m-auto text-center" v-else>aucun service</h3>
    <b-modal
      id="modal-prevent-closing"
      ref="my-modal"
      title="nouveau service"
      ok-title="Ajouter"
      cancel-title="Annuler"
      cancel-variant="outline-secondary"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="nom du service"
          label-for="name-input"
          invalid-feedback="Le nom est requis"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          />
        </b-form-group>
      </form>
    </b-modal>
      <b-modal
      ref="edit-modal"
      v-model="editing"
      title="Modifier  Service"
      ok-title="Modifier"
      cancel-title="Annuler"
      cancel-variant="outline-secondary"
      ok-variant="outline-primary"
        @ok="handleOkEdit"
    >
      <form
        ref="form"
      >
        <b-form-group

          label="nom du service"
          label-for="name-input"
          invalid-feedback="Le nom est requis"
        >
          <b-form-input
            id="name-input"
            v-model="nom"

            autocomplete="off"
            required
          />
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>
<script>
import {
  BTable,
  BFormGroup,
  BFormInput,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BCardBody,
  BRow,
  BCol,
  BMedia,
  BMediaAside,
  BAvatar,
  BMediaBody,
  BButton,
  BModal,
  VBModal,
  BDropdown,
  BDropdownItem,
} from 'bootstrap-vue'
import axios from 'axios'
import { DateTime } from 'luxon'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BTable,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BCardHeader,
    BCardTitle,
    BCardText,
    BCardBody,
    BMedia,
    BAvatar,
    BMediaAside,
    BMediaBody,
    BButton,
    BModal,
    BDropdown,
  BDropdownItem,
  },
  directives: {
    'b-modal': VBModal,
    Ripple,
  },
  data() {
    return {
      editing:false,
      nom:null,
      id: '',
      fields: [
        {
          key: 'id',
          sortable: true,
        },
        {
          key: 'nom',
          label: 'service',
          sortable: false,
        },
        {
          key: 'created_at',
          label: 'Date de création',
          sortable: true,
          formatter: 'formatDateAssigned',
        },
           {
          key: 'Action',
          label: 'Action',
        }
      ],
      items: [],
      activity: null,
      searchTerm: '',
      name: '',
      nameState: null,
      userToken: useJwt.getToken(),
    }
  },
  created() {
    // const id = this.$route.params.id
    axios
      .get(`/api/activite/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.items = response.data.services
        this.activity = response.data.activite
      })
  },
  methods: {
    consultBtn(item){
    console.log(item)
        this.nom = item.nom
        console.log(this.nom)
        this.id=item.id
        this.editing = true
    },
      handleOkEdit(){

   console.log(this.nom)
   console.log(this.id)
  axios.post('/api/service2/edit2', {
      nom: this.nom,
      id: this.id
      },
      {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      }).then(
        response=>{
          this.$router.go(0)
        }
      ).catch(
        error=>{
          console.log(error)
        }
      )
    },
    formatDateAssigned(value) {
      const formattedDate = DateTime.fromISO(value).toLocaleString(
        Date.DATE_SHORT,
      )
      return formattedDate
    },
    myRowClickHandler(record) {
      this.$router.push({ name: 'service-details', params: { id: record.id } })
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      axios
        .post(
          '/api/service/store',
          {
            nom: this.name,
            a_id: this.activity.id,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(
          response => {
            alert('service ajouté !')
            this.$router.go(0)
            console.log(response)
          },
          error => {
            console.log(error)
          },
        )
      // Hide the modal manually
      this.$nextTick(() => {
        this.$refs['my-modal'].toggle('#toggle-btn')
      })
    },
  },
}
</script>
