<template>
  <div>
    <div class="custom-search d-flex">
      <b-button
        class="p-2 mr-auto mb-2"
        size="sm"
        id="toggle-btn"
        v-b-modal.modal-prevent-closing
        v-ripple.400="'rgba(255, 255, 255, 0.15)'"
        variant="outline-primary"
      >
        Ajouter une activité
      </b-button>
    </div>
<b-card>
  <h2 class=" d-flex justify-content-center mt-2 mb-4">Liste des activités: </h2>
  <b-row>
      <b-col md="4" sm="4" >
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                class="w-50"
                :options="pageOptions"
              />
              / {{ items.length }}
            </b-form-group>
      </b-col>
      <b-col/>
      <b-col md="12" sm="8" class="d-flex justify-content-end" >
           <b-form-group
              label="filter"
              label-cols-sm="2"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
       </b-col>
  </b-row>
      <b-table
     small
  class="mt-2"
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :items="items"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
      @row-clicked="myRowClickHandler"
    >
    
    <template #cell(statut)="data">
              <b-badge
                variant="light-success"
                v-if="data.value==='1'"
                pill
              >
                Activée
              </b-badge>
               <b-badge
                variant="light-danger"
                v-if="data.value==='0'"
                pill
              >
                Archivée
              </b-badge>
    </template>
<template #cell(actions)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
               
                  <b-dropdown-item
                  @click="consultBtn(row.item)"
                  >
                    <feather-icon icon="Edit2Icon" class="mr-50" />
                    <span>Modifier</span>
                  </b-dropdown-item>
              
                </b-dropdown>
              </template>
    </b-table>
       <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
</b-card>
    <b-modal
      id="modal-prevent-closing"
      ref="my-modal"
      title="Novelle Activité"
      ok-title="Ajouter"
      cancel-title="Annuler"
      cancel-variant="outline-secondary"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="nom de l'activité"
          label-for="name-input"
          invalid-feedback="Le nom est requis"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            autocomplete="off"
            required
          />
        </b-form-group>
      </form>
    </b-modal>
        <b-modal
      ref="edit-modal"
      v-model="editing"
      title="Modifier  activité"
      ok-title="Modifier"
      cancel-title="Annuler"
      cancel-variant="outline-secondary"
      ok-variant="outline-primary"
        @ok="handleOkEdit"
    >
      <form
        ref="form"
      >
        <b-form-group

          label="nom de l'activité"
          label-for="name-input"
          invalid-feedback="Le nom est requis"
        >
          <b-form-input
            id="name-input"
            v-model="nom"

            autocomplete="off"
            required
          />
        </b-form-group>
        <label for=""> Statut :</label>
        <v-select
        item-value="value"
          v-model="statut2"
          :options="statuts"
          label="statut"
        />
        <b-form-group />
      </form>
    </b-modal>
  </div>
</template>

<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import {
  BRow,
  BTable,
  BButton,
  BModal,
  VBModal,
  BCard,

  BCol,
    BFormGroup,
  BFormSelect,
  BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
    BDropdown,
  BDropdownItem,
  BBadge,
} from 'bootstrap-vue'
import axios from 'axios'
import { DateTime } from 'luxon'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    vSelect,
    BRow,
    BTable,
    BCol,
    BFormGroup,
    BButton,
    BModal,
  BFormSelect,
  BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
    BCard,
      BDropdown,
  BDropdownItem,
    BBadge,
  },
  directives: {
    'b-modal': VBModal,
    Ripple,
  },
  data() {
    return {
      id: null,
      statuts: [{
statut:'Activée',
value:1
      },{
        statut:'Desactivée',
value:0
      }],
      editing:false,
      nom: '',
      statut2 : '',
         perPage: 10,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      fields: [
        {
          key: 'id',
          sortable: true,
        },
        {
          key: 'nom',
          label: 'Activité',
          sortable: false,
        },
        {
          key: 'statut',
          label: 'statut',
          sortable: true,
        },
        {
          key: 'created_at',
          label: 'Date de création',
          sortable: true,
          formatter: 'formatDateAssigned',
        },
       { key: 'actions', label: 'Actions' },
      ],
      items: null,
      searchTerm: '',
      name: '',
      nameState: null,
      userToken: useJwt.getToken(),
    }
  },
  created() {
    axios
      .get('/api/activite', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.items = response.data
         this.totalRows = this.items.length
      })
  },
  methods: {
    handleOkEdit(){

    var statuVar = null
    if(typeof(this.statut2) === 'string'){
      if(this.statut2=== 'Activée'){
        statuVar = 1
      }
      else {
        statuVar = 0
      }
    }
    else {
      statuVar =  this.statut2.value
    }
   axios
        .get(
          '/api/activite/edit',
          {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            id: this.id,
           nom: this.nom,
            statut:statuVar
          },
        }
        
        )
        .then(
          response => {
            alert('activité modifé !')
            this.$router.go(0)
          },
          error => {
            console.log(error)
          },
        )
    },
     consultBtn(item) {
         this.nom = item.nom
         this.id=item.id
         if(item.statut=='1'){
           this.statut2='Activée'
         }
         if(item.statut=='0'){
           this.statut2='Desactivée'
         }
      
      this.editing = true
    },
     onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    formatDateAssigned(value) {
      const formattedDate = DateTime.fromISO(value).toLocaleString(
        Date.DATE_SHORT,
      )
      return formattedDate
    },
    myRowClickHandler(record) {
      this.$router.push({ name: 'Activity-details', params: { id: record.id } })
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      axios
        .post(
          '/api/activite/store',
          {
            nom: this.name,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(
          response => {
            alert('activité ajouté !')
            this.$router.go(0)
            console.log(response)
          },
          error => {
            console.log(error)
          },
        )
      // Hide the modal manually
      this.$nextTick(() => {
        this.$refs['my-modal'].toggle('#toggle-btn')
      })
    },
  },
}
</script>
