<template v-else>
  <div>
    <b-card>
      <b-row class="mb-1">
        <b-col md="5" class="m-auto">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <v-select
              id="i-activite"
              v-model="activity"
              item-text="nom"
              label="nom"
              :options="activities"
              style="width: 70%"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </div>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <!-- <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox> -->
            <b-button size="sm" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="5" style="border-left: 1px solid #ccc">
     
          <div class="d-flex align-items-center ">
                 <!-- <div style="cursor: pointer" class="mr-1" @click="switchQuality = !switchQuality"
              >Pole qualité : </div>
              <b-form-checkbox v-model="switchQuality" id="switch-quality" name="check-button" switch>
              </b-form-checkbox> -->
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="selectedSites"
              label="title"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="selectedSites = []">
              Effacer
            </b-button>
          </div>
        </b-col>
        <b-col md="1">
          <b-button variant="warning" @click="resetInput">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="activity === null || rangePicker.length === 0"
            @click="sendReportingRequest"
            variant="success"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-row  class="my-1">
      <b-col >
      </b-col>
    </b-row>
    <b-card v-if="ready" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>
    <b-row v-else>
      <b-col md="2">
        <b-row>
          <b-col cols="12">
            <b-card
              v-if="waiting"
              style="height:380px;width:100%;"
              class="text-center"
            >
              <b-spinner
                style="margin-top:75%;width: 3rem; height: 3rem;"
                type="grow"
                variant="success"
              />
            </b-card>
            <b-card v-else body-class="py-1" class="text-center"  >
              <h4>Constats  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1 mt-4" style="color: #51e5a8">
                {{ counttraite}}
              </h2>
            </b-card>
          </b-col>
            <b-col cols="12">
            <b-card v-if="!waiting" body-class="py-1 " class="text-center">
              <h4>Constats non  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1" style="color: #ff928a">
                {{ countnontraite }}
              </h2>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
     
   
      <b-col md="10">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="warning"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mps" />
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="12">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="danger"
          />
        </b-card>
        <span v-else-if="userData.role === 'admin'">
            <span >
                <eval-per-qualiticien :data="charts.epq" />
            </span>
        </span>
      </b-col>
    </b-row>
    <b-row v-if="!ready">
      <b-col md="6">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpm" />
      </b-col>
         <b-col md="6">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:17%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpset" />
      </b-col>
    </b-row>
  </div>
</template>
<script>
/* eslint-disable object-curly-newline */
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BSpinner,
  BProgress, BModal, BImg, BFormCheckbox
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import VueHtml2pdf from 'vue-html2pdf'
import French from './flatPickerFrench'
import MoyenneGeneralLocal from './charts/MoyenneGeneralLocal.vue'
import MoyenneChart from './charts/MoyenneChartConstat.vue'
import EvalPerQualiticien from './charts/EvalPerQualiticien.vue'
import RadialBarChart from './charts/RadialBarChart.vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    flatPickr,
    vSelect,
    BProgress,
    BModal,
    BImg,
    VueHtml2pdf,
    MoyenneGeneralLocal,
    MoyenneChart,
    EvalPerQualiticien,
    RadialBarChart,
    BSpinner,
    BFormCheckbox
  },
  data() {
    return {
      counttraite : '',
      countnontraite : '',
      switchQuality : false,
      rangePicker: [],
      yr: null,
      progress: 0,
      activity: {
        nom: null,
      },
      activities: [],
      ready: true,
      waiting: true,
      onprogressbol: false,
      today: null,
      switchDate: false,
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      selectedSites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },

        {
         title:'BDX',
         id:4
         },
                {
    title:'NSL',
id:4,

        }
      ],
      sites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
        {
         title:'BDX',
         id:4
        },
      ],
      years: [],
      charts: {
        mg: {
          series: [],
          ef: null,
          sim: null,
        },
        mps: {
          title: 'Nombre des constats par service',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
        },
        mpset: {
          title: 'Nombre des constats par type',
          data: [
          ],
          series: [
            {
              name: '',
              data: [
              ],
            },
          ],
          height: '350',
        },
        mpm: {
          title: 'Nombre des constats par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '350',
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
          height: '335',
        },
        nps: {
          title: 'Nombre des évaluations par site',
          series: [],
          data: [],
          height: '390',
        },
      },
      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      userToken: useJwt.getToken(),
      userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {
    valider() {
      /* eslint-disable operator-linebreak */
      return false
      /* eslint-enable operator-linebreak */
    },
  },
  created() {
    var i
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
    const currentyear = new Date().getFullYear()
    const year2014 = new Date('2019-01-01').getFullYear()
    for (i = year2014; i <= currentyear; i += 1) {
      this.years.unshift(i)
    }
    // get activities
    axios
      .get('/api/activite/all', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
  },
  methods: {
    resetInput() {
      this.activity = []
      this.yr = []
      this.rangePicker = []
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = false
      this.waiting = true
      const sitestosend = this.selectedSites.map(element => element.title)
      axios
        .get('/api/reporting/constat/activity', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            dateRange: rangetosend,
            selectedSites: sitestosend,
            year: this.yr,
            activityId: this.activity.id,
            switchDate: this.switchDate,
            switchQuality : this.switchQuality,
          },
        })
        .then(response => {
          this.counttraite = response.data.counttraite
           this.countnontraite = response.data.countnontraite
                this.charts.mps.data = Object.keys(response.data.constat_per_service)
          this.charts.mps.series[0].data = Object.values(response.data.constat_per_service)
           this.charts.epq.data = Object.keys(response.data.constats_per_qual)
          this.charts.epq.series[0].data = Object.values(response.data.constats_per_qual)
            this.charts.mpm.data = Object.keys(response.data.constats_par_mois)
          this.charts.mpm.series[0].data = Object.values(response.data.constats_par_mois)
          this.charts.mpset.data =  Object.keys(response.data.constats_par_type)
          this.charts.mpset.series[0].data = Object.values(response.data.constats_par_type)

          this.waiting = false
        })
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
