<template>
<div>
        <b-row>
        <b-col md="12" sm="12"> 
        <b-card>    
  <b-row>
        <b-col md="6" sm="6"  style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox>
            <b-button  variant="outline-warning"
      pill size="sm" class="ml-4" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="6" sm="6">
 <b-form-select
              id="i-activite"
              :options="evaluateurs"
              text-field="nom"
              value-field="id"
              v-model="evaluateur"
              style="width: 70%"
            />
                <b-button   variant="outline-success"
      pill class="ml-4" @click="getreporting" size="sm">
            valider
        </b-button>
        </b-col>
    
  </b-row>
        </b-card>
        </b-col>
    </b-row>
    <b-row>
        <b-col md="12" sm="12" v-if="ready" >
                <b-card  class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir  la période ou l'année, évaluateur<br />
        puis valider les données.
      </h4>
    </b-card>
        </b-col>
       
        

    </b-row>
      <div v-if="spinner">
      <b-card class="text-center mb-3 d-flex justify-content-between">
        <b-spinner
          v-for="variant in variants"
          :key="variant"
          style="width: 7rem; height: 7rem;"
          label="Large Spinner"
          :variant="variant"
        />
      </b-card>
    </div>
    <div v-if="!ready && !spinner">
    

             <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"

        :pdf-quality="2"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
    >
     <b-row >
                   <b-col md="4" sm="4">
<moyenne-globale-chart :data="charts.mg" :toPDF="true" />
                   </b-col>
                      <b-col md="8" sm="8">
<element-moyenne  :data="charts.mpe" :toPDF="true" />
                   </b-col>
         

   </b-row>
   <b-row>
       <b-col md="6" sm="6">
<my-table :data="data.teleconseillers" :toPDF="true"/>
       </b-col>
       <b-col sm="6" md="6">
<moyenne-chart style="height:94%" :data="charts.mpm" :toPDF="true" />
       </b-col>
   </b-row>
   <b-row>
       <b-col md="12" sm="12">
             <moyenne-chart :data="charts.mpsem" :toPDF="true"/>
       </b-col>
   </b-row>
    </vue-html2pdf>
         
               <b-row >
                   <b-col md="4" sm="4">
<moyenne-globale-chart :data="charts.mg" />
                   </b-col>
                      <b-col md="8" sm="8">
<element-moyenne  :data="charts.mpe"  /> <b-button variant="outline-info" size="sm" class="float-right" @click="generateReport">Télécharger en PDF</b-button>
                   </b-col>
         

   </b-row>
   <b-row>
       <b-col md="6" sm="6">
<my-table :data="data.teleconseillers" />
       </b-col>
       <b-col sm="6" md="6">
<moyenne-chart style="height:94%" :data="charts.mpm" />
       </b-col>
   </b-row>
   <b-row>
       <b-col md="12" sm="12">
             <moyenne-chart :data="charts.mpsem" />
       </b-col>
   </b-row>

    </div>
       <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress
            animated
            :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
</div>
</template>
<script>
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress,
  BModal,
  BImg,
  BTable,
  BFormCheckbox,
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import flatPickr from 'vue-flatpickr-component'
import French from './flatPickerFrench'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import MyTable from './charts/MyTable.vue'
import MoyenneChart from './charts/MoyenneChart.vue'
import VueHtml2pdf from 'vue-html2pdf'
import ElementMoyenne from './charts/ElementMoyenne.vue'

export default {
     components: {
    BRow,
    BCol,
    BCard,
    BButton,
    vSelect,
    BFormSelect,
    BSpinner,
    flatPickr,
    BProgress,
    BModal,
    BImg,
    BTable,
    BFormCheckbox,
    MoyenneGlobaleChart,
    MyTable,
    MoyenneChart,
    ElementMoyenne,
    VueHtml2pdf,
  },
  data(){
      return {
           progress: 0,
          onprogressbol:false,
            config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      rangePicker: [],
      switchDate: false,
      evaluateur : '',
      evaluateurs : [],
      ready: true,
      waiting: false,
    variants: ['primary'],
      welcome: true,
      spinner: false,
      switchDate: false,
         charts: {
        mg: {
          series: null,
          ef: null,
          sim: null,
          height: 50,
        },
        mpe: {
          series: [
            {
              name: 'ACQUIS',
              data: [],
            },
               {
              name: 'Partiel',
              data: [],
            },
            
        
            {
              name: 'Non ACQUIS',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
             
        
          ],
          data: {
          },
        },
        mpm: {
          title: 'Moyenne des évaluations par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '300',
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
          height: '355',
        },
        mpsem: {
          title: 'Moyenne des évaluations par semaine',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '350',
        },
      },
         data: {
        qualiticiens: {
          title: 'Liste des Qualiticiens',
          items: [],
        },
        teleconseillers: {
          title: 'Liste des Téléconseillers évalués',
          items: [],
        },
      },
      userData : {},
      role : '',
      userToken: useJwt.getToken(),
      }
  }, 
  created() {
              this.userData = localStorage.getItem('userData')
    this.role = JSON.parse(this.userData).role
    if(this.role==='client'){
  axios.get('/api/getqualiticiens_endpoint_client' ,{
         headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
  }).then(response=>{
        this.evaluateurs = response.data
      })
    }
    else if(this.role==='admin') {
  axios.get('/api/getqualiticiens_endpoint', {
         headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        }}).then(response=>{
        this.evaluateurs = response.data
      })
    }
    else {
        axios.get('/api/myself', {
         headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        }}).then(response=>{
        this.evaluateurs = response.data
      })
    }
    

  }, 
  methods: {
      
    validateInputs() {
      var isgood = true
      if (this.rangePicker.length== 0) {
        isgood = false
      }
      if (!this.evaluateur) {
        isgood = false
      }
      return isgood
    },
      generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
      getreporting() {
if(this.validateInputs()){
                 var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = false
      this.spinner = true
          axios.post('/api/getreporting/evaluateur',{
  switchDate: this.switchDate,
              date : rangetosend,
              evaluateur: this.evaluateur
          }).then(response=>{
              if(response.data == 'no data found'){
this.spinner = false
alert('aucune evaluation trouvé durant cette périod')

              }else{
              this.spinner = false
        this.charts.mg.series = [response.data.moyenne]
          this.charts.mg.ef = response.data.eval_ef
          this.charts.mg.sim = response.data.eval_sim
          this.data.teleconseillers.items = response.data.agents
           this.charts.mpm.data = Object.keys(response.data.moyenne_par_mois)
           this.charts.mpm.series[0].data = Object.values(response.data.moyenne_par_mois)
            this.charts.mpsem.data = Object.keys(response.data.eval_par_semaine)
          this.charts.mpsem.series[0].data = Object.values(response.data.eval_par_semaine)
          ///
              this.charts.mpe.series[0].data = response.data.noteNoteArray.aq
               this.charts.mpe.series[1].data = response.data.noteNoteArray.pa
          this.charts.mpe.series[2].data = response.data.noteNoteArray.naq
          this.charts.mpe.series[3].data = response.data.noteNoteArray.na
          this.charts.mpe.series[4].data = response.data.noteNoteArray.si

    
             
        
         
          this.charts.mpe.data = response.data.itemsNames
              }
          })
    

}
else {
        if (this.rangePicker.length== 0) {
          this.$swal({
            text: "vous n'avez pas encore saisi la périod !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
           if (!this.evaluateur) {
          this.$swal({
            text: "vous n'avez pas encore saisi l'évaluateur !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
}
      }
  }
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>