<template>
  <div>
    <b-card class="mb-0">
      <b-row>
        <b-col style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <!-- <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox> -->
            <b-button size="sm" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="5" style="border-left: 1px solid #ccc">
          
          <div class="d-flex align-items-center ">
              <!-- <div style="cursor: pointer" class="mr-1"  @click="switchQuality = !switchQuality"
              >Pole qualité : </div>
              <b-form-checkbox v-model="switchQuality" id="switch-qualite" name="check-button" switch>
              </b-form-checkbox> -->
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="site"
              label="site"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="site = []">
              Effacer
            </b-button>
          </div>
        </b-col>
        <b-col md="1">
          <b-button variant="outline-warning" @click="resetInput" size="sm">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="rangePicker.length === 0 || site.length === 0"
            variant="outline-success"
            @click="sendDateRange"
            size="sm"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>
    <b-row  class="my-1">
      <b-col >
   
      </b-col>
    </b-row>
    <b-row>
      <b-col md="1"></b-col>
      <!-- <b-col md="4">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="info"
          />
        </b-card>
        <moyenne-globale-chart v-else :data="charts.mg" />
      </b-col> -->
      <b-col md="10">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="secondary"
          />
        </b-card>
        <eval-per-qualiticien v-else :data="charts.epq"/>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="1"></b-col>
      <b-col md="6">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="success"
          />
        </b-card>
        <moyenne-par-activite v-else :data="charts.mpa" />
      </b-col>
      <b-col md="4">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:24%;width: 3rem; height: 3rem;"
            type="grow"
            variant="warning"
          /> </b-card
        ><eval-ratio-per-avtivity v-else :data="charts.ratio"
      /></b-col>
    </b-row>

    <div>
     <vue-html2pdf
        :enable-download="true"
        :paginate-elements-by-height="1400"
        :filename="`Rapport_Global_${today}`"
        :pdf-quality="2"
        :manual-pagination="false"
         @progress="onProgress($event)"
        pdf-format="a4"
        pdf-content-width="800px"
        ref="html2Pdf"
    >
        <section slot="pdf-content">
          <b-card class="mb-0" >
            <b-row>
              <b-col xl="4" class="my-0">
                  <b-img height="30" width="30" :src="appLogoImage" class="d-inline"/>
                  <h4 class="brand-text text-primary ml-1 d-inline">
                    MyQual
                  </h4>
              </b-col>
              <b-col xl="5">
                <h2 class="font-weight-bold d-inline">
                Rapport Global
                </h2>
              </b-col>
              <b-col xl="3" >
                <p class="font-weight-bold d-inline">
                Crée le : {{today}}
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <p class="font-weight-bold d-inline">
                <feather-icon size="15" icon="CalendarIcon"/> Période :  de {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[0] : rangePicker[0] }} au  {{ (typeof rangePicker === 'string') ? rangePicker.split(' ').filter(e => e !== 'au')[1] : rangePicker[1] }}</p>
              </b-col>
              <b-col xl="12" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="MapPinIcon" /> Sites :
                  <span v-for="(s,index) in site" :key="index">
                   - {{s.site}}
                  </span>
                </p>
              </b-col>
              <b-col xl="12" class="mt-1">
                <b-row>
                    <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="BarChart2Icon" class="mr-1"/>Moyenne Globale : {{ charts.mg.series[0]}} %
                </p>
              </b-col>
              <b-col  md="4" >
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="CheckCircleIcon" class="mr-1"/>Évaluations effectuées : {{ charts.mg.ef + charts.mg.sim}}
                </p>
              </b-col>
              <b-col md="4">
                <p class="font-weight-bold d-inline">
                  <feather-icon size="15" icon="AlertCircleIcon" class="mr-1"/>Évaluations avec SIM : {{ charts.mg.sim}}
                </p>
              </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
         <moyenne-par-activite v-if="!waiting" :data="charts.mpa" />
         <eval-ratio-per-avtivity v-if="!waiting" :data="charts.ratio" />
        </section>
    </vue-html2pdf>
    <b-modal
        v-model="onprogressbol"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="" style="height:50px;">
          <h5>Création du PDF</h5>
          <b-progress
            animated
            :value="progress"
            variant="primary"
            class="progress-bar-primary"
          />
        </div>
      </b-modal>
   </div>
  </div>
</template>
<script>
/* eslint-disable global-require */
/* eslint-disable object-curly-newline */
import { BRow, BCol, BCard, BButton, BSpinner, BProgress, BModal, BImg, BAlert, BFormCheckbox } from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import VueHtml2pdf from 'vue-html2pdf'
import French from './flatPickerFrench'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import MoyenneParActivite from '../homecharts/MoyenneParActiviteConstat.vue'
import EvalRatioPerAvtivity from '../homecharts/EvalRatioPerAvtivityConstat.vue'
import EvalPerQualiticien from './charts/EvalPerQualiticien.vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    vSelect,
    BSpinner,
    BProgress,
    BModal,
    BImg,
    VueHtml2pdf,
    MoyenneGlobaleChart,
    MoyenneParActivite,
    EvalRatioPerAvtivity,
    EvalPerQualiticien,
    flatPickr,
    BAlert,
    BFormCheckbox
  },
  data() {
    return {
      // apexChatData,
      rangePicker: [],
      statisticsImg: require('@/assets/images/pages/register-v2.svg'),
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      today: null,
      progress: 0,
      onprogressbol: false,
      switchDate: false,
      switchQuality:false,
      site: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },
{
site:'BDX',
id:4,
},
       {
    site:'NSL',
id:4,

        }
      ],
      sites: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },
{
site:'BDX',
id:4,
},
{
site:'NSL',
id:5 ,
}
      ],
      charts: {
        mg: {
          series: [],
          ef: 0,
          sim: 0,
        },
        mpa: {
          series: [{ name: 'en %', data: [] }],
          data: [],
        },
        ratio: {
          series: [],
          data: [],
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
        },
      },
      waiting: true,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
  },
  created() {
    this.thisMonthDateRange()
    this.sendDateRange()
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
  },
  methods: {
    sendDateRange() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.waiting = true
      const selectedSites = this.site.map(element => element.site)
      axios
        .get('/api/reporting/constat/global', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            dateRange: rangetosend,
            selectedSites,
            switchDate: this.switchDate,
            switchQuality : this.switchQuality,
          },
        })
        .then(response => {
          console.log(response.data)
           this.charts.epq.data = Object.keys(response.data.constats_per_qual)
          this.charts.epq.series[0].data = Object.values(response.data.constats_per_qual)
               this.charts.mpa.data = Object.keys(response.data.constat_per_activite)
          this.charts.mpa.series[0].data = Object.values(response.data.constat_per_activite)
           this.charts.ratio.data = Object.keys(response.data.constat_per_activite)
          this.charts.ratio.series = Object.values(response.data.constat_per_activite)
           this.waiting = false

        })
    },
    resetInput() {
      this.rangePicker = []
      this.site = []
    },
    thisMonthDateRange() {
      const today = new Date()
      const dd = String(today.getDate()).padStart(2, '0')
      const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      const yyyy = today.getFullYear()
      this.rangePicker[1] = `${dd}/${mm}/${yyyy}` // `${yyyy}/${mm}/${dd}`
      const firstDay = new Date(today.getFullYear(), today.getMonth(), 1)
      const fdd = String(firstDay.getDate()).padStart(2, '0')
      const fmm = String(firstDay.getMonth() + 1).padStart(2, '0')
      const fyyyy = firstDay.getFullYear()
      this.rangePicker[0] = `${fdd}/${fmm}/${fyyyy}`
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
