<template>
  <div>
    <b-card>
      <b-row class="mb-1">
        <b-col md="4" style="margin-left:20%">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Activité :</div>
            <b-form-select
              id="i-activite"
              :options="activities"
              text-field="activite"
              value-field="id"
              v-model="activity"
              style="width: 70%"
            />
          </div>
        </b-col>
        <b-col md="4">
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Service :</div>
            <b-form-select
              id="i-service"
              :options="serviceoptions"
              v-model="service"
              text-field="nom"
              value-field="id"
              style="width: 70%"
            />
          </div>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col  style="border-right: 1px solid #ccc">
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
              <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
              >Date d'appel: </div>
              <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
              </b-form-checkbox>
            <b-button size="sm" @click="rangePicker = []">
              Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="5" style="border-left: 1px solid #ccc">
          <div class="d-flex align-items-center ">
              <div style="cursor: pointer" class="mr-1" @click="switchQuality = !switchQuality"
              >Pôle qualité : </div>
              <b-form-checkbox v-model="switchQuality" id="switch-quality" name="check-button" switch>
              </b-form-checkbox>
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="selectedSites"
              label="title"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="selectedSites = []">
              Effacer
            </b-button>
          </div>
        </b-col>
        <b-col md="1">
          <b-button variant="warning" @click="resetInput">
            Reset
          </b-button>
        </b-col>
        <b-col md="2">
          <b-button
            :disabled="service === null || rangePicker.length === 0"
            @click="sendReportingRequest"
            variant="success"
          >
            Valider
          </b-button>
        </b-col>
      </b-row>
    </b-card>

    <b-card v-if="ready" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité, le service et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>
    <b-row v-else>
          <b-card v-if="ready" class="justify-content-center font-weight-bold">
      <h4 class="text-center">
        Veuillez choisir l'activité et la période ou l'année.<br />
        puis valider les données.
      </h4>
    </b-card>
    
    <b-row v-else>
      <b-col md="2">
    
          <b-col cols="12">
            <b-card
              v-if="waiting"
              style="height:380px;width:100%;"
              class="text-center"
            >
              <b-spinner
                style="margin-top:75%;width: 3rem; height: 3rem;"
                type="grow"
                variant="success"
              />
            </b-card>
            <b-card v-else body-class="py-1" class="text-center"  >
              <h4>Constats  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1 mt-4" style="color: #51e5a8">
                {{ counttraite}}
              </h2>
            </b-card>
          </b-col>
            <b-col cols="12">
            <b-card v-if="!waiting" body-class="py-1 " class="text-center">
              <h4>Constats non  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1" style="color: #ff928a">
                {{ countnontraite }}
              </h2>
            </b-card>
          </b-col>
   
      </b-col>
     <b-col
      md="10"
      >
      <eval-per-qualiticien :data="charts.epq" />
       <moyenne-chart  :data="charts.mpset" />
      </b-col>
    </b-row>
    </b-row>
     


 
   


  </div>
</template>
<script>
/* eslint-disable object-curly-newline */
import {
  BRow,
  BCol,
  BCard,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress,
  BModal,
  BImg,
  BTable,
  BFormCheckbox
} from 'bootstrap-vue'
/* eslint-enable object-curly-newline */
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import flatPickr from 'vue-flatpickr-component'
import VueHtml2pdf from 'vue-html2pdf'
import ElementMoyenne from './charts/ElementMoyenne.vue'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import MoyenneChart from './charts/MoyenneChart.vue'
import MyTable from './charts/MyTable.vue'
import French from './flatPickerFrench'
import EvalPerQualiticien from './charts/EvalPerQualiticien.vue'
import ElementPartieMoyenne from './charts/ElementPartieMoyenne.vue'

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BButton,
    vSelect,
    BFormSelect,
    BSpinner,
    flatPickr,
    BProgress,
    BModal,
    BImg,
    BTable,
    VueHtml2pdf,
    ElementMoyenne,
    MoyenneGlobaleChart,
    MoyenneChart,
    MyTable,
    BFormCheckbox,
    ElementPartieMoyenne,
    EvalPerQualiticien,
  },
  data() {
    return {
      switchQuality: false,
      activities: null,
      activity: null,
      service: null,
      rangePicker: [],
      yr: null,
      ready: true,
      waiting: true,
      today: null,
      progress: 0,
      onprogressbol: false,
      switchDate: false,
      userData: JSON.parse(localStorage.getItem('userData')),
      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      selectedSites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
        {
         title: 'BDX',
         id:4,
         },
                {
    title:'NSL',
id:4,

        }

      ],
      sites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
          {
          title:'BDX',
           id:4,
        },
          {
          title:'NSL',
           id:5,
        },
      ],
      years: [],
      data: {
        qualiticiens: {
          title: 'Liste des Qualiticiens',
          items: [],
        },
        teleconseillers: {
          title: 'Liste des Téléconseillers évalués',
          items: [],
        },
      },
      //
       charts2: {
        mg: {
          series: null,
          ef: null,
          sim: null,
          height: 50,
        },
        mpe: {
          series: [
            {
              name: 'acquis',
              data: [],
            },
              {
              name: 'Partiel',
              data: [],
            },
            {
              name: 'Non acquis',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
          ],
          data: {
          },
        },
      },
      //
   charts: {
        mg: {
          series: [],
          ef: null,
          sim: null,
        },
        mps: {
          title: 'Nombre des constats par service',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
        },
        mpset: {
          title: 'Nombre des constats par type',
          data: [
          ],
          series: [
            {
              name: '',
              data: [
              ],
            },
          ],
          height: '350',
        },
        mpm: {
          title: 'Nombre des constats par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '350',
        },
        epq: {
          series: [
            {
              name: '',
              data: [],
            },
          ],
          data: [],
          height: '335',
        },
        nps: {
          title: 'Nombre des évaluations par site',
          series: [],
          data: [],
          height: '390',
        },
      },
      userToken: useJwt.getToken(),
      pdfTablefields: [
        {
          key: 'agent',
          label: 'Agent',
        },
        {
          key: 'nbr_eval',
          label: "nbr d'evaluations",
        },
        {
          key: 'moyenne',
          label: 'Moyenne',
        },
      ],
    }
  },
  computed: {
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
    valider() {
      /* eslint-disable operator-linebreak */
      return false
      /* eslint-enable operator-linebreak */
    },
  },
  created() {
    var i
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
    const currentyear = new Date().getFullYear()
    const year2014 = new Date('2019-01-01').getFullYear()
    for (i = year2014; i <= currentyear; i += 1) {
      this.years.unshift(i)
    }
  },
  methods: {
    resetInput() {
      this.activity = null
      this.yr = []
      this.rangePicker = []
      this.service = null
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = false
      this.waiting = true
      const sitestosend = this.selectedSites.map(element => element.title)
      axios
        .get('/api/reporting/constat/service', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            service: this.service,
            dateRange: rangetosend,
            selectedSites: sitestosend,
            switchDate: this.switchDate,
            switchQuality: this.switchQuality,
          },
        })
        .then(response => {
          if (response.data === 'does not exist') {
            alert('le service n\'a pas reporting')
            this.ready = true
            return
          }
    this.counttraite = response.data.counttraite
           this.countnontraite = response.data.countnontraite
        
           this.charts.epq.data = Object.keys(response.data.constats_per_qual)
          this.charts.epq.series[0].data = Object.values(response.data.constats_per_qual)
       
          this.charts.mpset.data =  Object.keys(response.data.constats_par_type)
          this.charts.mpset.series[0].data = Object.values(response.data.constats_par_type)
          this.waiting = false
        })
    },
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
