<template>
  <div>
    <b-row>
      <b-col>
        <b-card>
          <b-row class="mb-1">
            <b-col md="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Activité :</div>
                <b-form-select
                  id="i-activite"
                  :options="activities"
                  text-field="activite"
                  value-field="id"
                  v-model="activity"
                  style="width: 70%"
                />
              </div>
            </b-col>
            <b-col md="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Service :</div>
                <b-form-select
                  id="i-service"
                  :options="serviceoptions"
                  v-model="service"
                  text-field="nom"
                  value-field="id"
                  style="width: 80%"
                />
              </div>
            </b-col>
          </b-row>
          <br />
          <b-row>
            <b-col class="" md="6">
              <!-- datepicker -->
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Péroide :</div>
                <flat-pickr
                  id="periode"
                  v-model="rangePicker"
                  :config="config"
                  class="form-control flat-picker bg-transparent border-0 shadow-none"
                  placeholder="Choisissez une periode ..."
                  style="width: 52%"
                />
              </div>
              <!-- datepicker -->
            </b-col>
            <b-col md="6">
              <div class=" d-flex align-items-center ">
                <div class="mr-1">Téléconseiller :</div>
                <v-select
                  :options="serviceAgents"
                  id="i-agent"
                  label="nom"
                  v-model="agent"
                  style="width: 70%"
                  ><span slot="no-options">
                    aucun agent
                  </span>
                </v-select>
              </div>
            </b-col>
          </b-row>
          <br />
          <b-row>
            <b-col>
              <b-row class="d-flex flex-row-reverse">
                <b-button
                  :disabled="
                    rangePicker.length === 0 ||
                      service === null ||
                      agent === null
                  "
                  @click="sendReportingRequest"
                  variant="success"
                  class="ml-4 mr-1"
                >
                  Valider
                </b-button>
                <b-button variant="warning" @click="resetInput">
                  Reset
                </b-button>
              </b-row>
            </b-col>
          </b-row>
        </b-card></b-col
      >
      <b-col md="4">
        <b-card v-if="!ready" class="border-danger" style="height: 87%">
          <h4 class="text-center mt-4">
            Veuillez choisir l'activité, le service , la période et le
            téléconseiller.<br />
            puis valider les données.
          </h4>
        </b-card>
        <span v-else>
          <b-card class="border-primary">
            <b-row>
              <b-col xl="12">
                <feather-icon size="30" icon="UserIcon" class="mr-75  mb-2" />
                <h3 class="font-weight-bold d-inline">
                  {{ (agent !== null) ? agent.nom.replace(/[0-9]/g, "") : '' }}
                </h3>
              </b-col>
              <b-col xl="12" class="mt-1">
                <feather-icon size="15" icon="HashIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ? agent.matricule : '' }}</h6>
              </b-col>
              <b-col xl="12" class="mt-1">
                <feather-icon size="15" icon="MailIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ? agent.email : '' }}</h6>
              </b-col>
              <b-col xl="12" class="mt-1 mb-1">
                <feather-icon size="15" icon="PhoneIcon" class="mr-75" />
                <h6 class="font-weight-bold d-inline">{{ (agent !== null) ?  agent.phone : '' }}</h6>
              </b-col>
            </b-row>
          </b-card>
        </span>
      </b-col>
    </b-row>
    <b-row  class="my-1">
      <b-col >
      </b-col>
    </b-row>
    <b-row v-if="ready">
      <b-col md="2">
     <b-card  body-class="py-1" class="text-center"  >
              <h4>Constats  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1 mt-4" style="color: #51e5a8">
                {{ counttraite}}
              </h2>
            </b-card>
            <b-card v-if="!waiting" body-class="py-1 " class="text-center">
              <h4>Constats non  traités</h4>
              <br />
              <h2 class="font-weight-bolder mb-1" style="color: #ff928a">
                {{ countnontraite }}
              </h2>
            </b-card>
      </b-col>
      <b-col md="10">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:15%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpstype"
      /></b-col>
      <b-col md="12">
        <b-card
          v-if="waiting"
          style="height:380px;width:100%;"
          class="text-center"
        >
          <b-spinner
            style="margin-top:15%;width: 3rem; height: 3rem;"
            type="grow"
            variant="primary"
          />
        </b-card>
        <moyenne-chart v-else :data="charts.mpm"
      /></b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import {
  BCard,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BSpinner,
  BProgress, BModal, BImg,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import flatPickr from 'vue-flatpickr-component'
import VueHtml2pdf from 'vue-html2pdf'
import French from './flatPickerFrench'
import MoyenneGlobaleChart from '../homecharts/MoyenneGlobaleChart.vue'
import ElementMoyenne from './charts/ElementMoyenne.vue'
import MoyenneChart from './charts/MoyenneChartConstat.vue'

export default {
  components: {
    BCard,
    BRow,
    BCol,
    vSelect,
    BButton,
    BFormSelect,
    BSpinner,
    flatPickr,
    BProgress,
    BModal,
    BImg,
    VueHtml2pdf,
    MoyenneGlobaleChart,
    ElementMoyenne,
    MoyenneChart,
  },
  data() {
    return {
      countnontraite: '',
      counttraite : '',
      activities: null,
      activity: null,
      service: null,
      agent: null,
      agents: [],
      rangePicker: [],
      ready: false,
      waiting: true,
      today: null,
      progress: 0,
      onprogressbol: false,
      /* eslint-disable global-require */
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      charts: {
        mg: {
          series: null,
          ef: null,
          sim: null,
        },
        mpe: {
          series: [
            {
              name: 'ACQUIS',
              data: [],
            },
            {
              name: 'Non ACQUIS',
              data: [],
            },
            {
              name: 'N/A',
              data: [],
            },
            {
              name: 'SI',
              data: [],
            },
          ],
          data: [
            'item1',
            'item2',
            'item3',
            'item4',
            'item5',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
            'item6',
          ],
        },
        mpstype: {
          title: 'Les constat par type',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '290',
        },
        mpm: {
          title: 'Les constat par mois',
          data: [],
          series: [
            {
              name: '',
              data: [],
            },
          ],
          height: '290',
        },
      },
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    serviceoptions() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.services
      }
      return []
    },
    // these two computed data are created just because b select does not store an object with the actual structure and i need to get the name
    activityName() {
      if (this.activity) {
        if (this.activity === null) {
          return false
        }
        const ac = this.activities.find(x => x.id === this.activity)
        return ac.activite
      }
      return '--'
    },
    serviceName() {
      if (this.service) {
        if (this.service === null) {
          return false
        }
        const ac = this.serviceoptions.find(x => x.id === this.service)
        return ac.nom
      }
      return '--'
    },
    serviceAgents() {
        if (this.service) {
          console.log(this.service)
          const agents = this.agents.filter(agent => agent.service === this.service)
          return agents
        }
        return []
    },
      serviceAgents() {
        if (this.service) {
          console.log(this.service)
           if (this.service==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.service==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.service==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.service==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.service==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.service)
          return agents
         }
        }
        return []
    },
  },
  created() {
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })

    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activities = response.data
      })
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
  },
  methods: {
    resetInput() {
      this.ready = !this.ready
      // this.waiting = false
      this.activity = null
      this.agent = null
      this.rangePicker = []
      this.service = null
    },
    sendReportingRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.ready = true
      this.waiting = true
      axios
        .get('/api/reporting/constat/agent', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            service: this.service,
            dateRange: rangetosend,
            sites: this.selectedSites,
            agent: this.agent.id,
          },
        })
        .then(response => {
          this.charts.mpstype.data = Object.keys(response.data.constats_par_type)
          this.charts.mpstype.series[0].data = Object.values(response.data.constats_par_type)
          this.charts.mpm.data = Object.keys(response.data.constats_par_mois)
          this.charts.mpm.series[0].data = Object.values(response.data.constats_par_mois)
          this.countnontraite = response.data.countnontraite
          this.counttraite = response.data.counttraite

          this.waiting = false
        })
    },
    validInput() {},
    generateReport() {
      this.onprogressbol = true
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress(progress) {
      this.progress = progress
      if (progress === 100) {
        this.onprogressbol = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>
