<template>
  <div>
    <b-card class="text-center d-flex justify-content-between">
      <b-row >
        <b-col md="6" style="border-right: 1px solid #ccc" >
          <!-- datepicker -->
          <div class=" d-flex align-items-center ">
            <div class="mr-1">Péroide :</div>
            <label for="periode" style="cursor: pointer"
              ><feather-icon icon="CalendarIcon" size="24"
            /></label>
            <flat-pickr
              id="periode"
              v-model="rangePicker"
              :config="config"
              class="form-control flat-picker bg-transparent border-0 shadow-none"
              placeholder="Choisissez une periode ..."
              style="width: 40%"
            />
            <div style="cursor: pointer" class="mr-1" @click="switchDate = !switchDate"
                >Date d'appel: </div>
            <b-form-checkbox v-model="switchDate" id="switch-date" name="check-button" switch>
            </b-form-checkbox>
            <b-button class="ml-2" size="sm" @click="rangePicker = []">
                Effacer
            </b-button>
          </div>
          <!-- datepicker -->
        </b-col>
        <b-col md="6" style="border-left: 1px solid #ccc">
          <div class="d-flex align-items-center ">
            <div class="mr-1">Site :</div>
            <label for="site" style="cursor: pointer"
              ><feather-icon icon="MapPinIcon" size="18"
            /></label>
            <v-select
              class="w-50 mx-1"
              id="site"
              v-model="site"
              label="site"
              multiple
              :options="sites"
            />
            <b-button size="sm" @click="site = []">
              Effacer
            </b-button>
            <b-button
                :disabled="rangePicker.length === 0 || site.length === 0"
                variant="success"
                @click="sendRequest"
                class="ml-2"
            >
            Valider
          </b-button>
          </div>
        </b-col>
      </b-row>
    </b-card>
    <b-card
      v-if="waitingliste == true"
      class="text-center d-flex justify-content-between"
    >
      <b-spinner
        variant="primary"
        style="width: 6rem; height: 6rem;"
        class="m-auto"
      />
    </b-card>
    <span v-else>
      <b-card
        v-if="items.length == 0"
        class="text-center d-flex justify-content-between"
      >
        <h4>aucune évaluation</h4>
      </b-card>
      <b-card v-else>
        <b-row>
          <b-col md="2" sm="4" class="my-1">
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                :options="pageOptions"
                class="w-50"
              />
              / {{ items.length }}
            </b-form-group>
          </b-col>
          <b-col md="4" sm="8" class="my-1">
            <b-form-group
              label="Trier"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="sortBySelect"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-select
                  id="sortBySelect"
                  v-model="sortBy"
                  :options="sortOptions"
                  class="w-75"
                >
                  <template v-slot:first>
                    <option value="">-- aucun --</option>
                  </template>
                </b-form-select>
                <b-form-select
                  v-model="sortDesc"
                  size="sm"
                  :disabled="!sortBy"
                  class="w-25"
                >
                  <option :value="false">Asc</option>
                  <option :value="true">Desc</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="6" class="my-1">
            <b-form-group
              label="filter"
              label-cols-sm="3"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-table
            small
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :items="itemsWithvariant"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
            >
              <template #cell(actions)="row">
                <b-dropdown
                  variant="link"
                  toggle-class="text-decoration-none"
                  no-caret
                >
                  <template v-slot:button-content>
                    <feather-icon
                      icon="MoreVerticalIcon"
                      size="16"
                      class="text-body align-middle mr-25"
                    />
                  </template>
                  <b-dropdown-item @click="consultBtn(row.item.id)">
                    <feather-icon icon="ChevronsRightIcon" class="mr-50" />
                    <span>Consulter</span>
                  </b-dropdown-item>
                  <b-dropdown-item
                    v-if="userData.role === 'admin'"
                    @click="consultBtn(row.item.id)"
                  >
                    <feather-icon icon="Edit2Icon" class="mr-50" />
                    <span>Modifier</span>
                  </b-dropdown-item>
                  <b-dropdown-item
                    v-if="userData.role === 'admin'"
                    variant="danger"
                    @click="handleDelete(row.item.id)"
                  >
                    <feather-icon icon="TrashIcon" class="mr-50" />
                    <span>Supprimer</span>
                  </b-dropdown-item>
                </b-dropdown>
              </template>
            </b-table>
          </b-col>
          <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
        </b-row>
             <b-button
              v-ripple.400="'rgba(113, 102, 240, 0.15)'"
              variant="outline-primary"
              size="sm"
              @click="extraire"
            >
              <feather-icon
                icon="ExternalLinkIcon"
                class="mr-50"
              />
              <span class="align-middle">Extraire</span>
            </b-button>
      </b-card>
    </span>
    <b-modal
      v-model="waiting"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner style="width: 3rem; height: 3rem;" variant="primary" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  BTable,
  BRow,
  BCol,
  BFormGroup,
  BFormSelect,
  BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
  BButton,
  BCard,
  BDropdown,
  BDropdownItem,
  BSpinner,
  BFormCheckbox,
} from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import French from '../reporting/flatPickerFrench'

export default {
  components: {
    BTable,
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BPagination,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
    BButton,
    BCard,
    BDropdown,
    BDropdownItem,
    BSpinner,
    flatPickr,
    vSelect,
    BFormCheckbox
  },
  data() {
    return {
      perPage: 10,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: '',
      },
      fields: [
        {
          key: 'note',
          label: 'Note',
          sortable: true,
          class: 'text-center'
        },
        
        {
          key: 'service',
          label: 'Service',
          sortable: true,
        },
         {
          key: 'activity',
          label: 'activite',
          sortable: true,
        },
        {
          key: 'agent',
          label: 'Téléconseiller',
          sortable: true,
        },
        {
          key: 'qualiticien',
          label: 'Qualiticien',
          sortable: true,
        },
        {
          key: 'client_id',
          label: 'ID client',
          sortable: true,
        },
        {
          key: 'date_appel',
          label: "Date de l'appel",
          sortable: true,
        },
        {
          key: 'date_eval',
          label: "Date d'evaluation",
          sortable: true,
        },
         {
          key: 'dap',
          label: "Durée d'appel",
          sortable: true,
        },
        { key: 'actions', label: 'Actions' },
      ],
      items: [],
      waiting: false,
      waitingliste: true,
      rangePicker: [],
      config: {
        mode: 'range',
        dateFormat: 'd/m/Y',
        locale: French, // locale for this instance only
      },
      site: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },
       {  
        site:'BDX',
        id:4,
      },
               {
    site:'NSL',
id:5,

        }
      ],
      sites: [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },

        {
    site:'BDX',
id:4,

        },
           {
    site:'NSL',
id:5,

        }
      ],
      switchDate: false,
      userToken: useJwt.getToken(),
      userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => ({ text: f.label, value: f.key }))
    },
    itemsWithvariant() {
      return this.items.map(item => {
        var tmp = item
        /* eslint no-underscore-dangle: ["error", { "allow": ["_cellVariants"] }] */
        if (item.note > 85) {
          tmp._cellVariants = { note: 'success' }
        }
        else if(item.note ===50)
        {
          tmp._cellVariants = { note: 'info' }
        }
        else if (item.note > 0) {
          tmp._cellVariants = { note: 'warning' }
        } else {
          tmp._cellVariants = { note: 'danger' }
        }
        return tmp
      })
    },
    console: () => console,
  },
  created() {
    this.thisMonthDateRange()
    this.sendRequest()
  },
  methods: {
    extraire(){
      this.waitingliste = true
         var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      
      const selectedSites = this.site.map(element => element.site)
           axios
        .get('/api/eval/liste/extraire', {
          responseType: 'blob',
          headers: {
            Authorization: `Bearer ${this.userToken}`,
          },
             params: {
            dateRange: rangetosend,
            selectedSites,
            switchDate : this.switchDate,
          }
        })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'les_evaluations.xlsx')
          document.body.appendChild(link)
          link.click()
        }).then(()=>{
          this.waitingliste = false
        })
 
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    consultBtn(id) {
     
            let routeData = this.$router.resolve({ name: 'eval-details', params: { id } })
      window.open(routeData.href, '_blank');
      
      
    },
    handleDelete(id) {
      this.$swal({
        title: 'Attention !',
        text:
          'Vous allez supprimer cette évaluation ! cette opération est irréversible.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Oui, Supprimer',
        cancelButtonText: 'annuler',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.waiting = true
          axios
            .post(
              '/api/eval/delete',
              {
                id,
              },
              {
                headers: {
                  'Content-Type': 'application/json',
                  Authorization: `Bearer ${this.userToken}`,
                },
              },
            )
            .then(response => {
              if (response.status === 200) {
                this.waiting = false
                this.items = this.items.filter(obj => obj.id !== id)
                this.$swal({
                  icon: 'success',
                  title: 'Supprimé!',
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })
              }
            })
          /*
           */
        }
      })
    },
    thisMonthDateRange() {
      const today = new Date()
      const dd = String(today.getDate()).padStart(2, '0')
      const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      const yyyy = today.getFullYear()
      this.rangePicker[1] = `${dd}/${mm}/${yyyy}` // `${yyyy}/${mm}/${dd}`
      const firstDay = new Date(today.getFullYear(), today.getMonth(), 1)
      const fdd = String(firstDay.getDate()).padStart(2, '0')
      const fmm = String(firstDay.getMonth() + 1).padStart(2, '0')
      const fyyyy = firstDay.getFullYear()
      this.rangePicker[0] = `${fdd}/${fmm}/${fyyyy}`
    },
    sendRequest() {
      var rangetosend = this.rangePicker
      if (typeof this.rangePicker === 'string') {
        rangetosend = rangetosend.split(' ').filter(e => e !== 'au')
      }
      this.waitingliste = true
      const selectedSites = this.site.map(element => element.site)
      axios
        .get('/api/eval/liste', {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
          params: {
            dateRange: rangetosend,
            selectedSites,
            switchDate : this.switchDate,
          },
        })
        .then(response => {
          this.items = response.data
          this.totalRows = this.items.length
          this.waitingliste = false
        })
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
