<template>
  <div>
    <b-card class="m-auto w-8">
      <b-row>
        <b-col md="4">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select id="i-activite" v-model="activiteId" item-text="activite" item-value="id" label="activite" :options="activites" @input="handeaconchange">
              <span slot="no-options">aucune activité</span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service :" label-for="i-service">
            <v-select v-model="serviceId" id="i-service" :options="serviceoptions" label="nom" @input="handleServiceChange">
              <span slot="no-options"> aucun service</span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Date de l'appel :" label-for="datepicker">
            <b-form-datepicker id="datepicker" v-model="date" class="mb-2" label-help="" placeholder="Choisissez une date" :max="maxDate">
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col :md=" this.activiteId!=null && this.activiteId.id===25 ? '4' : '3'">
          <b-form-group label="Indice / Tél / Ticket :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
        <b-col :md=" this.activiteId!=null && this.activiteId.id===25 ? '4' : '3'">
          <b-form-group label="ID client / Nc:" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group>
        </b-col>
        <b-col :md=" this.activiteId!=null && this.activiteId.id===25 ? '4' : '3'">
          <b-form-group label="Téléconseiller :" label-for="i-agent">
            <v-select :options="serviceAgents" id="i-agent" label="nom" v-model="agentId">
              <span slot="no-options"> aucun agent</span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col v-if="this.activiteId!=null && this.activiteId.id!==25" md="3">
          <b-form-group label="Durée d'appel " label-for="Durée d'appel ">
            <cleave id="time" v-model="dap" class="form-control" :raw="false" :options="time" placeholder="hh:mm:ss"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="this.activiteId!=null &&  this.activiteId.id===25">
        <b-col md="4">
          <b-form-group label="Motif d'appel :" label-for="i-agent">
            <v-select :options="motifsPoints" item-text="motifs"  item-value="id" label="motifs" v-model="motifsPoint" >
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Sous Motif :" label-for="i-agent">
            <v-select :options="SousmotifsPoints" item-text="nom" item-value="id" label="nom" v-model="SousmotifsPoint">
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4" >
          <b-form-group label="Durée d'appel " label-for="Durée d'appel ">
            <cleave id="time" v-model="dap" class="form-control" :raw="false" :options="time" placeholder="hh:mm:ss"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="this.activiteId!=null && this.activiteId.id===24">
        <b-col md="4">
          <b-form-group label="Motifs de contact " >
            <v-select 
            :options="MotifsAlpique"
            item-text="nom" 
            item-value="id" 
            label="nom"
             v-model="MotifAlpique">
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
    </b-card>
    <br /><br />
    <span v-if="serviceId !== null && checkServiceGrid === true">
      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <div   v-if="activiteId.id===11" >
            <evalformLaredoute :elements="item.elements"  />  
        
        </div>
      <div v-else   >
          <eval-form :elements="item.elements"  /> 
      </div>
       
      </span>
      <br />
      <b-card class="m-auto w-8">
        <b-row v-if="this.activiteId.id===29">
          <b-col md="3" class="mt-2">
 <b-form-group
              label="DENTIFICATION ET REPONSE PERTINENTE ET ACCESSIBLE :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Conforme</b-form-select-option>
                <b-form-select-option value="0"
                  >Non Conforme</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="1" class="mt-2">
   <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
          v-b-popover.hover.right="'Conform : 	Le client reçoit une réponse adaptée à sa demande .'"
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
            <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
    
          v-b-popover.hover.left="' Non conform : 		Le client ne reçoit pas de réponse ou la réponse est incorrecte (procédure non respectée, mauvaise compréhension de la question ou analyse du problème incorrecte).'"
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
          </b-col>
             <b-col md="3" class="mt-2">
 <b-form-group
              label="ACCOMPAGNEMENT DU CLIENT:"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Conforme</b-form-select-option>
                <b-form-select-option value="0"
                  >Non conforme</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
              <b-col md="1" class="mt-2">
   <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            v-b-popover.hover.right="'Conform : 	Si indicateur 1 est conforme ET Si le conseiller accueille et accompagne le client durant toute interaction conformément aux règles métiers (accueil, reformulation, prise de congés, rester à disposition, tonalité, empathie).'"
           
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            v-b-popover.hover.right="'Non conform: Si indicateur 1 est pas conforme OU si le conseiller  accompagne pas le client conformément aux règles métiers définis (accueil, reformulation, prise de congés, rester à disposition, gestion de la mise en attente, tonalité, empathie).'"
           
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
          </b-col>
             <b-col md="3" class="mt-2">
 <b-form-group
              label="EXPERIENCE CLIENT :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Conforme</b-form-select-option>
                <b-form-select-option value="0"
                  >Non Conforme</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
              <b-col md="1" class="mt-2">
   <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            v-b-popover.hover.right="'Conform :	Si indicateur 2 est conforme ET Si le conseiller utilise un ton adpaté et met en œuvre les attitudes de services nécessaires (empathie, engagement) pour satisfaire le client .'"
           
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
            <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="flat-dark"
            v-b-popover.hover.right="'Non conform : Si indicateur 2 est pas conforme OU Si le conseiller utilise un ton inadpaté ou ne met pas en œuvre les attitudes de services nécessaires (empathie, engagement) pour satisfaire le client '"
           
          >
            <feather-icon icon="HelpCircleIcon" size="19" />
          </b-button>
          </b-col>
        </b-row>
        <b-row v-if="this.activiteId.id ==29">
          <b-col md="6">
            <b-form-group label="Qualification d'appel :" label-for="readOnlyInput">
              <v-select
              label="nom"
              v-model="qualifCyc"
              item-text="nom"
              item-value="id"
              :options="qualifsCyclo">

              </v-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row v-if="this.activiteId.id !==29">
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Réitération :" label-for="i-oad">
              <b-form-select v-model="oad" id="i-oad">
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select v-model="pcc" id="i-pcc">
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input id="i-exci" v-model="exci" autocomplete="off" />
            </b-form-group>
          </b-col>
          <b-col md="4" v-if="activiteId.id === 7">
            <b-form-group label="Malus :" label-for="malus">
              <b-form-select class="text-danger" v-model="malus" id="malus">
                <b-form-select-option v-for="n in range(280)" :key="n" class="text-dark" :value="n"
                  >-{{n}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col v-if="this.activiteId.id===20">
            <b-form-group label="Qualification d'appel :" label-for="readOnlyInput">
              <v-select
              label="nom"
              v-model="qualif"
              item-text="nom"
              item-value="id"
              :options="qualifs">

              </v-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="synthese"
          /></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button
              v-if="sim"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-danger"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: 0
            </b-button>
            <b-button
              v-else
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: {{   Number.parseFloat(cnoteg).toFixed(0)}} %
            </b-button>
          </b-col>
        </b-row>
      </b-card>
      <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>
    </span>
    <span v-else>
      <b-card class="justify-content-center font-weight-bold">
        <h4 v-if="serviceId === null" class="text-center">
          Veuillez choisir l'activité et le service désiré!
        </h4>
        <h4
          v-if="serviceId !== null && checkServiceGrid === false"
          class="text-center"
          style="color:#f57179"
        >
          Le service n'a pas encore une grille d'evaluation !
        </h4>
      </b-card>
    </span>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormCheckbox,
  VBPopover,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import EvalForm from './EvalForm.vue'
import {TheMask} from 'vue-the-mask'
import Cleave from 'vue-cleave-component'
import evalformLaredoute  from './evalformLaredoute.vue'
// eslint-disable-next-line import/no-extraneous-dependencies
import 'cleave.js/dist/addons/cleave-phone.us'
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    EvalForm,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    TheMask,
    Cleave,
evalformLaredoute,
  },
  directives: {
    'b-popover': VBPopover,
    Ripple,
  },
  data() {
    return {
      MotifsAlpique : [],
      MotifAlpique : null ,
      dap: '',
       time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
      
        SousmotifsPoint : '',
      qualifCyc : '',
      qualifsCyclo : [
              {
                nom :'Vélo en cours de location',
                id:1
              },
               {
                nom :'Facturation ( Trajet/Caution/Divers)',
                id:2
              },
               {
                nom :'Mon compte LD',
                id:3
              },
               {
                nom :'Mon compte CD',
                id:4
              },
                  {
                nom :'Informations et signalements',
                id:5
              },
                  {
                nom :'Appel parasite',
                id:6
              },
                  {
                nom :'Location Longue Durée(VLD)',
                id:7
              },
                   {
                nom :"Option e-velo'v",
                id:8
              },
                   {
                nom :"Application Vélo'v officiel",
                id:9
              },
                    {
                nom :"Mon compte",
                id:10
              },
      ],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      motifsPoint : '',
      motifsPoints : [
    



      
      ],
      qualifs: [
              {
                nom :'vant Vente - Approvisionnement ',
                id:1
              },
               {
                nom :'Commande validée',
                id:2
              },
                {
                nom :'Conseil autre produit ',
                id:3
              },
                {
                nom :'Conseils café ',
                id:4
              },
               {
                nom :'Conseils Machine à café en grain ',
                id:5
              },
                {
                nom :'Conseils Machine expresso manuelle ou moulin ',
                id:6
              },
                {
                nom :'Geste co ( BOA, ODR, Devis, Remise)  ',
                id:7
              },
                {
                nom :'Incident ( Mot de passe, panier, Commande…) ',
                id:8
              },
                  {
                nom :'Infos service ( Livraison, Paiement, Abonnement…)  ',
                id:9
              },
                {
                nom :'Colis endommagé ',
                id:10
              },
                 {
                nom :'Colis Perdu ',
                id:11
              },
                 {
                nom :'Contestation de Livraison ',
                id:12
              },
                {
                nom :'Retard Transporteur ',
                id:13
              },
              {
                nom :'Retour de colis  ',
                id:14
              },
                {
                nom :'Suivi de colis  ',
                id:15
              },
                 {
                nom :'Approvisionnement ',
                id:16
              },
               {
                nom :"Conseils d'utilisation  ",
                id:17
              },
              {
                nom :"Facture ",
                id:18
              },
                {
                nom :"Modification/annulation de commande ou d'abonnement",
                id:19
              },
               {
                nom :"Problème qualité (capsules, cafés, machine, conditionnement))",
                id:19
              },
               {
                nom :"Avis (client, produit, site, Q/R)",
                id:20
              },
               {
                nom :"BOA non utilisé",
                id:21
              },
               {
                nom :"Erreur prépa (Colis manquant, DLC-DLUO)",
                id:22
              },
                {
                nom :"Offre de remboursement",
                id:23
              },
                {
                nom :"Rétractation",
                id:24
              },
                 {
                nom :"Demande d'accord commercial",
                id:25
              },
                {
                nom :"Demande pièces détachées",
                id:26
              },
                      {
                nom :"Hors garantie Fabricant ",
                id:27
              },
                    {
                nom :"Hors garantie MAXICOFFEE",
                id:28
              },
                 {
                nom :"PAD ( Panne au déballage )",
                id:29
              },
              {
                nom :"Q / R Fournisseur ",
                id:30
              },
               {
                nom :"Sous garantie Fabricant",
                id:31
              },
               {
                nom :"Sous Garantie Maxicoffee ",
                id:32
              },
                  {
                nom :"Divers - Autres ( à préciser)",
                id:33
              },
                {
                nom :"Divers - Demande pour autre service  ( Hors service client et SAV )",
                id:34
              },
               {
                nom :"Divers - Ecole café ( Formations, Renseignements … )",
                id:35
              },
                {
                nom :"Sortant - New lead ",
                id:36
              },
                {
                nom :"Sortant - Relance lead ",
                id:37
              },
               {
                nom :"Sortant - Répondeur ",
                id:38
              },
               {
                nom :"Sortant - Suivi installation ",
                id:39
              },
      ],
      qualif : null,
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    SousmotifsPoints(){
 if (this.motifsPoint) {
        
        const ac = this.motifsPoints.find(x => x.id === this.motifsPoint.id)
      
      return ac.sousmotifs
      }
      return []
    },
    serviceoptions() {
      if (this.activiteId) {
        console.log(this.activiteId.id)
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
    cnoteg() {
      if(this.activiteId.id ===4){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
        
            if (y.note === 'AQ' || y.note === 'NA') {
            
               re += y.bareme
            }
            if (y.note === 'PA') {
          
              re += (y.bareme/2)
            }
          }
        })

      })

      }
    if(this.activiteId.id ===11){
  
        var re = null
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined') {
            
            if (y.note === 'EX' ) {
            
               re += y.bareme
            }
            else if (y.note === 'BON'){
              if(y.id===1260){
                re += (y.bareme)*0.6
              }
              else if(y.id===1258 || y.id===1259){
                re += (y.bareme)*(0.834)
              }
              else  {
                re += (y.bareme)*(0.8)
              }
               
            }
            else if (y.note === 'MOY'){
               if(y.id===1260){
                re += (y.bareme)*0.2
              }
               else if(y.id===1259||y.id===1258){
                 re += (y.bareme)*0.5
               }
              else {
                re += (y.bareme)*0.6
              }
               
            }
            else if (y.note === 'MAU'){
               re += (y.bareme)*0
            }
            // 
          }
        })
      // comment
      })

               }
else{
        var re = null
      let notes = []
     this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note !== 'undefined' && y.note !== 'NA') {
            
            notes.push(y.note)
          }
        })

      })
       let notes_cal = 100 /notes.length
      notes.forEach(element =>{
        if(element=== 'AQ') {
          re +=  notes_cal
        }
        if(element=== 'PA') {
          re += notes_cal/2
        }
      })
}
      


      if (re){
       if(this.malus){
        re = re - this.malus*(100/600)
       }
       re = re.toFixed(2)
      }

      return re
    },
    resuvar() {
      if (this.cnoteg > 85) {
        return 'outline-success'
      }
       if (this.cnoteg == 50.00) {
        return 'outline-info'
      }
      if (this.cnoteg > 50 && this.cnoteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },
    serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
           if (this.serviceId.id==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
              if (this.serviceId.id==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
             if (this.serviceId.id==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
             if (this.serviceId.id==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
              if (this.serviceId.id==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
          if (this.serviceId.id==63) {
          const agents = this.agents.filter(agent => agent.service === 62) // mm reclamation
          return agents
        }
           if (this.serviceId.id==68) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==71) {
          const agents = this.agents.filter(agent => agent.service === 69) // mm reclamation
          return agents
        }
          if (this.serviceId.id==74) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
            if (this.serviceId.id==82) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
          if (this.serviceId.id==76) {
          const agents = this.agents.filter(agent => agent.service === 24) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
    console: () => console,
  },
  created() {

    axios
    .get('/api/motifAlpique/allmotifs',
    {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
    }
    )
    .then(response=>{
      this.MotifsAlpique = response.data
    })
     axios
      .get('/api/motifs/allmotifs', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
       this.motifsPoints = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
      console.log(this.items)
      // this.items.forEach(x=>{
      //   x.elements.forEach(y=>{
      //     console.log(y.bareme)
      //   })
      // })
 
  },
  methods: {
    handeaconchange() {
      this.serviceId = null
    },
    sendData() {
      
      // verification que tous les elements ont une note
      var notetest = false
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note === 'undefined') {
            notetest = true
          }
        })
      })
      // verification des données
      if (!this.agentId || !this.indice || !this.clientId || notetest || !this.date || (this.activiteId.id===20 && !this.qualif) || !this.dap) {
        if(this.activiteId.id===20 && !this.qualif){
           this.$swal({
            text: "vous n'avez pas encore sélectionné la qualification d'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.agentId) {
          this.$swal({
            text: "vous n'avez pas encore sélectionné l'agent !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (notetest) {
          this.$swal({
            title: 'Attention !',
            text: 'vous devez evaluer tous les éléments!',
            icon: 'warning',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          })
        }
        if (!this.dap) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi la durée d'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
      } else if (this.sim) {
        this.$swal({
          title: 'Êtes-vous sûr?',
          text:
            "vous avez marqué que cette evaluation à une situation inacceptable majeure ! le téléconseiller aura automatiquement '0'",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'continuer',
          cancelButtonText: 'annuler',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.sendRequest()
          }
        })
      } else {
        this.sendRequest()
      }
    },
    handleServiceChange() {
      // check if this.serviceId is not null
      this.items = null
      this.checkServiceGrid = null
      if (this.serviceId) {
        // if true check if the service has a grid
        axios
          .get(`/api/grille/hasnotgrid/${this.serviceId.id}`, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          })
          .then(response => {
            if (!response.data) {
              axios
                .get(`/api/eval/grid/${this.serviceId.id}`, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                this.items.forEach(x=>{
                  x.elements.forEach(y=>{
                    console.log(y.bareme)
                  })
                })
                })

              this.checkServiceGrid = true
            } else {
              this.checkServiceGrid = false
            }
          })
        // if true load grid elements
      }
    },
    sendRequest() {
      this.sending = true
      // to reduce request time i removed these
      /* const itemsToSend = Object.assign(...this.items)
        itemsToSend.forEach(x => {
          x.elements.forEach(y => {
            delete y.g_ok
            delete y.g_ko
            delete y.g_si
            delete y.nom
          })
        }) */

      axios
        .post(
          '/api/eval/save',
          {
            activiteId: this.activiteId.id,
            serviceId: this.serviceId.id,
            indice: this.indice,
            clientId: this.clientId,
            date: this.date,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items: this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualif : this.qualif,
            qualiticien: this.userData.userId,
            role: this.userData.role,
            dap : this.dap,
            motifsPoint : this.motifsPoint,
            SousmotifsPoint :  this.SousmotifsPoint.nom,
            MotifAlpique: this.MotifAlpique
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
               this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
