<template>
  <div>
    <b-row>
      <b-col>
        <b-button
          class="float-right"
          id="toggle-btn"
          v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          variant="primary"
          v-b-modal.modal-add-section
        >
          Ajouter une partie
        </b-button>
      </b-col>
    </b-row>

    <b-card title="Partie" class="m-auto w-50">
      <b-card-text>
        <b-form-group
          label="veuillez choisir une partie :"
          label-for="i-partie"
        >
          <b-form-select
            id="i-partie"
            :options="test"
            text-field="nom"
            value-field="id"
            v-model="partieid"
          />
        </b-form-group>
        <br />
        <b-button
          class="float-right"
          style="margin-right:30%"
          id="toggle-btn"
          v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          variant="outline-primary"
          v-if="partieid !== null"
          v-b-modal.modal-add-element
        >
          Ajouter un element
        </b-button>
      </b-card-text>
    </b-card>
    <br /><br />
    <b-card class="w-75 m-auto">
      <b-table
        thead-class="bg-white"
        hover
        :items="elementOptions"
        :fields="fields"
      >
        <template #cell(edit)="row">
          <b-button
            size="sm"
            @click="editElementbtn(row.item)"
            variant="info"
            class="mr-1"
          >
            <feather-icon icon="EditIcon" />
          </b-button>
        </template>
      </b-table>
      <b-modal
        ref="modal-edit"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Fermer"
        centered
        title="Modifier un element"
        @ok="modifierelement"
      >
        <b-form-group>
          <label for="element">nomination :</label>
          <b-form-input id="element" type="text" v-model="itemToEdit.nom" />
        </b-form-group>
      </b-modal>
      <b-modal
        id="modal-add-element"
        cancel-variant="outline-secondary"
        ok-title="Ajouter"
        cancel-title="Fermer"
        centered
        title="Ajouter un element"
        @ok="ajouterelement"
      >
        <b-form-group>
          <label for="element">nomination : </label>
          <b-form-input id="element" type="text" v-model="newelement" />
        </b-form-group>
      </b-modal>
      <b-modal
        id="modal-add-section"
        cancel-variant="outline-secondary"
        ok-title="Ajouter"
        cancel-title="Fermer"
        centered
        title="Ajouter une partie"
        @ok="ajouterPartie"
      >
        <b-form-group>
          <label for="element">nomination : </label>
          <b-form-input id="element" type="text" v-model="newsection" />
        </b-form-group>
      </b-modal>
    </b-card>
  </div>
</template>
<script>
import {
  BCard,
  BCardText,
  BFormGroup,
  BFormSelect,
  BButton,
  BRow,
  BCol,
  BTable,
  BModal,
  BFormInput,
} from 'bootstrap-vue'
import FeatherIcon from '@/@core/components/feather-icon/FeatherIcon.vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import Ripple from 'vue-ripple-directive'

export default {
  components: {
    BCard,
    BCardText,
    BFormGroup,
    BFormSelect,
    BButton,
    BRow,
    BCol,
    BTable,
    FeatherIcon,
    BModal,
    BFormInput,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      fields: [
        {
          key: 'nom',
          label: 'element',
        },
        { key: 'edit', label: 'Edit' },
      ],
      test: [],
      partieid: null,
      itemToEdit: { nom: null },
      newelement: null,
      newsection: null,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    elementOptions() {
      if (this.partieid) {
        const ac = this.test.find(x => x.id === this.partieid)
        return ac.elements
      }
      return []
    },
  },
  created() {
    axios
      .get('/api/grille/getelements', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.test = response.data.test
      })
  },
  methods: {
    editElementbtn(item) {
      this.itemToEdit = item
      this.$refs['modal-edit'].show()
    },
    modifierelement() {
      axios.post('/api/elements/editelement', {
        itemToEdit: this.itemToEdit,
      },
      {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      this.itemToEdit = null
    },
    ajouterPartie() {
      axios
        .post('/api/elements/addsection', {
          newsection: this.newsection,
        },
        {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          this.test.push({
            id: response.data,
            nom: this.newsection,
            elements: [],
          })
          this.newsection = null
        })
    },
    ajouterelement() {
      axios
        .post('/api/elements/addelement', {
          partieid: this.partieid,
          newelement: this.newelement,
        },
        {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(
          response => {
            const index = this.test.findIndex(x => x.id === this.partieid)
            this.test[`${index}`].elements.push({
              id: response.data,
              nom: this.newelement,
            })
            this.newelement = null
          },
          error => {
            console.log(error)
          },
        )
    },
  },
}
</script>
