<template>
  <div>
    <b-card class="m-auto" style="width:70%" v-if="checkdone == false">
      <b-card-body>
        <b-row
          ><b-col md="6">
            <b-form-group label="Activité" label-for="i-activite">
              <b-form-select
                id="i-activite"
                :options="data"
                text-field="activite"
                value-field="id"
                v-model="activite"
              />
            </b-form-group>
          </b-col>
          <b-col md="6" v-if="serviceoptions">
            <b-form-group label="Service" label-for="i-service">
              <b-form-select
                id="i-service"
                :options="serviceoptions"
                v-model="service"
                text-field="nom"
                value-field="id"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-button
          v-if="service"
          class="float-right"
          v-on:click="activiteServiceCheck()"
          variant="warning"
        >
          valider
        </b-button>
      </b-card-body>
    </b-card>
    <br />
    <b-card
      class="m-auto p-0"
      style="width:100%"
      v-if="checkdone == true"
      :title="'Grille d\'evaluation pour le service \'' + servicename + '\''"
    >
      <b-card-body class="p-0">
        <inputrepeater @send-items="sendData" />
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import {
  BRow,
  BCol,
  BFormGroup,
  BFormSelect,
  BCard,
  BCardBody,
  BButton,
} from 'bootstrap-vue'
import inputrepeater from './inputrepeater.vue'
import 'animate.css'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BFormSelect,
    BCard,
    BCardBody,
    BButton,
    inputrepeater,
  },
  data() {
    return {
      activite: null,
      service: null,
      servicename: null,
      checkdone: false,
      data: null,
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    serviceoptions() {
      if (this.activite) {
        const ac = this.data.find(x => x.id === this.activite)
        return ac.services
      }
      return false
    },
  },
  created() {
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.data = response.data
      })
  },
  methods: {
    formSubmitted() {},
    activiteServiceCheck() {
      // get axios
      axios
        .get(`/api/grille/hasnotgrid/${this.service}`, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.userToken}`,
          },
        })
        .then(response => {
          // if true hide the card and show th wizard form
          // else show an alert that says this fucking service already got a grid

          if (response.data) {
            this.checkdone = true
            this.servicename = this.data
              .find(x => x.id === this.activite)
              .services.find(x => x.id === this.service).nom
          } else {
            this.$swal({
              title: 'Attention !',
              text:
                "Ce service à déja une grille d'evaluation ! \nun service peut avoir seulement une seule grille",
              icon: 'error',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: true,
            })
          }
        })
    },
    sendData(items) {
      if (items.length === 0) {
        this.$swal({
          title: 'Attention',
          text: 'La grille est vide !!',
          customClass: {
            confirmButton: 'btn btn-danger',
          },
          showClass: {
            popup: 'animate__animated animate__shakeX',
          },
          buttonsStyling: false,
        })
      } else if (items.length === 1) {
        this.$swal({
          title: 'Vous êtes sûre ?!',
          text: 'La grille contient seulement un seul element !',
          icon: 'warning',
          confirmButtonText: 'oui',
          showCancelButton: true,
          cancelButtonText: 'Annuler',
          reverseButtons: true,
          customClass: {
            confirmButton: 'btn btn-primary ml-2',
            cancelButton: 'btn btn-outline-danger',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.postData(items)
          }
        })
      } else if (items.length > 1) {
        this.postData(items)
      }
    },
    postData(items) {
      // check if note rached 100 or not
      var totalNote = items
        .map(item => item.bareme)
        .reduce((prev, next) => parseFloat(prev) + parseFloat(next))
      /*
      if (totalNote !== 100) {
        this.$swal({
          title: 'Attention',
          text: 'La note globale de la grille doit être égale à 100 !',
          customClass: {
            confirmButton: 'btn btn-danger',
          },
          buttonsStyling: false,
        })
        return false
      } */
      axios
        .post(
          '/api/grille/store',
          {
            items,
            totalNote,
            service_id: this.service,
            activite_id: this.activite,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(
          response => {
            if (response.data === 1) {
              this.$swal({
                text: 'la grille a été ajoutée avec succès',
                icon: 'success',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              }).then(() => {
                window.location.href = '/'
              })
            }
            if (response.data === -1) {
              alert('erreur!')
              // redirect
            }
          },
          error => {
            console.log(error)
          },
        )
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
