<template>
  <div>
    <div>
      <b-form
        ref="form"
        :style="{ height: trHeight }"
        class="repeater-form"
        @submit.prevent="repeateAgain"
      >
        <!-- Row Loop -->
        <b-row
          v-for="(item, index) in items"
          :id="item.id"
          :key="item.id"
          ref="row"
        >
          <!-- index -->
          <b-col md="1" class="pr-0">
            <b-button style="cursor: default"
              variant="outline-secondary"
              class="mt-0 mt-md-2 xxx"
            >
              {{ index + 1 }}
            </b-button>
          </b-col>
          <!-- select partie -->
          <b-col md="3" class="pl-0">
            <b-form-group label="Partie" label-for="partie">
              <b-form-select
                :options="partieOptions"
                text-field="partie"
                value-field="id"
                :id="`partie_${item.id}`"
                :value="item.id_partie"
                v-model="item.id_partie"
                :ref="`partie_${item.id}`"
              />
            </b-form-group>
          </b-col>
          <!-- select element -->
          <b-col md="3">
            <b-form-group label="Element" label-for="item-id_element">
              <b-form-select
                text-field="nom"
                value-field="id"
                :options="elementOptions[`${item.id_partie}`]"
                :id="`element_${item.id}`"
                :ref="`element_${item.id}`"
                v-model="item.id_element"
              />
            </b-form-group>
          </b-col>

          <!-- bareme -->
          <b-col md="1">
            <b-form-group label="Bareme" label-for="item-bareme">
              <b-form-input
                :id="`bareme_${item.id}`"
                type="number"
                placeholder="00"
                v-model="item.bareme"
              />
            </b-form-group>
          </b-col>

          <!-- glossaire -->
          <b-col md="2">
            <b-form-group label="Glossaire" label-for="glossaire">
              <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="success"
                @click="triggermodal(item.id)"
              >
                Ajouter
              </b-button>
            </b-form-group>
          </b-col>
          <!-- Remove Button -->
          <b-col md="1" class="mb-50">
            <b-button
              v-ripple.400="'rgba(234, 84, 85, 0.15)'"
              variant="outline-danger"
              class="mt-0 mt-md-2 xxx"
              @click="removeItem(index)"
            >
              <feather-icon icon="XIcon" class="mr-25" />
            </b-button>
          </b-col>
          <b-col cols="12">
            <hr />
          </b-col>
        </b-row>
      </b-form>
    </div>
    <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="secondary"
      @click="repeateAgain"
    >
      <feather-icon icon="PlusIcon" class="mr-25" />
      <span>Ajouter un element</span>
    </b-button>
    <b-button
      class="float-right"
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="primary"
      @click="sendItems"
    >
      <span>Terminer</span>
      <feather-icon size="15" icon="CheckIcon" class="ml-25" />
    </b-button>

    <b-modal
      ref="modal-glossaire"
      cancel-variant="outline-secondary"
      ok-title="Ajouter"
      cancel-title="Fermer"
      centered
      title="Glossaire"
      @ok="handleOk"
    >
      <b-form>
        <b-form-group>
          <label for="g_ok">Acquis :</label>
          <b-form-textarea id="g_ok" type="text" v-model="tempOk" />
        </b-form-group>
            <b-form-group>
          <label for="g_ok">Partiel :</label>
          <b-form-textarea id="g_pa" type="text" v-model="tempPa" />
        </b-form-group>
        <b-form-group>
          <label for="g_ko">Non-acquis :</label>
          <b-form-textarea id="g_ko" type="text" v-model="tempKo" />
        </b-form-group>
        <b-form-group>
          <label for="g_na">N/A :</label>
          <b-form-textarea id="g_na" type="text" v-model="tempNa" />
        </b-form-group>
        <b-form-group>
          <label for="g_si">SI :</label>
          <b-form-textarea id="g_si" type="text" v-model="tempSi" />
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import {
  BForm,
  BFormGroup,
  BFormInput,
  BRow,
  BCol,
  BButton,
  BFormSelect,
  BModal,
  BFormTextarea,
} from 'bootstrap-vue'
import { heightTransition } from '@core/mixins/ui/transition'
import Ripple from 'vue-ripple-directive'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'

export default {
  name: 'inputrepeater',
  components: {
    BForm,
    BRow,
    BCol,
    BButton,
    BFormGroup,
    BFormInput,
    BFormSelect,
    BModal,
    BFormTextarea,
  },
  directives: {
    Ripple,
  },
  mixins: [heightTransition],
  emits: ['sendItems'],
  data() {
    return {
      options: [
        { value: null, text: 'Please select some item' },
        { value: 'a', text: 'This is First option' },
        { value: 'b', text: 'Default Selected Option' },
        { value: 'c', text: 'This is another option' },
        { value: 'd', text: 'This one is disabled', disabled: true },
      ],
      partieOptions: [],
      items: [
        {
          id: 1,
          id_element: null,
          bareme: null,
          g_ok: null,
          g_pa:null,
          g_ko: null,
          g_si: null,
          g_na: null,
          id_partie: null,
          prevHeight: 0,
        },
      ],
      nextTodoId: 2,
      elementOptions: {},
      temp_partie: null,
      tempOk: null,
      tempPa:null,
      tempKo: null,
      tempSi: null,
      tempNa: null,
      temp_index: null,
      userToken: useJwt.getToken(),
    }
  },
  computed: {},
  mounted() {
    this.initTrHeight()
  },
  created() {
    window.addEventListener('resize', this.initTrHeight)
    axios
      .get('/api/grille/getelements', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        var i
        this.partieOptions = null
        this.partieOptions = {}
        this.partieOptions = response.data.parties
        for (i = 0; i < response.data.elements.length; i += 1) {
          this.elementOptions[Object.keys(response.data.elements[i])[0]] = response.data.elements[i][Object.keys(response.data.elements[i])[0]]
        }
      })
  },
  destroyed() {
    window.removeEventListener('resize', this.initTrHeight)
  },
  methods: {
    repeateAgain() {
      if (this.items[this.items.length - 1]) {
        const rowid = this.items[this.items.length - 1].id
        const partie = document.getElementById(`partie_${rowid}`).value
        const element = document.getElementById(`element_${rowid}`).value
        const bareme = document.getElementById(`bareme_${rowid}`).value
        // test if the elements above are not null
        // if not null push them into items array and add new row
        // else show alert
        if (partie && element && bareme) {
          // getting the index current object in items
          const objIndex = this.items.findIndex(x => x.id === rowid)
          // this.items[objIndex].id_element = element
          // this.items[objIndex].id_partie = partie
          // this.items[objIndex].bareme = bareme
          if (this.items[objIndex].g_ok == null) {
            this.$swal({
              title: 'Attention !',
              text: " vous n'avez pas encore entré le glossaire de cet élèment",
              customClass: {
                confirmButton: 'btn btn-info',
              },
              buttonsStyling: false,
            })
          }
          // add height for add element btn
          this.$nextTick(() => {
            this.trAddHeight(this.$refs.row[0].offsetHeight)
          })

          // v-model
          // this.partie.push(this.nextTodoId + this.nextTodoId)
          // prepare new item row
          this.items.push({
            id: (this.nextTodoId += this.nextTodoId),
            id_element: null,
            bareme: null,
            g_ok: null,
            g_pa: null,
            g_ko: null,
            g_si: null,
            g_na: null,
            id_partie: `${partie}`,
          })
        } else {
          this.$swal({
            title: 'Attention !',
            text: ' vous devez remplir toutes les entrées',
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
      } else {
        // prepare new item row
        this.items.push({
          id: (this.nextTodoId += this.nextTodoId),
          id_element: null,
          bareme: null,
          g_ok: null,
          g_pa: null,
          g_ko: null,
          g_na: null,
          g_si: null,
          id_partie: null,
          prevHeight: 0,
        })
        // add new row
        this.$nextTick(() => {
          this.trAddHeight(this.$refs.row[0].offsetHeight)
        })
      }
    },
    removeItem(index) {
      if (this.items.length === 1) {
        this.items = null
        this.items = []
      } else {
        this.items.splice(index, 1)
      }
      this.trTrimHeight(this.$refs.row[0].offsetHeight)
    },
    initTrHeight() {
      this.trSetHeight(null)
      this.$nextTick(() => {
        this.trSetHeight(this.$refs.form.scrollHeight)
      })
    },
    triggermodal(index) {
      this.temp_index = index
      const objIndex = this.items.findIndex(x => x.id === this.temp_index)

      this.tempOk = this.items[objIndex].g_ok
      this.tempPa = this.items[objIndex].g_pa
      this.tempKo = this.items[objIndex].g_ko
      this.tempSi = this.items[objIndex].g_si
      this.tempNa = this.items[objIndex].g_na
      this.$refs['modal-glossaire'].show()
    },
    handleOk() {
      const objIndex = this.items.findIndex(x => x.id === this.temp_index)
      this.items[objIndex].g_ok = this.tempOk
      this.items[objIndex].g_pa = this.tempPa
      this.items[objIndex].g_ko = this.tempKo
      this.items[objIndex].g_si = this.tempSi
      this.items[objIndex].g_na = this.tempNa
      this.tempOk = null
      this.tempPa = null
      this.tempKo = null
      this.tempSi = null
      this.temp_index = null
    },
    sendItems() {
      this.$emit('send-items', this.items)
    },
  },
}
</script>

<style lang="scss" scoped>
.repeater-form {
  overflow: hidden;
  transition: 0.35s height;
}
</style>
