<template>
  <div>
    <b-card class="m-auto w-8"> 
            <b-col md="12" >
                <b-row  class="mb-4">
<h2 class="" style="border-bottom: 1px solid #ccc; ">Nouveau Constat :</h2>


       
 </b-row>
            </b-col>

       
      <b-row
        >
        <b-col md="3">
          <b-form-group label="Activité *:" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="activite"
              :options="activites"
              @input="handeaconchange"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Service *:" label-for="i-service">
            <v-select
              v-model="serviceId"
              id="i-service"
              :options="serviceoptions"
              label="nom"
              @input="handleServiceChange"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Date de l'appel *:" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
        <b-col md="3">
            <b-form-group label="Niveau d'importance *:" label-for="i-service">
               <v-select
              v-model="status"
              id="i-service"
              :options="statuts"
              label="nom"

            >
               </v-select>
            </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-group label="Indice / Tél *:" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="ID client / Nc *:" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group> </b-col
        >
        <b-col md="3">
          <b-form-group label="Qualiticien(s) en copie(s)  :" label-for="i-qual">
            <v-select
              :options="qualiticiens"
              id="i-agent"
              label="nom"
              multiple
              v-model="qualiticiensC"
            >
              <span slot="no-options">
                aucun qualiticien
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        
        
        <b-col md="3">
          <b-form-group label="Type dD constat *:" >
            <v-select
              :options="constattypes"
              id="i-agent"
              label="value"
              v-model="constattype"
            >
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
          <b-col md="3">
<b-form-group label="Objet de mail * :" label-for="i-agent">
 <b-form-input

                
            v-model="nom"
                    placeholder="Objet de mail"
                  />

</b-form-group>  
          </b-col>
          <b-col md="3">
          <b-form-group label="Téléconseiller *:" label-for="i-agent">
            <v-select
              :options="serviceAgents"
              id="i-agent"
              label="nom"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
           <b-col md="3">
                <b-form-group label="Superviseur Concerné *:" >
               <v-select
              :options="supsOptions"
              id="i-agent"
              label="nom"
              v-model="sup"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
              <b-col md="3">
                <b-form-group label="Manager(s) en copie(s) *:" >
               <v-select
              :options="supsOptions"
              id="i-agent"
              label="nom"
              multiple
              v-model="supC"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
      </b-row>
        <b-row class="mt-2">
          <b-col md="6">
            <label style="cursor: pointer; font-size: large; ">Conmmentaire *:</label>
            <b-form-textarea id="textarea-default" rows="4" class="mt-2" v-model="commentaireConstat"/>
          </b-col>
          <b-col cols="2" class="mt-  ">
              <label style="cursor: pointer; font-size: large; ">Site *:</label>
              <v-select class="w-100 mt-2"  item-text="site"  v-model="site" label="site"  :options="sites"/>
          </b-col>
          <b-col md="4">
            <b-form-group label="Deadeline  *:" class="mt-2" >
              <v-select :options="deadlines" id="i-agent" label="value" v-model="deadlineConstat"></v-select>
              <b-form-file id="file" ref="file" type="file" class="mt-3" v-model="file" placeholder="Choisissez une piece jointe ..."></b-form-file>
            </b-form-group >
          </b-col>
        </b-row>
        <b-row class="mb-5 d-flex justify-content-center mt-4">
          <b-col class="mt-1" md="5">
            <b-button variant="outline-primary" @click="sendData" style="width:100%">
             <span v-if="sending"><b-spinner small type="grow"></b-spinner>En cours d'envoi...</span>
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>
           
    </b-card>
    <br />

  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormFile,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    BFormFile,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
        statuts : [
              {
                id: 1,
                nom : 'Haut'
              },
              {
                id:3,
                nom : 'Normal'
              }
        ],
        site : '',
  
              sites:
      [
        {
          site: 'TA',
          id: 1,
        },
        {
          site: 'TE',
          id: 2,
        },
        {
          site: 'HO ',
          id: 3,
        },
        {
        site:'BDX',
        id:4,
        },
        {
        site:'NSL',
        id:5,
        }
      ],
        status : '',
        file :  [],
        nom: '',
        supC : [],
        sups : [],
        sup : [],
        commentaireConstat : '',
        commentaireAction : '',
        deadlineConstat: [

        ],
        deadlineAction: [

        ],
        deadlines: [
              {
              id:1,
              value : '1 Jour',
              value2 : '1',
             },
               {
              id:2,
              value : '2 Jours',
              value2 : '2',
             },
               {
              id:3,
              value : '3 Jours',
              value2 : '3',
             },
               {
              id:4,
              value : '1 Semaine',
              value2 : '4',
             },
               {
              id:5,
              value : '2 Semaines',
              value2 : '5',
             },

            
        ],
        actions: [
             {
              id:1,
              value : 'Debriefe',
             },
               {
              id:2,
              value : 'Atelier',
             },
               {
              id:3,
              value : 'Mise en binome',
              value2 : '3',
             },
               {
              id:4,
              value : 'Picking',
              value2 : '4',
             },
               {
              id:5,
              value : 'Sanction',
              value2 : '5',
             },
              
        ],
        constattypes: [
               {
              id:1,
              value : 'Process',
          },
             {
              id:2,
              value : 'Posture',
          },
            {
              id:3,
              value : 'Posture et  Process',
          },
             {
              id:4,
              value : 'SI',
          }
        ],
        constattype : [],
      qualiticiens : [],
      qualiticien : '',
      calibrage: [],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      qualiticiensC : [],
      action : '',

      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
    }
  },
  computed: {
  serviceAgents() {
        if (this.serviceId) {
        
               if (this.serviceId.id==54) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
              if (this.serviceId.id==56) {
          const agents = this.agents.filter(agent => agent.service === 24)
          return agents
        }
              if (this.serviceId.id==55) {
          const agents = this.agents.filter(agent => agent.service === 53)
          return agents
        }
             if (this.serviceId.id==58) {
          const agents = this.agents.filter(agent => agent.service === 12)
          return agents
        }
             if (this.serviceId.id==59) {
          const agents = this.agents.filter(agent => agent.service === 13)
          return agents
             }
              if (this.serviceId.id==60) {
          const agents = this.agents.filter(agent => agent.service === 14)
          return agents
             }
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
          if (this.serviceId.id==63) {
          const agents = this.agents.filter(agent => agent.service === 62) // mm reclamation
          return agents
        }
           if (this.serviceId.id==68) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
      supsOptions() {
   if (this.activiteId) {

    const ac = [];
    this.sups.forEach(x=>{
      x.activitys.forEach(y=>{
         if(y.id === this.activiteId.id) {
           ac.push(x)
         }
      })
    })
     return ac 
      }
      },
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
  },
  created() {
         axios
      .get('/api/staff/sups2', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.sups = response.data
      })
       axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.qualiticiens = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
      handleFileUpload(){
   this.file = this.$refs.file.files[0]
},
      vider(){
          this.serviceId = null
          this.calibrage = null
          this.date = null
this.activiteId= null
this.indice = null
this.qualiticien = null
this.clientId = null
this.satcli = null
this.oad = null
this.synthese = null
this.agentId = null
this.sim = null
this.malus = null






      },
    handeaconchange() {
      this.serviceId = null
    },
 sendData(){

 if (!this.activiteId || !this.serviceId || !this.clientId || !this.indice || !this.date   || !this.constattype || !this.deadlineConstat  || !this.sup || !this.agentId || !this.status ) { 
  if (!this.activiteId) {
          this.$swal({
            text: "vous devez selectionner une activite !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.serviceId) {
          this.$swal({
            text: "vous devez selectionner un service !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
                 if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if(!this.constattype) {
             this.$swal({
            text:
              "vous devez selectionner le type de constat !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if(!this.deadlineConstat) {
                  this.$swal({
            text:
              "vous devez selectionner le deadeline du constat  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
          if(!this.agentId) {
                  this.$swal({
            text:
              "vous devez selectionner l'agent  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
           if(!this.sup) {
                  this.$swal({
            text:
              "vous devez selectionner le superviseur !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        
           if(!this.status) {
                  this.$swal({
            text:
              "vous devez selectionner le niveau d'importance du constat !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if(!this.site) {
                  this.$swal({
            text:
              "vous devez selectionner le site du constat !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
 }
    else {
        this.sendRequest()
      }
 },
    handleServiceChange() {

    },
    sendRequest() {
  
      this.sending = true
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('activiteId', this.activiteId.id);
      formData.append('serviceId', this.serviceId.id);
      formData.append('indice', this.indice);
      formData.append('agentId', this.agentId.id);
      formData.append('clientId', this.clientId);
      formData.append('date', this.date);
      formData.append('site', JSON.stringify(this.site));
      formData.append('nom', this.nom);
      formData.append('constattype', this.constattype.value);
      formData.append('commentaireConstat', this.commentaireConstat);
      formData.append('deadlineConstat', this.deadlineConstat.value);
      formData.append('sup',JSON.stringify(this.sup));
      formData.append('supC', JSON.stringify(this.supC));
      formData.append('qualiticien', this.userData.userId);
      formData.append('qualiticiensC',JSON.stringify(this.qualiticiensC))
       formData.append('status',JSON.stringify(this.status))
      axios
        .post(
          '/api/contstat/save',formData,
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
    this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Constat ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
            this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
