<template>
  <div>
      <b-card class="text-center" v-if="this.img_url!= null">
  <div v-if="!ifaudio">
      <h6>Capture d'ecran :</h6>
          <b-img-lazy :src="img_url" width="600%" class="mb-2 mt-2"> </b-img-lazy> 
          

      
  </div>
  <div v-else>
<h6>Enregistrement d'appel  :</h6> 
<audio id="myAudio" controls  :src="img_url" class="mb-2 mt-2"> </audio>
  </div>
      </b-card>
    <b-card class="m-auto w-8">
      <b-row  class="mb-4">
        <b-col md="6" >
          <b-badge variant="light-danger" v-if="statut===0" pill>Non traité</b-badge>
          <b-badge variant="light-success" v-if="statut===1" pill>traité</b-badge>
        </b-col>
        <b-col md="6">
              
              <b-badge variant="light-warning" class="d-flex float-right"  pill> Date d'envoi du constat {{this.date_time_constat}}</b-badge>
             
        </b-col>
      </b-row>
      <b-row>
        <b-col md="4">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="nom"
              :options="activites"
              @input="handeaconchange"
              :disabled="ifqual"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service :" label-for="i-service">
            <v-select
              v-model="service"
              id="i-service"
    
              label="nom"
              :disabled="ifqual"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Date de l'appel :" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
              :disabled="ifqual"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" :disabled="ifqual" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="ID client / Nc :" label-for="i-client">
            <b-form-input :disabled="ifqual" id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group> </b-col
        >
        <b-col md="3">
          <b-form-group label="Evaluateur :" label-for="i-qual">
            <v-select
              :options="qualiticiens"
              id="i-agent"
              label="nom"
              v-model="qualiticien"
              :disabled="ifqual"
            >
              <span slot="no-options">
                aucun qualiticien
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        
        
        <b-col md="3">
          <b-form-group label="Type de constat :" >
            <v-select
              :options="constattypes"
              id="i-agent"
              label="value"
              v-model="constattype"
              :disabled="ifqual"
            >
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
          <b-col md="4">
<b-form-group label="objet de mail:" label-for="i-agent">
 <b-form-input

                :disabled="ifqual"
            v-model="nom"
                    placeholder=""
                  />

</b-form-group>  
          </b-col>
          <b-col md="4">
          <b-form-group label="Téléconseiller :" label-for="i-agent">
            <v-select
              :options="serviceAgents"
              id="i-agent"
              label="nom"
              :disabled="ifqual"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
           <b-col md="4">
                <b-form-group label="Superviseur  :" >
               <v-select
              id="i-agent"
              label="nom"
              multiple
              v-bind:class="{ disabled: true }"
              v-model="sup"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
      </b-row>
          <b-row class="mt-2">
             
                   <b-col md="8">
                         <label
              for="i-sim"
              class="px-1"
              style="cursor: pointer; font-size: large; "
            >
              Conmmentaire :
            </label>
            
            <b-form-textarea  :disabled="ifqual" id="textarea-default" rows="4" class="mt-2" v-model="commentaireConstat"
          /></b-col>
            <b-col md="4">
                <b-form-group label="Date limite  :" class="mt-2" >
          
               <b-form-input

                :disabled="ifqual"
            v-model="deadlineConstat"
                    placeholder=""
                  />
             </b-form-group >
           </b-col>
        </b-row>
  
           
    </b-card>
    <br />
           <b-card v-if="this.role === 'superviseur' && statut ===0">
        <b-row  class="mb-4">
         <h4 class="ml-1 mt-2" style="border-bottom: 1px solid #ccc; ">Plan d'action :</h4>
        </b-row>
         <b-row>
           <b-col md="5">
            <b-form-group label="Action  :" >
              <v-select
              :options="actions"
              id="i-agent"
              label="value"
              v-model="action"
              >
            </v-select>
          </b-form-group>
           </b-col>
     
           <b-col md="5">
                <b-form-group label="Date limite  :" >
               <v-select
              :options="deadlines"
              id="i-agent"
              label="value"
              v-model="deadlineAction"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
         </b-row>  
         <b-row class="mt-2">
              <b-col md="12">
            <label for="textarea-default">Conmmentaire:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="commentaireAction"
          /></b-col>
         </b-row>
         <b-row class="mt-4">
           <b-col md="12" offset="">
             <h3>Avis Superviseur :</h3>
         <b-row class="mt-2">
             <b-col md="2" offset="2">
                 <b-form-radio
              v-model="partage"
              name="some-radios"
              value="AQ"
              size="sm"
              button
              button-variant="outline-success"
              >Partagé</b-form-radio
            >
           </b-col>
          <b-col md="2" offset="1">
                <b-form-radio
              v-model="partage"
              name="some-radios"
              value="PA"
              size="sm"
              button
              button-variant="outline-info"
              >Partiellement Partagé </b-form-radio
            >
          </b-col>
              <b-col md="2" offset="2">
                <b-form-radio
              v-model="partage"
              name="some-radios"
              value="NA"
              size="sm"
              button
              button-variant="outline-danger"
              >Non Partagé</b-form-radio
            >
              </b-col>
         </b-row>
           </b-col>
         </b-row>
      <b-row class="mb-1 d-flex justify-content-center mt-4">
        <b-col class="mt-1" md="5">
          <b-button
            variant="outline-primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
                Terminer
            </span>
          </b-button>
        </b-col>
      </b-row>  
    </b-card> 
    <b-card v-if="statut === 1">
        <b-row  class="mb-4">
          <b-col md="6" sm="6" lg="6" >
 <h4 class="ml-1 mt-2" style="border-bottom: 1px solid #ccc; ">Action prise par le superviseur  :</h4>
          </b-col>
          <b-col md="6" sm="6" lg="6" >
         <b-badge variant="light-warning" class="d-flex float-right"  pill> Date d'action {{this.date_time_constat}}</b-badge>

          </b-col>
        
             
        </b-row>
         <b-row>
           <b-col md="5">
            <b-form-group label="Action  :" >
              <v-select
              :options="actions"
              id="i-agent"
              label="value"
              v-bind:class="{ disabled: true }"
              v-model="actionPre"
              >
            </v-select>
          </b-form-group>
           </b-col>
     
           <b-col md="5">
                <b-form-group label="Date limite  :" >
               <v-select
              :options="deadlines"
              id="i-agent"
              label="value"
              v-bind:class="{ disabled: true }"
              v-model="deadlineActionPre"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
         </b-row>  
         <b-row class="mt-2">
              <b-col md="12">
            <label for="textarea-default">Conmmentaire:</label>
            <b-form-textarea id="textarea-default" rows="4" :disabled="ifqual" v-model="commentaireActionPre"
          /></b-col>
         </b-row> 
                  <b-row class="mt-4">
           <b-col md="12" offset="">
             <h3>Avis Superviseur :</h3>
         <b-row class="mt-2">
             <b-col md="2" offset="2">
                 <b-form-radio
              v-model="partageAVIS"
              name="some-radios"
              value="AQ"
              size="sm"
              button
              button-variant="outline-success"
              >Partagé</b-form-radio
            >
           </b-col>
          <b-col md="2" offset="1">
                <b-form-radio
              v-model="partageAVIS"
              name="some-radios"
              value="PA"
              size="sm"
              button
              button-variant="outline-info"
              >Partiellement Partagé </b-form-radio
            >
          </b-col>
              <b-col md="2" offset="2">
                <b-form-radio
              v-model="partageAVIS"
              name="some-radios"
              value="NA"
              size="sm"
              button
              button-variant="outline-danger"
              >Non Partagé</b-form-radio
            >
              </b-col>
         </b-row>
           </b-col>
         </b-row>
    </b-card> 
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BFormRadio,
  BBadge,
  BSpinner,
  BImgLazy,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormRadio,
    BFormCheckbox,
    BBadge,
    BImgLazy,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      partage : null,
      partageAVIS : null,
        actionPre : '',
        deadlineActionPre : '',
        commentaireActionPre : '',
        ifaudio : false,
        img_url : '',
        file : [],
        statut : '',
        nom: '',
        sups : [],
        sup : [],
        commentaireConstat : '',
        commentaireAction : '',
        deadlineConstat: [

        ],
        deadlineAction: [

        ],
        deadlines: [
              {
              id:1,
              value : '1 Jour',
              value2 : '1',
             },
               {
              id:2,
              value : '2 Jours',
              value2 : '2',
             },
               {
              id:3,
              value : '3 Jours',
              value2 : '3',
             },
               {
              id:4,
              value : '1 Semaine',
              value2 : '4',
             },
               {
              id:5,
              value : '2 Semaines',
              value2 : '5',
             },

            
        ],
        actions: [
             {
              id:1,
              value : 'Debriefe',
             },
               {
              id:2,
              value : 'Atelier',
             },
               {
              id:3,
              value : 'Mise en binome',
              value2 : '3',
             },
               {
              id:4,
              value : 'Picking',
              value2 : '4',
             },
               {
              id:5,
              value : 'Sanction',
              value2 : '5',
             },
              
        ],
        constattypes: [
               {
              id:1,
              value : 'Process',
          },
             {
              id:2,
              value : 'Posture',
          },
        ],
        constattype : [],
      qualiticiens : [],
      qualiticien : '',
      calibrage: [],
      service : '',
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      ifqual : true,
      calibarges : [
          {
              id:1,
              value : 'OUI',
              value2 : '1',
          },
             {
              id:2,
              value : 'NON',
              value2 : '0',
          },

      ],
      action : '',
      role : '',
      date_time_constat : '',
      date_time_action : '',
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
    }
  },
  computed: {
       serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
      supsOptions() {
   if (this.activiteId) {
        const ac = this.sups.filter(x => x.activity === this.activiteId.activite)
        return ac
      }
      return []
      },
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
  },
  created() {

      this.role = this.userData.role
      axios
      .get(`/api/contstat/getedetails/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      }).then(response=>{
         
         this.partageAVIS = response.data.avis
           this.sup = response.data.sup
           this.nom = response.data.nom
           this.clientId =response.data.client_id
           this.agentId = response.data.agent
           this.qualiticien = response.data.qualiticien
           this.activiteId =response.data.constat_activite
           this.service =response.data.service
           this.indice= response.data.indice_tel
           this.date = response.data.date_appel
           this.commentaireConstat =response.data.commentaire_constat
           this.constattype = response.data.type_constat
           this.deadlineConstat =response.data.deadeline_constat
           this.statut = response.data.statut,
           this.img_url = response.data.url_file
          this.actionPre = response.data.action
          this.date_time_constat = response.data.date_time_constat
          this.date_time_action = response.data.date_time_action
          this.deadlineActionPre = response.data.deadeline_action
          this.commentaireActionPre = response.data.commentaire_action
          const audio = response.data.url_file.split('.').reverse()[0]
           if(audio=== 'mp3' || audio=== 'wav' ) {
               this.ifaudio = true
           }

 
          
      })
         axios
      .get('/api/staff/sups', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.sups = response.data
      })
       axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.qualiticiens = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
      vider(){
          this.serviceId = null
          this.calibrage = null
          this.date = null
this.activiteId= null
this.indice = null
this.qualiticien = null
this.clientId = null
this.satcli = null
this.oad = null
this.synthese = null
this.agentId = null
this.sim = null
this.malus = null






      },
    handeaconchange() {
      this.serviceId = null
    },
 sendData(){

 if (!this.action || !this.deadlineAction) { 
  if (!this.deadlineAction) {
          this.$swal({
            text: "vous devez selectionner une date limite du l'action !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.action) {
          this.$swal({
            text: "vous devez selectionner une action !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
 }
    else {
        this.sendRequest()
      }
 },
    handleServiceChange() {

    },
    sendRequest() {
  
      this.sending = true
      axios
        .post(
          '/api/contstat/action/save',
          {
            action: this.action.value,
            deadlineAction: this.deadlineAction.value,
            supId: this.userData.userId,
            constatId: this.$route.params.id,
            commentaireAction: this.commentaireAction,
            partage : this.partage,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if(response.data == 'dead'){
            this.sending = false
              this.$swal({
              text: 'vous ne pouvez pas traiter le constat ! vous avez depassé la date limite du traitement ',
              icon: 'danger',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            })
          }
          else {
            this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Action a éte enregistré avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
               this.$router.go(0)
            })
            this.statut=reponse.data
          }
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";

    .disabled {
      pointer-events:none;
      color: #bfcbd9;
      cursor: not-allowed;
      background-image: none;
      background-color: #eef1f6;
      border-color: #d1dbe5;   
    }

</style>
