<template>
  <div>
   
    <b-card>
      <b-row>
            <b-col md="4">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activiteId"
              item-text="activite"
              item-value="id"
              label="nom"
              :options="activites"
              @input="handeaconchange"
              :disabled="true"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
           <b-col md="4">
          <b-form-group label="Service :" label-for="i-service">
            <v-select
              v-model="service"
              id="i-service"
    
              label="nom"
              :disabled="true"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
         <b-col md="4">
          <b-form-group label="Date de l'appel :" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
              :disabled="true"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
         <b-row>
        <b-col md="4">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" :disabled="true" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
   
        <b-col md="4">
          <b-form-group label="Evaluateur :" label-for="i-qual">
            <v-select
              :options="qualiticiens"
              id="i-agent"
              label="nom"
              v-model="qualiticien"
              :disabled="true"
            >
              <span slot="no-options">
                aucun qualiticien
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        
        
        <b-col md="4">
          <b-form-group label="Type de constat :" >
            <v-select
              :options="constattypes"
              id="i-agent"
              label="value"
              v-model="constattype"
              :disabled="true"
            >
            </v-select>
          </b-form-group>
        </b-col>
      </b-row>
        <b-row>
          <b-col md="4">
<b-form-group label="Objet de mail :" label-for="i-agent">
 <b-form-input

                :disabled="true"
            v-model="nom"
                    placeholder=""
                  />

</b-form-group>  
          </b-col>
          <b-col md="4">
          <b-form-group label="Téléconseiller :" label-for="i-agent">
            <v-select
              :options="serviceAgents"
              id="i-agent"
              label="nom"
              :disabled="true"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
           <b-col md="4">
                <b-form-group label="Superviseur  :" >
               <v-select
              id="i-agent"
              label="nom"
              multiple
              v-bind:class="true"
              v-model="sup"
              >
              
            </v-select>
             </b-form-group >
           </b-col>
      </b-row>
      <b-row>
             <b-col md="6">
                         <label
              for="i-sim"
              class="px-1"
         
            >
              Commentaire du constat *:
            </label>
            
            <b-form-textarea id="textarea-default" rows="4" class="mt-2" v-model="commentaireConstat"
            :disabled="true"
          /></b-col>
          <b-col md="6">
                      <label
              for="i-sim"
              class="px-1"
         
            >
              Piece jointe :
            </label>
                <b-img thumbnail fluid class="mt-4 ml-4" :src="constat_client_url" style="max-width:100% ; max-height:60%; " >

                </b-img>
          </b-col>
      </b-row>
        <b-row>
             <b-col md="6">
                         <label
              for="i-sim"
              class="px-1"
         
            >
              Retour sup*:
            </label>
            
            <b-form-textarea id="textarea-default" rows="4" class="mt-2" v-model="commentaireSup"
            :disabled="true"
          /></b-col>
          <b-col md="6">
                      <label
              for="i-sim"
              class="px-1"
         
            >
              Piece jointe :
            </label>
                <b-img thumbnail fluid class="mt-4 ml-4" :src="retour_sup_url" style="max-width:100% ; max-height:60%; " >

                </b-img>
          </b-col>
      </b-row>
    </b-card>

  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormFile,
  BImg,
  BFormCheckbox,
} from 'bootstrap-vue'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import { quillEditor } from 'vue-quill-editor'
import { VueEditor } from 'vue2-editor'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    BFormFile,
    quillEditor,
    VueEditor,
    BImg,
    },
  directives: {
    Ripple,
  },
  data() {
    return {
        retour_sup_url: '',
        service :'',
        constat_url: '',
         content: '<h2>I am Example</h2>',
        file : '',
        nom: '',
        supC : [],
        sups : [],
        sup : [],
        commentaireConstat : '',
        retourSuperviseur : '',
        commentaireAction : '',
        deadlineConstat: [

        ],
        deadlineAction: [

        ],

        deadlines: [
              {
              id:1,
              value : '1 Jour',
              value2 : '1',
             },
               {
              id:2,
              value : '2 Jours',
              value2 : '2',
             },
               {
              id:3,
              value : '3 Jours',
              value2 : '3',
             },
               {
              id:4,
              value : '1 Semaine',
              value2 : '4',
             },
               {
              id:5,
              value : '2 Semaines',
              value2 : '5',
             },

            
        ],
        actions: [
             {
              id:1,
              value : 'Debriefe',
             },
               {
              id:2,
              value : 'Atelier',
             },
               {
              id:3,
              value : 'Mise en binome',
              value2 : '3',
             },
               {
              id:4,
              value : 'Picking',
              value2 : '4',
             },
               {
              id:5,
              value : 'Sanction',
              value2 : '5',
             },
              
        ],
        constattypes: [
               {
              id:1,
              value : 'Process',
          },
             {
              id:2,
              value : 'Posture',
          },
            {
              id:3,
              value : 'Posture et  Process',
              
          },
             {
              id:4,
              value : 'SI',
          }
        ],
    fileRouteurSup: '',
      constattype : [],
      qualiticiens : [],
      qualiticien : '',
      calibrage: [],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      comment: '',
      qualiticiensC : [],
      constat_client_url : '',
      action : '',
      selectedSites: '',
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
      sites: [
        {
          title: 'TA',
          id: 1,
        },
        {
          title: 'TE',
          id: 2,
        },
        {
          title: 'HO ',
          id: 3,
        },
        {
         title:'BDX',
         id:4
        },
            {
         title:'NSL',
         id:4
        },
      ],
    }
  },
  computed: {
       serviceAgents() {
        if (this.serviceId) {
          console.log(this.serviceId.id)
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
      supsOptions() {
   if (this.activiteId) {

    const ac = [];
    this.sups.forEach(x=>{
      x.activitys.forEach(y=>{
         if(y.id === this.activiteId.id) {
           ac.push(x)
         }
      })
    })
     return ac 
      }
      },
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
  },
  created() {
      this.getConstat()
         axios
      .get('/api/staff/sups2', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.sups = response.data
      })
       axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.qualiticiens = response.data
      })
    axios
      .get('/api/grille/getactivities', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data
      })
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
  },
  methods: {
          getConstat(){
           axios
      .get(`/api/coustumer/feedback/getedetails/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      }).then((response)=>{
          this.constat_url = response.data.url
          this.activiteId =response.data.activite_id
          this.service = response.data.service_id
          this.date = response.data.date_appel
          this.indice =response.data.indice_tel
          this.clientId = response.data.client_id
          this.qualiticien = response.data.qualiticien
          this.constattype = response.data.type_constat
          this.nom = response.data.nom
          this.agentId = response.data.agent
          this.sup = response.data.sup
          this.commentaireConstat = response.data.commentaire_constat
          this.constat_client_url = response.data.constat_client_url
          this.retour_sup_url = response.data.retour_sup_url
          this.commentaireSup = response.data.retour_superviseur
        //     this.sup = response.data.sup
        //    this.nom = response.data.nom
        //    this.clientId =response.data.client_id
        //    this.agentId = response.data.agent
        //    this.qualiticien = response.data.qualiticien
        // //    this.activiteId =response.data.constat_activite
        // this.serviceId =response.data.service
        //    this.indice= response.data.indice_tel
        //    this.date = response.data.date_appel
        //    this.file =response.data.retour_superviseur
        //    this.constattype = response.data.type_constat
        //    this.constat_url = response.data.constat_url
        //    this.deadlineConstat =response.data.deadeline_constat
        //    this.statut = response.data.statut,
        //    this.img_url = response.data.url_file
        //   this.actionPre = response.data.action
        //   this.deadlineActionPre = response.data.deadeline_action
        //   this.commentaireActionPre = response.data.commentaire_action
      })
      },
         onEditorChange({ quill, html, text }) {
      
        this.file = html
      },
           onEditorChange2({ quill, html, text }) {
      
        this.fileRouteurSup = html
      },

      vider(){
          this.serviceId = null
          this.calibrage = null
          this.date = null
this.activiteId= null
this.indice = null
this.qualiticien = null
this.clientId = null
this.satcli = null
this.oad = null
this.synthese = null
this.agentId = null
this.sim = null
this.malus = null






      },
    handeaconchange() {
      this.serviceId = null
    },
 sendData(){

 if (!this.activiteId || !this.serviceId || !this.clientId || !this.indice || !this.date   || !this.constattype  || !this.sup || ! this.agentId ) { 
  if (!this.activiteId) {
          this.$swal({
            text: "vous devez selectionner une activite !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.serviceId) {
          this.$swal({
            text: "vous devez selectionner un service !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
                 if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if(!this.constattype) {
             this.$swal({
            text:
              "vous devez selectionner le type de constat !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if(!this.deadlineConstat) {
                  this.$swal({
            text:
              "vous devez selectionner le deadeline du constat  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
          if(!this.agentId) {
                  this.$swal({
            text:
              "vous devez selectionner l'agent  !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
           if(!this.sup) {
                  this.$swal({
            text:
              "vous devez selectionner le superviseur !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
 }
    else {
        this.sendRequest()
      }
 },
    handleServiceChange() {

    },
    sendRequest() {

     this.sending = true
      let formData = new FormData();
      formData.append('activiteId', this.activiteId.id);
      formData.append('serviceId', this.serviceId.id);
      formData.append('indice', this.indice);
      formData.append('agentId', this.agentId.id);
      formData.append('clientId', this.clientId);
      formData.append('date', this.date);
      formData.append('nom', this.nom);
      formData.append('constattype', this.constattype.value);
      formData.append('commentaireConstat', this.commentaireConstat);
      formData.append('retourSuperviseur', this.retourSuperviseur);
      formData.append('sup',JSON.stringify(this.sup));
    formData.append('site', this.selectedSites.title);
      formData.append('qualiticien', this.userData.userId);
      formData.append('file', this.file);
       formData.append('fileRouteurSup', this.fileRouteurSup);

      axios
        .post(
          '/api/coustumer/feedback/save',formData,
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
    this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Constat ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
            this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })
    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
