<template>
<b-row>
  <b-col md="12">
    <b-card>
    <b-card-title class="mb-1">
      Moyenne des notes par partie<br />
      <h6>Moyenne totale: {{ moyenne() }} %</h6>
    </b-card-title>
    <vue-apex-charts
      type="bar"
      height="350"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</b-col>
</b-row>
</template>

<script>
import { BCard, BCardTitle,BCol,BRow } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
    BCol,
    BRow,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    toPDF: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
          toolbar: {
            show: true,
            offsetX: -15,
            offsetY: -30,
            export: {
              csv: {
                filename: 'moyenne_par_element',
              },
              svg: {
                filename: 'moyenne_par_element',
              },
              png: {
                filename: 'moyenne_par_element',
              },
            },
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '65%',
            endingShape: 'rounded',
          },
        },

        annotations: {
          yaxis: [
            {
              y: 85,
              borderColor: '#f70019',
              strokeDashArray: 0,
              label: {
                text: '85%',
                style: {
                  fontSize: '15px',
                  color: '#fff',
                  background: '#f70019',
                },
              },
            },
          ],
        },
        colors: [
          $themeColors.success,
          $themeColors.info,
          $themeColors.warning,
          $themeColors.secondary,
          $themeColors.danger,
        ],
        dataLabels: {
          position: 'top',
          enabled: false,
          formatter: val => `${val}%`,
          style: {
            fontSize: '15px',
            colors: ['black'],
          },
          offsetY: 100
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent'],
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              fontSize: '11px',
              fontWeight: 600,
            },
          },
        },
        yaxis: {},
        fill: {
          opacity: 1,
        },
        tooltip: {
          y: {
            formatter: val => `${val} %`,
          },
        },
      },
    }
  },
  created() {
    if (typeof this.data.height !== 'undefined') {
      this.chartOptions.chart.height = this.data.height
    }
    if (this.toPDF) {
      this.chartOptions.xaxis.labels.style = {
        fontSize: '6px',
        fontWeight: 800,
      }
      this.chartOptions.chart.toolbar.show = false
    }
    this.chartOptions.xaxis.categories = this.data.data.map(x =>
      x.split(/(\s+)/).filter(e => e.trim().length > 0),
    )
  },
  methods: {
    moyenne() {
      var m = 0
      var i = 0
      const n = this.data.series[0].data.length
      for (i = 0; i < n; i++) {

       m = m + this.data.series[0].data[i]  + this.data.series[3].data[i] + this.data.series[4].data[i]
      }
      return (m / n).toFixed(2)
    },
  },
}
</script>
