<template>
  <b-card>
    <b-card-title>
      Nombre des constats effectués par évaluateur
    </b-card-title>
    <vue-apex-charts
      :height="chartOptions.chart.height"
      :options="chartOptions"
      :series="data.series"
    />
  </b-card>
</template>
<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          height: 280,
          type: 'bar',
          toolbar: {
            show: true,
            offsetX: 10,
            offsetY: -50,
            export: {
              csv: {
                filename: 'nbr_constats_par_évaluateur',
              },
              svg: {
                filename: 'nbr_constats_par_évaluateur',
              },
              png: {
                filename: 'nbr_constats_par_évaluateur',
              },
            },
          },
          events: {},
        },
        colors: [],
        plotOptions: {
          bar: {
            borderRadius: 6,
            columnWidth: '45%',
            distributed: true,
          },
        },
        dataLabels: {
          enabled: true,
        },
        legend: {
          show: false,
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              fontSize: '12px',
            },
          },
        },
        yaxis: {
          labels: {
            formatter: val => val.toFixed(0),
          },
        },
      },
    }
  },
  created() {
    console.log(this.data)
    const colors = Object.values($themeColors)
    this.chartOptions.colors = colors
    this.chartOptions.xaxis.categories = this.data.data.map(x => x.split(/(\s+)/).filter(e => e.trim().length > 0))
    if (typeof this.data.height !== 'undefined') {
      this.chartOptions.chart.height = this.data.height
    }
  },
}
</script>
