<template>
  <b-card no-body>
    <b-card-title class="p-1">
      {{ data.title }}
    </b-card-title>
    <vue-apex-charts
      :height="chartOptions.chart.height"
      :options="chartOptions"
      :series="data.series"
      style="margin-right: 3%"
    />
  </b-card>
</template>
<script>
import { BCard, BCardTitle } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'

export default {
  components: {
    VueApexCharts,
    BCard,
    BCardTitle,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    toPDF: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      chartOptions: {
        chart: {
          height: '185',
          type: 'bar',
          toolbar: {
            show: true,
            offsetX: -15,
            offsetY: -50,
            export: {
              csv: {
                filename: undefined,
              },
              svg: {
                filename: undefined,
              },
              png: {
                filename: undefined,
              },
            },
          },
          events: {},
        },
        annotations: {
          yaxis: [
            {
              y: 85,
              borderColor: '#f70019',
              strokeDashArray: 0,
              label: {
                text: '85%',
                style: {
                  fontSize: '15px',
                  color: '#fff',
                  background: '#f70019',
                },
              },
            },
          ],
        },
        colors: [
          ({ value }) => {
            if (value < 85) {
              return '#e3546c'
            }
            return '#5cd17b'
          },
        ],
        plotOptions: {
          bar: {
            borderRadius: 6,
            columnWidth: '80%',
            distributed: true,
              dataLabels: {
        position: 'center' // bottom/center/top
      }
          },
        },
        dataLabels: {
    
      offsetY: 15,
          enabled: true,
          formatter: val => `${val}`,
          style: {
            fontSize: '12px',
            colors: ['#fff'],
          },
        },
        legend: {
          show: false,
        },
        xaxis: {
          categories: [],
          labels: {
            style: {
              fontSize: '12px',
            },
          },
        },
        tooltip: {
          y: {
            formatter: val => `${val}`,
          },
        },
      },
    }
  },
  created() {
    this.chartOptions.xaxis.categories = this.data.data.map(x => x.split(/(\s+)/).filter(e => e.trim().length > 0))
    this.chartOptions.chart.toolbar.export.csv.filename = this.data.title
    this.chartOptions.chart.toolbar.export.png.filename = this.data.title
    this.chartOptions.chart.toolbar.export.svg.filename = this.data.title
    if (typeof this.data.height !== 'undefined') {
      this.chartOptions.chart.height = this.data.height
    }
    if (this.toPDF) {
      this.chartOptions.chart.height = 200
      this.chartOptions.chart.toolbar.show = false
    }
  },
}
</script>
