<template>
  <div>
    <b-card class="m-auto w-8">
      <b-row
        ><b-col md="">
          <b-form-group label="Activité :" label-for="i-activite">
            <v-select
              id="i-activite"
              v-model="activites"
              item-text="nom"
              item-value="id"
             :disabled="true"
              label="activite"
            >
              <span slot="no-options">
                aucune activité
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Service :" label-for="i-service">
            <v-select
              v-model="service"
              id="i-service"
              :disabled="true"
              label="nom"
            >
              <span slot="no-options">
                aucun service
              </span>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group label="Date de l'appel :" label-for="datepicker">
            <b-form-datepicker
              id="datepicker"
              v-model="date"
              class="mb-2"
              label-help=""
              placeholder="Choisissez une date"
              :max="maxDate"
            >
            </b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-group label="Indice / Tél :" label-for="i-indice">
            <b-form-input id="i-indice" autocomplete="off" v-model="indice" />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="ID client / Nc :" label-for="i-client">
            <b-form-input id="i-client" autocomplete="off" v-model="clientId" />
          </b-form-group> </b-col
        ><b-col md="3">
          <b-form-group label="Téléconseiller :" label-for="i-agent">
            <v-select
              :options="this.agents"
              id="i-agent"
              label="nom"
              v-model="agentId"
            >
              <span slot="no-options">
                aucun agent
              </span>
            </v-select>
          </b-form-group>
        </b-col>
          <b-col

      md="3" 
    >
      <b-form-group
        label="Durée d'appel "
        label-for="Durée d'appel "
      >
        <cleave
          id="time"
          v-model="dap"
          class="form-control"
          :raw="false"
          :options="time"
          placeholder="hh:mm:ss"
        />
      </b-form-group>
    </b-col>
      </b-row>
    </b-card>
    <br /><br />
    <span >

      <span v-for="(item, index) in items" :key="index">
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie"></b-card>
        <eval-form :elements="item.elements" />
      </span>
      <br />
          <b-card class="m-auto w-8">
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select v-model="satcli" id="i-satcli">
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select v-model="oad" id="i-oad">
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select v-model="pcc" id="i-pcc">
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input id="i-exci" v-model="exci" autocomplete="off" />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea id="textarea-default" rows="4" v-model="synthese"
          /></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button
              v-if="sim"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-danger"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: 0
            </b-button>
         
          </b-col>
        </b-row>
      </b-card> 
         <b-button
              
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              class="mt-1"
              style="cursor: default; margin-left: 46%"
            >
              Résultat: {{   Number.parseFloat(cnoteg).toFixed(0)}} %
            </b-button>
      <b-row class="mb-5 d-flex justify-content-center">
        <b-col class="mt-1" md="5">
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="sendData"
            style="width:100%"
          >
            <span v-if="sending"
              ><b-spinner small type="grow"></b-spinner>En cours d'envoi
              ...</span
            >
            <span v-else>
               Terminer  
            </span>
          </b-button>
        </b-col>
      </b-row>
    </span>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormTextarea,
  BFormDatepicker,
  BFormSelect,
  BFormSelectOption,
  BButton,
  BSpinner,
  BFormCheckbox,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import axios from 'axios'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'
import EvalForm from './EvalForm.vue'
import Cleave from 'vue-cleave-component'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormTextarea,
    BFormDatepicker,
    BFormSelect,
    EvalForm,
    BFormSelectOption,
    BButton,
    BSpinner,
    BFormCheckbox,
    Cleave,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
       time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        service : [],
      activiteId: null,
      serviceId: null,
      indice: null,
      clientId: null,
      date:null,// new Date().toISOString().split('T')[0],
      satcli: null,
      oad: null,
      exci: null,
      pcc: null,
      synthese: null,
      agentId: null,
      activites: [],
      agents: [],
      items: null,
      checkServiceGrid: false,
      sending: false,
      sim: false,
      noteg: null,
      malus: 0,
      maxDate: new Date(),
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
      dap : '',
    }
  },
  computed: {
    serviceoptions() {
      if (this.activiteId) {
        const ac = this.activites.find(x => x.id === this.activiteId.id)
        return ac.services
      }
      return []
    },
    weekofyear() {
      var now = new Date(this.date)
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
    cnoteg() {
      var re = null
        this.items.forEach(x=> {
          x.elements.forEach(y=>{
            if (y.note === 'AQ' || y.note === 'NA') {
            
               re += y.bareme
            }
             if (y.note === 'PA') {
          
              re += (y.bareme/2)
            }
          })
        })
          return re
    },
    resuvar() {
      if (this.cnoteg > 85) {
        return 'outline-success'
      }
       if (this.cnoteg == 50.00) {
        return 'outline-info'
      }
      if (this.cnoteg > 50 && this.cnoteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },
    serviceAgents() {
        if (this.serviceId) {
          // console.log(this.serviceId)
           if (this.serviceId.id==41) {
          const agents = this.agents.filter(agent => agent.service === 9)
          return agents
        }
            if (this.serviceId.id==45) {
          const agents = this.agents.filter(agent => agent.service === 20) // mm entrant
          return agents
        }
           if (this.serviceId.id==44) {
          const agents = this.agents.filter(agent => agent.service === 21) // mm sortant
          return agents
        }
            if (this.serviceId.id==43) {
          const agents = this.agents.filter(agent => agent.service === 22) // mm reclamation
          return agents
        }
          if (this.serviceId.id==40) {
          const agents = this.agents.filter(agent => agent.service === 36) // mm reclamation
          return agents
        }
         else{ const agents = this.agents.filter(agent => agent.service === this.serviceId.id)
          return agents
         }
        }
        return []
    },
    console: () => console,
  },
  created() {
      this.handleServiceChange()
    axios
      .get('/api/grille/getactivities4', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.activites = response.data.activity
       this.service = response.data.services.find(x=>x.id == 66)
    
      })
    axios
      .get('/api/agents/getall/agentEscda', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        
        this.agents = response.data

      })
  },
  methods: {
    handeaconchange() {
      this.serviceId = null
    },
    sendData() {
      
      // verification que tous les elements ont une note
      var notetest = false
      this.items.forEach(x => {
        x.elements.forEach(y => {
          if (typeof y.note === 'undefined') {
            notetest = true
          }
        })
      })
      // verification des données
      if (!this.agentId || !this.indice || !this.clientId || notetest || !this.date || !this.dap) {
        if (!this.agentId) {
          this.$swal({
            text: "vous n'avez pas encore sélectionné l'agent !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.clientId) {
          this.$swal({
            text: "vous n'avez pas encore saisi l' ID du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (!this.indice) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi l'indice et le telephone du client !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
        if (notetest) {
          this.$swal({
            title: 'Attention !',
            text: 'vous devez evaluer tous les éléments!',
            icon: 'warning',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          })
        }
        if (!this.date) {
          this.$swal({
            text:
              "vous n'avez pas encore choisi la date de l'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
         if (!this.dap) {
          this.$swal({
            text:
              "vous n'avez pas encore saisi la durée d'appel !",
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            buttonsStyling: false,
          })
        }
      } else if (this.sim) {
        this.$swal({
          title: 'Êtes-vous sûr?',
          text:
            "vous avez marqué que cette evaluation à une situation inacceptable majeure ! le téléconseiller aura automatiquement '0'",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'continuer',
          cancelButtonText: 'annuler',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            this.sendRequest()
          }
        })
      } else {
        this.sendRequest()
      }
    },
    handleServiceChange() {
      // check if this.serviceId is not null
      this.items = null
  

       
          
              axios
                .get('/api/eval/grid/66', {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${this.userToken}`,
                  },
                })
                .then(res => {
                  this.items = res.data
                })

           
      
      
    },
    sendRequest() {
      this.sending = true
      axios
        .post(
          '/api/eval/save/laredouteescda',
          {
            activite_id : this.service.activite_id,
            ervice_id :this.service.id,
            indice: this.indice,
            clientId: this.clientId,
            date: this.date,
            satcli: this.satcli,
            oad: this.oad,
            exci: this.exci,
            pcc: this.pcc,
            synthese: this.synthese,
            agentId: this.agentId.id,
            items: this.items,
            qualiticienId: 1,
            weekofyear: this.weekofyear,
            sim: this.sim,
            malus: this.malus,
            qualiticien: this.userData.userId,
            role: this.userData.role,
            dap : this.dap
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          this.sending = false
          if (response.status === 200) {
            this.$swal({
              text: 'Évaluation ajoutée avec succès',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
            }).then(() => {
               this.$router.go(0)
            })
          }
        })
        .catch(error => {
          this.sending = false
          if (error.response) {
            if (error.response.status) {
              this.$swal({
                text:
                  "Une erreur s'est produite. Veuillez réessayer ultérieurement.",
                customClass: {
                  confirmButton: 'btn btn-danger',
                },
                buttonsStyling: false,
              })
            }
          }
        })


    



    },
    addToNoteg(bareme) {
      this.noteg += bareme
    },
    subfromNoteg(bareme) {
      this.noteg -= bareme
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
