<template>
  <div>
    <span v-if="service === null">
      <b-card class="text-center d-flex justify-content-between">
        <b-spinner
          variant="primary"
          style="width: 6rem; height: 6rem;"
          class="m-auto"
        />
      </b-card>
    </span>
    <span v-else>
      <b-card class="m-auto w-8">
        <b-row>
          <b-col>
            <b-button
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              :variant="resuvar"
              :pressed="true"
              style="cursor: default"
            >
              Résultat: {{ noteg }}
            </b-button>
          </b-col>
          <b-col>
            <b-button
              v-if="userData.role === 'admin'"
              class="float-right"
              id="toggle-btn"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-primary"
              @click="triggerHeaderModal"
            >
              Modifier <feather-icon icon="EditIcon" />
            </b-button>
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col md="4">
            <b-form-group label="Service :" label-for="i-service">
              <b-form-input
                id="i-service"
                autocomplete="off"
                v-model="service"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Date de l'appel:" label-for="datepicker">
              <b-form-datepicker
                id="datepicker"
                ref="datepicker"
                v-model="dateAppel"
                class="mb-2"
                readonly
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Date d'évaluation:" label-for="datepickereval">
              <b-form-datepicker
                id="datepickereval"
                ref="datepickereval"
                v-model="dateEval"
                class="mb-2"
                readonly
              >
              </b-form-datepicker>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4">
            <b-form-group label="Indice / Tél :" label-for="i-indice">
              <b-form-input
                id="i-indice"
                ref="indice"
                autocomplete="off"
                v-model="indice"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="ID client / Nc :" label-for="i-client">
              <b-form-input
                id="i-client"
                ref="client"
                autocomplete="off"
                v-model="clientId"
                readonly
              />
            </b-form-group> </b-col
          ><b-col md="4">
            <b-form-group label="Téléconseiller :" label-for="i-agent">
              <v-select
                ref="agent"
                :options="agents"
                id="i-agent"
                v-model="agentId"
                label="nom"
                disabled
              />
            </b-form-group>
          </b-col>
        </b-row>
      </b-card>
      <span v-for="(item, index) in items" :key="index">
        <br />
        <b-card class="p-0 mb-0 rounded-0" :title="item.partie">
          <b-row
            class=" border-bottom"
            v-for="(element, index) in item.elements"
            :key="index"
          >
            <b-col md="3">
              <p class="font-weight-bold" style="margin-top:3%">
                {{ element.nom }}
              </p>
            </b-col>
            <b-col md="3">
              <p class="font-weight-bold" style="margin-top:3%">
                <span class="mr-2"> Noté:</span>
                <span v-if="element.note === 'AQ'">
                  <b-button
                    variant="outline-success"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >EXCELLENT</b-button
                  >
                </span>
       
                <span v-else-if="element.note === 'NAQ'">
                  <b-button
                    variant="outline-danger"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >MOYEN</b-button
                  >
                </span>
                     <span v-else-if="element.note === 'PA'">
                  <b-button
                    variant="outline-info"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >BON</b-button
                  >
                </span>
    
                <span v-else-if="element.note === 'SI'">
                  <b-button
                    variant="outline-danger"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >SI</b-button
                  >
                </span>
                  <span v-else-if="element.note === 'NA'">
                  <b-button
                    variant="outline-secondary"
                    :pressed="true"
                    size="sm"
                    style="cursor: default"
                    >MAUVAIS</b-button
                  >
                </span>
              </p>
            </b-col>
            <b-col md="3">
              <p class="font-weight-bold" style="margin-top:3%">
                <span class="mr-2">Commentaire:</span>
                <span v-if="element.comment !== null">{{
                  element.comment
                }}</span>
                <span v-else>
                  <feather-icon icon="SlashIcon" size="20" />
                </span>
              </p>
            </b-col>
            <b-col md="1">
              <b-button
                v-if="userData.role === 'admin'"
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="flat-dark"
                @click="triggerItemModal(element)"
                ><feather-icon icon="EditIcon" size="25"
              /></b-button>
            </b-col>
            <b-col md="1">
              <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                variant="flat-dark"
                @click="triggersidebar(element)"
                ><feather-icon icon="InfoIcon" size="25"
              /></b-button>
            </b-col>
          </b-row>
        </b-card>
      </span>
      <br />
      <b-card class="m-auto w-8">
        <b-row>
          <b-col>
            <b-button
              v-if="userData.role === 'admin'"
              class="float-right"
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="outline-primary"
              @click="triggerFooterModal"
            >
              Modifier <feather-icon icon="EditIcon" />
            </b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4">
            <b-form-group
              label="Satcli evaluée en interne :"
              label-for="i-satcli"
            >
              <b-form-select
                v-model="satcli"
                id="i-satcli"
                disabled
                style="color: black"
              >
                <b-form-select-option value="1">Satisfait</b-form-select-option>
                <b-form-select-option value="0"
                  >Insatisfait</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Once & donce :" label-for="i-oad">
              <b-form-select
                v-model="oad"
                id="i-oad"
                disabled
                style="color: black"
              >
                <b-form-select-option value="1"
                  >Le client va rappeler</b-form-select-option
                >
                <b-form-select-option value="0"
                  >Le client ne va pas rappeler</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Prise en charge du contact :"
              label-for="i-pcc"
            >
              <b-form-select
                v-model="pcc"
                id="i-pcc"
                disabled
                style="color: black"
              >
                <b-form-select-option value="ba"
                  >Le client est bien accompagné</b-form-select-option
                >
                <b-form-select-option value="ma"
                  >Le client est mal accompagné</b-form-select-option
                >
                <b-form-select-option value="si"
                  >Situation inacceptable</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group
              label="Expérience Client de l'interaction :"
              label-for="i-exci"
            >
              <b-form-input
                id="i-exci"
                v-model="exci"
                autocomplete="off"
                readonly
              />
            </b-form-group>
          </b-col>
          <b-col md="4" v-if="activiteId === 7">
            <b-form-group label="Malus :" label-for="malus">
              <b-form-select disabled class="text-danger" v-model="malus" id="malus">
                <b-form-select-option v-for="n in range(280)" :key="n" class="text-dark" :value="n"
                  >-{{n}}</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Semaines :" label-for="readOnlyInput">
              <b-form-input
                id="readOnlyInput"
                :value="`S${weekofyear}`"
                readonly
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="5" class="mr-0 ">
            <label
              for="i-sim"
              class="px-1"
              style="backgroundColor: #ff7888; cursor: pointer; font-size: large; color: white"
            >
              Situation Inacceptable Majeure
            </label>
            <b-form-checkbox
              id="i-sim"
              v-model="sim"
              class="custom-control-danger ml-1"
              style="display:inline"
              :value="true"
              switch
              disabled
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label for="textarea-default">Synthèse globale de l'appel:</label>
            <b-form-textarea
              id="textarea-default"
              rows="4"
              v-model="synthese"
              disabled
          /></b-col>
        </b-row>
      </b-card>
      <b-sidebar
        bg-variant="white"
        right
        backdrop
        shadow
        v-model="sidebarvisible"
      >
        <div class="px-2 py-1">
          <h3 v-if="userData.role === 'admin'" class="border-bottom">Barème</h3>
          <p v-if="userData.role === 'admin'" >{{ temp_item.bareme }}</p>
          <h3 class="border-bottom">ACQUIS</h3>
          <p>{{ temp_item.g_ok }}</p>
          <h3 class="border-bottom">PARTIELE</h3>
          <p>{{ temp_item.g_pa }}</p>
          <h3 class="border-bottom">NON ACQUIS</h3>
          <p>
            {{ temp_item.g_ko }}
          </p>
          <h3 class="border-bottom">N/A</h3>
          <p>
            {{ temp_item.g_na }}
          </p>
          <h3 class="border-bottom">SI</h3>
          <p>
            {{ temp_item.g_si }}
          </p>
        </div>
      </b-sidebar>
      <b-modal
        id="modal-header"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Annuler"
        centered
        title="Modification"
        v-model="headerModal"
        @ok="handleEditHeader"
      >
        <b-form-group label="Téléconseiller :" label-for="i-eagent">
          <v-select
            ref="eagent"
            :options="agents"
            id="i-eagent"
            v-model="tempHeaderData.agentId"
            label="nom"
          />
        </b-form-group>
        <b-form-group label="Date de l'appel :" label-for="edatepicker">
          <b-form-datepicker
            id="edatepicker"
            v-model="tempHeaderData.dateAppel"
          >
          </b-form-datepicker>
        </b-form-group>
        <b-form-group label="Date d'évaluation:" label-for="edatepickereval">
          <b-form-datepicker
            id="edatepickereval"
            ref="edatepickereval"
            v-model="tempHeaderData.dateEval"
          >
          </b-form-datepicker>
        </b-form-group>
        <b-form-group label="Indice / Tél :" label-for="i-eindice">
          <b-form-input
            id="i-eindice"
            ref="eindice"
            autocomplete="off"
            v-model="tempHeaderData.indice"
          />
        </b-form-group>
        <b-form-group label="ID client / Nc :" label-for="i-eclient">
          <b-form-input
            id="i-eclient"
            ref="eclient"
            autocomplete="off"
            v-model="tempHeaderData.clientId"
          />
        </b-form-group>
      </b-modal>
      <b-modal
        id="modal-footer"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Annuler"
        centered
        title="Modification"
        v-model="footerModal"
        @ok="handleEditFooter"
      >
        <b-form-group label="Satcli evaluée en interne :" label-for="i-esatcli">
          <b-form-select
            v-model="footerTempData.satcli"
            id="i-esatcli"
            style="color: black"
          >
            <b-form-select-option value="1">Satisfait</b-form-select-option>
            <b-form-select-option value="0">Insatisfait</b-form-select-option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Once & donce :" label-for="i-eoad">
          <b-form-select v-model="footerTempData.oad" id="i-eoad">
            <b-form-select-option value="1"
              >Le client va rappeler</b-form-select-option
            >
            <b-form-select-option value="0"
              >Le client ne va pas rappeler</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
        <b-form-group label="Prise en charge du contact :" label-for="i-epcc">
          <b-form-select v-model="footerTempData.pcc" id="i-epcc">
            <b-form-select-option value="ba"
              >Le client est bien accompagné</b-form-select-option
            >
            <b-form-select-option value="ma"
              >Le client est mal accompagné</b-form-select-option
            >
            <b-form-select-option value="si"
              >Situation inacceptable</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
        <b-form-group
          label="Expérience Client de l'interaction :"
          label-for="i-eexci"
        >
          <b-form-input
            id="i-eexci"
            v-model="footerTempData.exci"
            autocomplete="off"
          />
        </b-form-group>
        <b-form-group v-if="activiteId === 7" label="Malus :" label-for="malustemp">
            <b-form-select class="text-danger" v-model="malusTemp" id="malustemp">
            <b-form-select-option v-for="n in range(280)" :key="n" class="text-dark" :value="n"
                >-{{n}}</b-form-select-option
            >
            </b-form-select>
        </b-form-group>
        <b-form-group>
          <label for="i-esim" class="px-1" style="font-size: 14px">
            Situation Inacceptable Majeure
          </label>
          <b-form-checkbox
            id="i-esim"
            v-model="footerTempData.sim"
            class="custom-control-danger ml-1"
            name="check-button"
            style="display:inline"
            switch
          />
        </b-form-group>
        <b-form-group>
          <label for="textarea-default">Synthèse globale de l'appel:</label>
          <b-form-textarea
            id="textarea-default"
            rows="4"
            v-model="footerTempData.synthese"
          />
        </b-form-group>
      </b-modal>
      <b-modal
        id="modal-item"
        v-model="itemModal"
        cancel-variant="outline-secondary"
        ok-title="Modifier"
        cancel-title="Annuler"
        centered
        :title="temp_item.nom"
        @ok="handleEditItem"
        ><b-form-group label="Note :" label-for="i-note">
          <b-form-select v-model="temp_item.note" id="i-note">
            <b-form-select-option value="AQ">ACQUIS</b-form-select-option>
            <b-form-select-option value="PA">PARTIELLE</b-form-select-option>
            <b-form-select-option value="NAQ">NON ACQUIS</b-form-select-option>
            <b-form-select-option value="NA">N/A</b-form-select-option>
            <b-form-select-option value="SI">SI</b-form-select-option>
          </b-form-select>
        </b-form-group>
        <b-form-group label="Commentaire :" label-for="i-com">
          <b-form-input
            id="i-com"
            v-model="temp_item.comment"
            autocomplete="off"
          />
        </b-form-group>
      </b-modal>

      <b-modal
        v-model="waiting"
        hide-footer
        hide-header
        hide-header-close
        no-close-on-backdrop
        centered
        ><div class="d-flex justify-content-center ">
          <b-spinner style="width: 3rem; height: 3rem;" variant="primary" />
        </div>
      </b-modal>
    </span>
  </div>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BCard,
  BFormInput,
  BFormDatepicker,
  BButton,
  BFormTextarea,
  BFormCheckbox,
  BFormSelect,
  BFormSelectOption,
  BSidebar,
  BModal,
  BSpinner,
} from 'bootstrap-vue'
import axios from 'axios'
import vSelect from 'vue-select'
import Ripple from 'vue-ripple-directive'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BCard,
    vSelect,
    BFormInput,
    BFormDatepicker,
    BButton,
    BFormTextarea,
    BFormCheckbox,
    BFormSelect,
    BFormSelectOption,
    BSidebar,
    BModal,
    BSpinner,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      dateAppel: null,
      dateEval: null,
      agentId: null,
      agents: [],
      indice: null,
      clientId: null,
      service: null,
      items: [],
      pcc: null,
      weekofyear: null,
      synthese: null,
      sim: false,
      exci: null,
      oad: null,
      satcli: null,
      noteg: null,
      activiteId: null,
      malus: null,
      evalId: this.$route.params.id,
      temp_item: {
        id: null,
        nom: null,
        note: null,
        comment: null,
        g_ko: null,
        g_pa:null,
        g_ok: null,
        g_si: null,
        g_na: null,
        bareme: null,
      },
      sidebarvisible: false,
      headerModal: false,
      footerModal: false,
      itemModal: false,
      tempHeaderData: {},
      // idk why but when i use tempFooterData it doesnot work
      footerTempData: {},
      malusTemp: null,
      waiting: false,
      userToken: useJwt.getToken(),
      userData: {
        role: null,
      }
    }
  },
  computed: {
    resuvar() {
      if (this.noteg > 85) {
        return 'outline-success'
      }
       if (this.noteg == 50.00) {
        return 'outline-info'
      }
      if (this.noteg > 0 && this.noteg < 85) {
        return 'outline-warning'
      }
      return 'outline-danger'
    },
  },
  created() {
    this.userData = JSON.parse(localStorage.getItem('userData'))
    axios
      .get('/api/agents/getall', {
        headers: {
          'Content-Type': 'application/json',
           Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.agents = response.data
      })
    axios
      .get(`/api/eval/laredouteescda/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.indice = response.data.eval.indice_tel
        this.clientId = response.data.eval.client_id
        this.dateAppel = response.data.eval.date_appel
        this.dateEval = response.data.eval.created_at
        this.service = response.data.eval.grille.service.nom
        this.activiteId = response.data.eval.grille.service.activite_id
        //this.activiteId = response.data.eval.grille.service.activite.id
        this.agentId = this.agents.find(
          x => x.id === response.data.eval.agent_id
        )
        this.items = response.data.elements
        this.pcc = response.data.eval.pcc
        this.weekofyear = response.data.eval.semaine
        this.synthese = response.data.eval.synthese
        this.noteg = response.data.eval.note_global
        this.noteg = this.noteg.toFixed(2)
        if (this.noteg === 0) {
          this.sim = true
        }
        this.exci = response.data.eval.exci
        this.oad = response.data.eval.oad
        this.satcli = response.data.eval.satcli
        this.malus = this.noteGlobalwithoutMalus()
      })
  },
  methods: {
    triggersidebar(item) {
      this.temp_item = null
      this.temp_item = item
      this.sidebarvisible = true
    },
    triggerItemModal(item) {
      this.temp_item = null
      this.temp_item = { ...item }
      this.itemModal = true
    },
    triggerHeaderModal() {
      this.tempHeaderData = null
      this.tempHeaderData = {
        dateAppel: this.dateAppel,
        dateEval: this.dateEval,
        agentId: { ...this.agentId },
        indice: this.indice,
        clientId: this.clientId,
      }
      this.headerModal = true
    },
    triggerFooterModal() {
      this.footerTempData = null
      this.footerTempData = {
        synthese: this.synthese,
        sim: this.sim,
        exci: this.exci,
        oad: this.oad,
        satcli: this.satcli,
        pcc: this.pcc,
      }
      this.footerModal = true
    },
    handleEditHeader() {
      this.waiting = true
      axios
        .post(
          '/api/eval/editheader',
          {
            evalid: this.evalId,
            data: this.tempHeaderData,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if (response.status === 200) {
            this.dateAppel = this.tempHeaderData.dateAppel
            this.dateEval = this.tempHeaderData.dateEval
            this.agentId = { ...this.tempHeaderData.agentId }
            this.indice = this.tempHeaderData.indice
            this.clientId = this.tempHeaderData.clientId
            this.waiting = false
          }
        })
    },

    handleEditItem() {

      var checknote = null
      this.waiting = true
      axios
        .post(
          '/api/eval/edititem',
          {
            evalid: this.evalId,
            data: this.temp_item,
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if (response.status === 200) {
            this.items.forEach(x => {
              x.elements.forEach(y => {
                if (y.id === this.temp_item.id) {
                  if (y.note !== this.temp_item.note) {
                    if (
                      (y.note === 'AQ' || y.note === 'NA' ) &&
                      (this.temp_item.note === 'SI' ||
                        this.temp_item.note === 'NAQ' )
                    ) {
                      checknote = 'm'
                    }


                  if (
                      (y.note === 'AQ' ) &&
                      (this.temp_item.note === 'PA' 
                        )
                    ) {
                      checknote = 'p'
                    }

                    if (
                      (y.note === 'SI' || y.note === 'NAQ') &&
                      (this.temp_item.note === 'AQ' ||
                        this.temp_item.note === 'NA')
                    ) {
                      checknote = 'a'
                    }
                    if (
                      (y.note === 'PA' ) &&
                      (this.temp_item.note === 'AQ' ||
                        this.temp_item.note === 'NA')
                    ) {
                      checknote = 'c'
                    }
                    y.note = this.temp_item.note
                  }
                  y.comment = this.temp_item.comment
                }
              })
            })
     this.noteg =response.data
           this.waiting = false
          }
        })
     },
    handleEditFooter() {
      this.waiting = true
      axios
        .post(
          '/api/eval/editfooter',
          {
            evalid: this.evalId,
            data: this.footerTempData,
            items: this.items,
            malus: this.malusTemp
          },
          {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.userToken}`,
            },
          },
        )
        .then(response => {
          if (response.status === 200) {
            this.synthese = this.footerTempData.synthese
            this.sim = this.footerTempData.sim
            this.exci = this.footerTempData.exci
            this.oad = this.footerTempData.oad
            this.satcli = this.footerTempData.satcli
            this.pcc = this.footerTempData.pcc
            this.noteg = response.data
            this.waiting = false
            this.noteg = response.data
            if (this.malusTemp) {
              this.malus = this.malusTemp
              this.malusTemp = null
            }
          } else {
            alert('erreur !')
            this.waiting = false
          }
        })
    },
    range(y) {
      var arr = [0,10]
      var temp = 10
      while(temp <= y) {
        temp = temp + 5
        arr.push(temp)
      }
      return arr
    },
    noteGlobalwithoutMalus() {
       var re = 0
       this.items.forEach(x => {
          x.elements.forEach(y => {
            if (typeof y.note !== 'undefined') {
              if (y.note === 'AQ' || y.note === 'NA') {
                re += y.bareme
               }
                if (y.note === 'PA') {
                re += y.bareme/2
               }
            }
          })
       })
       return ((re - this.noteg)/(100/600)).toFixed(0)
    },
  },
}
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
