<template>
  <b-nav-item >
    <feather-icon
      size="21"
      :icon="`${isDark ? 'Sun' : 'Moon'}Icon`"
      @click="skin = isDark ? 'light' : 'dark'"
    />
   <span @click="handleNotfication" v-if="this.role=='superviseur' && this.countNotification > 0"> <feather-icon icon="MessageSquareIcon"  size="21" class="ml-2" /> {{this.countNotification}} Constats non traités </span> 
     <span @click="handleNotfication" v-if="this.role=='agent' && this.countNotification > 0"> <feather-icon icon="MessageSquareIcon"  size="21" class="ml-2" /> {{this.countNotification}} Nouvelle Evaluation (s) </span> 
  </b-nav-item>
</template>

<script>
import useAppConfig from '@core/app-config/useAppConfig'
import { computed } from '@vue/composition-api'
import { BNavItem } from 'bootstrap-vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
export default {
  components: {
    BNavItem,
  },
  data(){
    return {
      countNotification : '',
      userData: JSON.parse(localStorage.getItem('userData')),
      userToken: useJwt.getToken(),
      role : '',
    }
  },
  setup() {
    const { skin } = useAppConfig()

    const isDark = computed(() => skin.value === 'dark')

    return { skin, isDark }
  },
  created(){
     this.role = this.userData.role
      axios
      .get(`/api/contstat/count/notification/user`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      }).then(response=>{ 
 
        this.countNotification = response.data
      })
  },
  methods: {
    handleNotfication(){
      if(this.role == 'superviseur'){
      this.$router.push({name: 'liste-constat-action'})
      axios.get('/api/contstat/delete/notification/user', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      }
      else {
           this.$router.push({name: 'myeval-agent'})
      axios.get('/api/contstat/delete/notification/user', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      }
   
    },
  }
}
</script>
