<template>
  <div>
    <!-- search input -->
    <section id="knowledge-base-search">
      <b-card
        no-body
        class="knowledge-base-bg text-center"
        :style="{
          backgroundImage: `url(${require('@/assets/images/pages/banner.png')})`
        }"
      >
        <b-card-body class="card-body">
          <h2 class="">
            Bonjour {{ user.fullName }},<br />
            Bienvenue dans votre espace Myqual - Superviseur
          </h2>
        </b-card-body>
      </b-card>
    </section>
  </div>
</template>

<script>
import { BCard, BCardBody } from 'bootstrap-vue'

export default {
  components: {
    BCard,
    BCardBody,
  },
  data() {
    return {
      user: JSON.parse(localStorage.getItem('userData')),
    }
  },
  computed: {},
  created() {},
}
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-knowledge-base.scss";
</style>
