<template>
  <div>
    <b-row>
        
      <b-col lg="3" md="6" offset="2">
        <b-card class="card-developer-meetup" no-body>
          <div class="bg-light-primary rounded-top text-center">
            <b-img
              :src="require('@/assets/images/illustration/email.svg')"
              alt="Meeting Pic"
              height="170"
            />
          </div>
          <b-card-body>
            <!-- media -->
            <b-media no-body>
              <b-media-aside class="mr-1">
                <b-avatar rounded variant="light-primary" size="34">
                  <feather-icon icon="ClockIcon" size="18" />
                </b-avatar>
              </b-media-aside>
              <b-media-body>
                <h3 class="mb-0">
                  {{ time }}
                </h3>
                <small>Heure</small>
              </b-media-body>
            </b-media>
            <b-media no-body>
              <b-media-aside class="mr-1">
                <b-avatar rounded variant="light-success" size="34">
                  <feather-icon icon="CalendarIcon" size="18" />
                </b-avatar>
              </b-media-aside>
              <b-media-body>
                <h3 class="mb-0">
                  {{ today }}
                </h3>
                <small>Date</small>
              </b-media-body>
            </b-media>
            <b-media no-body>
              <b-media-aside class="mr-1">
                <b-avatar rounded variant="light-info" size="34">
                  <feather-icon icon="PaperclipIcon" size="18" />
                </b-avatar>
              </b-media-aside>
              <b-media-body>
                <h3 class="mb-0">S{{ weekofyear }}</h3>
                <small>Semaine</small>
              </b-media-body>
            </b-media>
          </b-card-body>
        </b-card>
      </b-col>
    
      <b-col lg="4" md="4">
        <b-card v-if="waiting" style="height:380px;width:100%;" class="text-center" >
          <b-spinner style="margin-top:24%;width: 3rem; height: 3rem;" type="grow" variant="primary" />
        </b-card>
        <moyenne-globale-chart v-else :data="data.moyenneglobal" />
      </b-col>
 
    </b-row>
    <b-row>
        <b-col lg="12" md="12">
        <b-card v-if="waiting" style="height:380px;width:100%;" class="text-center" >
          <b-spinner style="margin-top:24%;width: 3rem; height: 3rem;" type="grow" variant="success" />
        </b-card>
        <eval-nbr-by-activity v-else :data="data.verticalBar" />
      </b-col>
      
    </b-row>
     
    <b-row>
       <b-col md="12" lg="12" >
        <b-card v-if="waiting" style="height:380px;width:100%;" class="text-center" >
          <b-spinner style="margin-top:24%;width: 3rem; height: 3rem;" type="grow" variant="info" />
        </b-card>
        <moyenne-par-activite v-else  :data="data.mpa" />
      </b-col> 
      <!-- <b-col md="5">
        <b-card v-if="waiting" style="height:380px;width:100%;" class="text-center" >
          <b-spinner style="margin-top:24%;width: 3rem; height: 3rem;" type="grow" variant="secondary" />
        </b-card>
        <eval-ratio-per-avtivity v-else :data="data.ratio" />
      </b-col> -->
    </b-row>
      <b-col md="12">
            <b-row>
      <b-card style="width:200%">
       <h2 class=" d-flex justify-content-center mt-2 mb-4">Liste visite clients: </h2>
  <b-row>
      <b-col md="4" sm="4" >
            <b-form-group class="mb-0">
              <label class="d-inline-block text-sm-left mr-50">Par page</label>
              <b-form-select
                id="perPageSelect"
                v-model="perPage"
                size="sm"
                class="w-50"
                :options="pageOptions"
              />
              / {{ countUser.length }}
            </b-form-group>
      </b-col>
      <b-col/>
      <b-col md="12" sm="8" class="d-flex justify-content-end" >
           <b-form-group
              label="filter"
              label-cols-sm="2"
              label-align-sm="right"
              label-for="filterInput"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filterInput"
                  v-model="filter"
                  type="search"
                  placeholder="Tapez pour rechercher"
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Effacer
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
       </b-col>
  </b-row>
          <b-table
     small
  class="mt-2"
              hover
              responsive
              :per-page="perPage"
              :items="countUser"
              :fields="fields"
        
    >

          </b-table>
          <b-col cols="12">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="center"
              size="sm"
              class="my-0"
            />
          </b-col>
      </b-card>
    </b-row>
      </b-col>
    <div>
      <MessageFiled></MessageFiled>
    </div>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BCard,
  BMediaAside,
  BAvatar,
  BMediaBody,
  BMedia,
  BImg,
  BCardBody,
  BSpinner,
  BTable,
  BFormSelect,
    BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
  BFormGroup,
  BButton,
} from 'bootstrap-vue'
import MessageFiled from './MessageFiled.vue'
import axios from 'axios'
import useJwt from '@/auth/jwt/useJwt'
import { kFormatter } from '@core/utils/filter'
import MoyenneGlobaleChart from './homecharts/MoyenneGlobaleChart.vue'
import MoyenneParActivite from './homecharts/MoyenneParActivite.vue'
import EvalRatioPerAvtivity from './homecharts/EvalRatioPerAvtivity.vue'
import EvalNbrByActivity from './homecharts/EvalNbrByActivity.vue'

export default {
  components: {
    BRow,
    BButton,
    BCol,
    BCard,
    BMediaAside,
    BAvatar,
    BMediaBody,
    BMedia,
    BImg,
    BCardBody,
    MoyenneGlobaleChart,
    MoyenneParActivite,
    EvalRatioPerAvtivity,
    EvalNbrByActivity,
    BSpinner,
    BFormSelect,
    BTable,
      BPagination,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
    MessageFiled,
    BFormGroup,
  },
  data() {
    return {
            perPage: 10,
      pageOptions: [5, 10, 15, 20],
      totalRows: 1,
      currentPage: 1,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
     fields: [
        {
          key: 'user',
           label: 'Client',
          sortable: true,
        },
        {
          key: 'count',
          label: 'nombre des visites ',
          sortable: true,
          class:'text-center'
        },
          {
          key: 'date',
          label: 'nDate du dernier visite',
          sortable: true,
          class:'text-center'
        },
      ],
      countUser : [],
      time: null,
      waiting: true,
      data: {
        moyenneglobal: {
          series: [],
          ef: null,
          sim: null,
        },
        mpa: {
          series: [{ name: 'moyenne en %:', data: [] }],
          data: [],
        },
        verticalBar: {
          series: [{ name: '', data: [] }],
          data: [],
        },
        ratio: {
          series: [],
          data: [],
        },
      },
      userToken: useJwt.getToken(),
    }
  },
  computed: {
    weekofyear() {
      var now = new Date()
      const dayNumber = (now.getUTCDay() + 6) % 7
      now.setUTCDate(now.getUTCDate() - dayNumber + 3)
      const firstMonday = now.valueOf()
      now.setUTCMonth(0, 1)
      if (now.getUTCDay() !== 4) {
        now.setUTCMonth(0, 1 + ((4 - now.getUTCDay() + 7) % 7))
      }
      return Math.ceil((firstMonday - now) / (7 * 24 * 3600 * 1000)) + 1
    },
    colors() {
      var colors = []
      var letters = '0123456789ABCDEF'
      var color = ''
      var i = 0
      var j = 0
      for (i = 0; i < 4; i += 1) {
        color = '#'
        for (j = 0; j < 6; j += 1) {
          color += letters[Math.floor(Math.random() * 16)]
        }
        colors.push(color)
      }
      return colors
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.setInterval(() => {
        this.showTime()
      }, 1000)
    })
  },
  created() {
    this.getCountVisiteUsers()
    this.showTime()
    const today = new Date()
    const dd = String(today.getDate()).padStart(2, '0')
    const mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
    const yyyy = today.getFullYear()
    this.today = `${dd}/${mm}/${yyyy}`
    axios
      .get('/api/reporting/home', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.data.moyenneglobal.ef = response.data.eval_ef
        this.data.moyenneglobal.sim = response.data.eval_sim
        this.data.moyenneglobal.series = [response.data.moyenne]
        this.data.verticalBar.data = Object.keys(response.data.eval_par_activite) // names
        this.data.verticalBar.series[0].data = Object.values(response.data.eval_par_activite) // values
        this.data.ratio.data = Object.keys(response.data.eval_par_activite)
        this.data.ratio.series = Object.values(response.data.eval_par_activite)
        this.data.mpa.data = Object.keys(response.data.moyenne_par_activite)
        this.data.mpa.series[0].data = Object.values(response.data.moyenne_par_activite)
        this.waiting = false
      })
  },
  methods: {
    kFormatter,
    showTime() {
      const date = new Date()
      let h = date.getHours() // 0 - 23
      let m = date.getMinutes() // 0 - 59
      let s = date.getSeconds()
      let session = 'AM'

      if (h === 0) {
        h = 12
      }

      if (h > 12) {
        h -= 12
        session = 'PM'
      }

      h = h < 10 ? `0${h}` : h
      m = m < 10 ? `0${m}` : m
      s = s < 10 ? `0${s}` : s

      const time = `${h}:${m}:${s} ${session}`
      this.time = time
    },
    getRandomColor() {
      var letters = '0123456789ABCDEF'
      var color = '#'
      var i = 0
      for (i; i < 6; i += 1) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    },
    getCountVisiteUsers(){
      axios.get('/api/getCountVisiteUsers')
      .then(response=>{
       this.countUser = response.data
        this.totalRows = this.countUser.length
      })
    },
      onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
  },
}
</script>
<style lang="scss">
</style>
