<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo">
        <b-img height="50" width="50" :src="appLogoImage" alt="logo" />
        <b-img
            style="margin-left:5%;margin-top:3%;"
            width="140"
            height="35"
            :src="logoText"
            alt="logo"
        />
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col
        lg="4"
        style="margin-top:-8%"
        class="d-flex align-items-center auth-bg px-2 p-lg-5"
      >
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto ">
          <b-img
            style="margin-left:20%;"
            height="200"
            width="200"
            :src="appLogoImage"
            alt="logo"
          />
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            Bienvenue à
            <b-img
                style=""
                width="100"
                height="25"
                :src="logoText"
                alt="logo"
           />. 
            <br/> Outil Monitoring pour Piloter la Qualité
          </b-card-title>
          <b-card-text class="mb-2">
            Veuillez vous connecter à votre compte.
          </b-card-text>

          <!-- form -->
          <validation-observer ref="loginForm">
            <b-form class="auth-login-form mt-2" @submit.prevent="login">
              <!-- email -->
              <b-form-group label="Email" label-for="login-email">
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    placeholder="...@myopla.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Mot de passe</label>
                  <b-link>
                    <small>Mot de passe oublié?</small>
                  </b-link>
                </div>
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false : null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <!-- <b-form-group
                label="Rôle"
                label-for="login-role"
                v-slot="{ ariaDescribedby }"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Role"
                  rules="required"
                >
                  <b-row>
                    <b-col class="mt-1">
                      <b-form-radio
                        v-model="role"
                        :aria-describedby="ariaDescribedby"
                        name="role"
                        value="qualiticien"
                        button
                        button-variant="outline-primary"
                        >Qualiticien</b-form-radio
                      >
                    </b-col>
                    <b-col class="mt-1">
                      <b-form-radio
                        v-model="role"
                        :aria-describedby="ariaDescribedby"
                        name="role"
                        value="agent"
                        button
                        button-variant="outline-primary"
                        >Agent</b-form-radio
                      >
                    </b-col>
                    <b-col class="mt-1">
                      <b-form-radio
                        class="float-right"
                        v-model="role"
                        :aria-describedby="ariaDescribedby"
                        name="role"
                        value="admin"
                        button
                        button-variant="outline-primary"
                        >Admin</b-form-radio
                      >
                    </b-col>
                  </b-row>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group> -->
              <!-- submit buttons -->
              <b-button type="submit" variant="primary" block>
                Se connecter
              </b-button>
            </b-form>
          </validation-observer>
        </b-col>
      </b-col>
      <!-- /Login-->
    </b-row>
    <b-modal
      v-model="loginwait"
      hide-footer
      hide-header
      hide-header-close
      no-close-on-backdrop
      centered
      ><div class="d-flex justify-content-center ">
        <b-spinner class="mx-1" variant="primary" type="grow" />
        <b-spinner class="mx-1" variant="secondary" type="grow" />
        <b-spinner class="mx-1" variant="danger" type="grow" />
        <b-spinner class="mx-1" variant="warning" type="grow" />
        <b-spinner class="mx-1" variant="success" type="grow" />
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BModal,
  BSpinner,
  BFormRadio,
} from 'bootstrap-vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import store from '@/store/index'
import useJwt from '@/auth/jwt/useJwt'
import {
  adminAbility,
  qualiticienAbility,
  agentAbility,
  clientAbility,
} from '@/libs/acl/config'
import { getHomeRouteForLoggedInUser } from '@/auth/utils'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    ValidationProvider,
    ValidationObserver,
    BModal,
    BSpinner,
    BFormRadio,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      status: '',
      password: '',
      userEmail: '',
      //role: '',
      appLogoImage: require('@/assets/images/logo/myqual-logo.png'),
      sideImg: require('@/assets/images/pages/login-v2.svg'),
      logoText: require('@/assets/images/logo/textLogo3.png'),
      // validation rulesimport store from '@/store/index'
      required,
      email,
      loginwait: false,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require('@/assets/images/pages/login-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  methods: {
    /* validationForm() {
      this.$refs.loginValidation.validate().then(success => {
        if (success) {
          this.$toast({
            component: ToastificationContent,
            props: {
              title: 'Form Submitted',
              icon: 'EditIcon',
              variant: 'success',
            },
          })
        }
      })
    }, */
    login() {
      this.$refs.loginForm.validate().then(success => {
        if (success) {
          this.loginwait = true
          useJwt
            .login({
              email: this.userEmail,
              password: this.password,
              //role: this.role,
            })
            .then(response => {
              // i added this message check because axios error catching did not work correctly,
              // i also removed response status from backend.
              this.loginwait = false
              if(response.data.message === 'disabled') {
                this.$swal({
                  text:
                    'votre compte a été désactivé',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              } else if (response.data.message === 'incorrect') {
                this.$swal({
                  text:
                    'informations incorrectes! vérifiez votre email, votre mot de passe ainsi que votre rôle',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              } else if (response.data.message === 'authorized') {
                  const userData = {}
                  userData.fullName = response.data.user.name
                  userData.email = response.data.user.email
                  userData.userId = response.data.user.id
                  userData.phone = response.data.user.telephone
                  userData.matricule = response.data.user.matricule
                  userData.role = response.data.user_role
                  useJwt.setToken(response.data.access_token)
                  userData.ability = response.data.ability
                  /*
                  // Update when logged in
                  if (response.data.user_role === 'admin') {
                    userData.ability = adminAbility
                  }
                  if (response.data.user_role === 'qualiticien') {
                    userData.ability = qualiticienAbility
                  }
                  if (response.data.user_role === 'agent') {
                    userData.ability = agentAbility
                  }
                  if (response.data.user_role === 'client') {
                    userData.ability = clientAbility
                  }*/
                  localStorage.setItem('userData', JSON.stringify(userData))
                  this.$ability.update(userData.ability)

                  this.$router
                    .replace(getHomeRouteForLoggedInUser(userData.role))
                    .then(() => {
                      this.$toast({
                        component: ToastificationContent,
                        position: 'top-right',
                        props: {
                          title: `Bonjour ${userData.fullName}`,
                          icon: 'CoffeeIcon',
                          variant: 'success',
                          text: `Vous vous êtes connecté avec succès en tant que ${userData.role}. Maintenant, vous pouvez commencer à explorer!`,
                        },
                      })
                    })
              }
            })
            .catch(() => {
              this.loginwait = false
              this.$swal({
                  text:
                    'erreur! veuillez réessayer ultérieurement',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              /* does not work correctly
              if(error.response.message === "disabled") {
                this.$swal({
                  text:
                    'votre compte a été désactivé',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              } else {
                this.$swal({
                  ext:
                    'informations incorrectes! vérifiez votre email, votre mot de passe ainsi que votre rôle',
                  customClass: {
                    confirmButton: 'btn btn-danger',
                  },
                  icon: 'error',
                  buttonsStyling: false,
                })
              }
              */
            })
        } else {
          this.$swal({
            text: 'veuillez remplir tous les champs !',
            customClass: {
              confirmButton: 'btn btn-danger',
            },
            icon: 'warning',
            buttonsStyling: false,
          })
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";
</style>
