<template>
    <div>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <span>
            <fab :actions="fabActions"
                @NewMail="NewMail"
                @NewMessage="NewMessage"
                @Mails="Mails"
                @Messages="Messages"
                :bg-color="bgColor"
                main-icon ="email"
                main-tooltip ="Les Messages"
                first-tooltip ="Fermer"
                second-tooltip ="Nouveau Message"
            ></fab>
        </span>
       <b-modal  
       @ok="sendMail"
       ok-title="envoyer"
      cancel-title="Annuler" size="lg" modal-class="mymodal"  title="Nouveau Mail" centered  id="modal-scoped" ref= "my-modal">
  <template #modal-header>
        <div class="w-100">
          <h4 class="float-left"> Nouveau Message :</h4>
       
        </div>
        <div class="flex justify-content">
            <feather-icon icon="MailIcon" size="23" ></feather-icon>
        </div>
      </template>
      
        <div>
    
             <b-row class="mb-1">
        <b-col class="m-auto">
          <div class=" d-flex align-items-center ">
            <div class="">à:</div>
              <v-select
              v-model="qualiticien"
              item-text="nom"
              label="nom"
              :options="qualiticiens"
              style="width: 95%; border-style: none !important;"
              class="select-size-sm style-chooser"

            >
            </v-select>
          </div>
        </b-col>
      </b-row>
      
        </div>
            <div>
    <quill-editor
      class="mb-1"
      :options="editorOption"
      @change="onChange2"
    />
  </div>
           <div>
    <quill-editor
 
      id="editor"
 v-model="content"

    />
  </div>
       </b-modal>
    
             

    </div>
</template>
<script>
import  {BButton,BBadge, BCol,BModal,VBModal,BContainer,BRow, } from 'bootstrap-vue'
import fab from 'vue-fab'
import vSelect from 'vue-select'
import useJwt from '@/auth/jwt/useJwt'
import axios from 'axios'
import { quillEditor } from 'vue-quill-editor'
import 'quill/dist/quill.core.css'
// eslint-disable-next-line
import 'quill/dist/quill.snow.css'
// eslint-disable-next-line
import 'quill/dist/quill.bubble.css'
export default {
    components: {
    BBadge,
    BButton,
    BCol,
    fab,
    BModal,
    BContainer,
    BRow,
    vSelect,
    quillEditor,
  },
   data(){
      return {
          editorOption: {
      theme: 'bubble',
      placeholder: 'Objet:'
    },
    content: '',
    Subject: '',
          qualiticiens: [],
           userToken: useJwt.getToken(),
          qualiticien: '',
          bgColor: '#2e5aff',
          position: 'top-right',
          fabActions: [
             
              {
                  name: 'NewMail',
                  icon: 'replay',
                   tooltip: 'Nouveau Mail',
              },
              {
                  name: 'NewMessage',
                  icon: 'send',
                  tooltip: 'Nouveau message',
              },
              {
                  name: 'Mails',
                  icon: 'drafts',
                   tooltip: 'Les Mails',
              },
              {
                  name: 'Messages',
                  icon: 'inbox',
                   tooltip: 'Les messages',
              },
          ]
      }
      },
        directives: {
        'b-modal': VBModal,
    },
      methods: {
          NewMail(){
           this.$refs['my-modal'].show('modal-scoped')
      },
        NewMessage(){
          console.log('NewMessage');
      },
      Mails() {
         console.log('Mails') 
      },
      Messages(){
          console.log('Messages')
      },
      getQualiticiens(){
             axios
      .get('/api/staff/qualiticiens', {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.qualiticiens = response.data
        
      })
      },
        // onChange(text) {
        //       this.content = text.text
        //     },
             onChange2(text) {
              this.Subject = text.text
            },
      sendMail(){

        axios
      .post('/api/mail/send', 
      {
         qual_id:this.qualiticien.id,
         subject:this.Subject,
        content: this.content,
      },
      {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        if(response.status ==='200'){
        this.qualiticien = ''
        this.Subject = null
        this.content = null
         this.$swal({
              text: 'Mail a été envoyé',
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
              buttonsStyling: false,
        })

        }
      
        
      })
      }
      },
      created(){
          this.getQualiticiens()
      }
}
</script>
<style>
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
</style>
<style lang="scss">

@import "@core/scss/vue/libs/vue-select.scss";
</style>
