<template>
  <b-card title="Bitcoin Price Index ₿">
    <b-card-body>
      <div
        v-for="(currency,index) in info"
        :key="index"
        class="currency"
      >
        {{ currency.description }}:
        <span class="lighten">
          <span v-html="currency.symbol"></span>
            {{ currency.rate_float | currencydecimal }}
        </span>
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
import { BCard, BCardBody } from 'bootstrap-vue'

export default {
  components: {
    BCard,
    BCardBody,
  },
  data() {
    return {
      info: null,
    }
  },
  created() {
    fetch('https://api.coindesk.com/v1/bpi/currentprice.json')
      .then(response => response.json())
      .then(data => {
        this.info = data.bpi
      })
  },
  filters: {
    currencydecimal(value) {
      return value.toFixed(2)
    },
  },
}
</script>

<style>

</style>
