<template>
  <b-card title="Ajouter un Qualiticien" style="width:60%">
    <div class="demo-vertical-spacing">
      <b-row>
        <b-col>
          <b-form-group label="Nom: " label-for="nom">
            <b-form-input v-model="nom" id="nom" autocomplete="off" />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Prénom: " label-for="prenom">
            <b-form-input v-model="prenom" id="prenom" autocomplete="off" />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="N° de téléphone: " label-for="tel">
            <b-form-input v-model="phone" id="tel" autocomplete="off" />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label for="email">Email:</label>
            <b-input-group append="@myopla.com">
              <b-form-input v-model="email" id="email" autocomplete="off" />
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Date d'integration' :" label-for="datepicker">
            <b-form-datepicker id="datepicker" v-model="dateInte" class="mb-2">
            </b-form-datepicker>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label for="matricule">Matricule:</label>
            <b-input-group prepend="#">
              <b-form-input
                id="matricule"
                v-model="matricule"
                type="number"
                autocomplete="off"
              />
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label for="mdp">Mot de passe:</label>
            <b-form-input v-model="password" id="mdp" autocomplete="off" />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="2">
          <b-button variant="" size="sm">Générer un mdp</b-button>
        </b-col>
        <b-col></b-col>
        <b-col md="2" class="float-right">
          <b-button variant="warning" @click="resetInput">Reset</b-button>
        </b-col>
        <b-col md="2">
          <b-button class="float-right" variant="success">Ajouter</b-button>
        </b-col>
      </b-row>
    </div>
  </b-card>
</template>

<script>
import {
  BInputGroup,
  BFormInput,
  BFormGroup,
  BButton,
  BCard,
  BRow,
  BCol,
  BFormDatepicker,
} from 'bootstrap-vue'
// import axios from 'axios'

export default {
  components: {
    BInputGroup,
    BFormGroup,
    BFormInput,
    BButton,
    BCard,
    BRow,
    BCol,
    BFormDatepicker,
  },
  data() {
    return {
      nom: null,
      prenom: null,
      matricule: null,
      email: null,
      password: null,
      phone: null,
      dateInte: null,
    }
  },
  computed: {},
  methods: {
    resetInput() {
      this.nom = null
      this.prenom = null
      this.matricule = null
      this.email = null
      this.password = null
      this.phone = null
      this.dateInte = null
    },
    sendRequest() {},
  },
}
</script>
