<template>
  <div>
    <div>
      <b-card no-body class="card-statistics m-auto" style="width: 60%">
        <b-card-header>
          <b-card-title>{{ service.nom }}</b-card-title>
          <b-card-text class="mr-25 mb-0">
            <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-info'">
                    <feather-icon size="24" :icon="'UserIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    {{ items.length }} <span class="font-small-3 mb-0"> Agents</span>
                  </h4>
                </b-media-body>
            </b-media>
          </b-card-text>
        </b-card-header>
        <!-- <b-card-body class="statistics-body">
          <b-row style="">
            <b-col md="5" sm="6" class="mb-2 mb-md-0 ml-3">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-success'">
                    <feather-icon size="24" :icon="'TrendingUpIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    1232
                  </h4>
                  <b-card-text class="font-small-3 mb-0">
                    Evaluation
                  </b-card-text>
                </b-media-body>
              </b-media>
            </b-col>
            <b-col md="5" sm="6" class="mb-2 mb-md-0 ml-3">
              <b-media no-body>
                <b-media-aside class="mr-2">
                  <b-avatar size="48" :variant="'light-info'">
                    <feather-icon size="24" :icon="'UserIcon'" />
                  </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                  <h4 class="font-weight-bolder mb-0">
                    {{ items.length }}
                  </h4>
                  <b-card-text class="font-small-3 mb-0">
                    Agent
                  </b-card-text>
                </b-media-body>
              </b-media>
            </b-col>
          </b-row>
        </b-card-body>-->
      </b-card>
    </div>
    <div class="mr-2 mb-2">
      <b-button
        class="float-right"
        id="toggle-btn"
        v-b-modal.modal-prevent-closing
        v-ripple.400="'rgba(255, 255, 255, 0.15)'"
        variant="outline-primary"
        @click="toAddUser"
      >
        Ajouter un agent<feather-icon size="15" :icon="'ArrowRightIcon'" />
      </b-button>
      <br />
    </div>
    <div class="custom-search d-flex">
      <span class="p-2 mr-auto">
        <h3>Liste des agents</h3>
      </span>
      <b-form-group class="mr-0">
        <div class="d-flex align-items-center p-2">
          <label class="mr-1"><b>Chercher:</b></label>
          <b-form-input
            v-model="searchTerm"
            type="text"
            class="d-inline-block"
          />
        </div>
      </b-form-group>
    </div>
    <b-table
      v-if="items.length > 0"
      striped
      hover
      :items="items"
      :fields="fields"
      :filter="searchTerm"
      @row-clicked="myRowClickHandler"
    ></b-table>
    <h3 class="alert-dark w-50 m-auto text-center" v-else>aucun agent</h3>
  </div>
</template>
<script>
import {
  BTable,
  BFormGroup,
  BFormInput,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BCardBody,
  BRow,
  BCol,
  BMedia,
  BMediaAside,
  BAvatar,
  BMediaBody,
  BButton,
} from 'bootstrap-vue'
import axios from 'axios'
import { DateTime } from 'luxon'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BTable,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BCardHeader,
    BCardTitle,
    BCardText,
    BCardBody,
    BMedia,
    BAvatar,
    BMediaAside,
    BMediaBody,
    BButton,
  },
  data() {
    return {
      fields: [
        {
          key: 'matricule',
          sortable: true,
        },
        {
          key: 'nom',
          sortable: false,
        },
        {
          key: 'prenom',
          sortable: false,
        },
        {
          key: 'created_at',
          label: "Date d'ajout",
          sortable: true,
          formatter: 'formatDateAssigned',
        },
      ],
      items: [],
      searchTerm: '',
      service: null,
      userToken: useJwt.getToken(),
    }
  },
  created() {
    // const id = this.$route.params.id
    axios
      .get(`/api/service/${this.$route.params.id}`, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.userToken}`,
        },
      })
      .then(response => {
        this.items = response.data.agents
        this.service = response.data.service
      })
  },
  methods: {
    formatDateAssigned(value) {
      const formattedDate = DateTime.fromISO(value).toLocaleString(
        Date.DATE_SHORT,
      )
      return formattedDate
    },
    myRowClickHandler(record) {
      this.$router.push({ name: 'agent-details', params: { id: record.id } })
    },
    toAddUser() {
       this.$router.push({ name: 'ajouter-utilisateur'}) 
    }
  },
}
</script>
